src/modules/agrega/contenidosportal/src/main/resources/es/pode/contenidos/negocio/informes/servicio/SrvInformeService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvInformeService" 
    targetNamespace="http://servicio.informes.negocio.contenidos.pode.es"
    xmlns:impl="http://servicio.informes.negocio.contenidos.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.informes.negocio.contenidos.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="eliminarInforme">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ficheros" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarInformeResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarInformeReturn" type="impl:ValidaBajaInformeVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarInformeFederado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para eliminar informes federados
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ficheros" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarInformeFederadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarInformeFederadoReturn" type="impl:ValidaBajaInformeVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarInformes">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarInformesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarInformesReturn" type="impl:ArrayOfInformeVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarInformesFederados">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para listar los metodos federados
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarInformesFederadosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarInformesFederadosReturn" type="impl:ArrayOfInformeVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarInformesMas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarInformesMasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarInformesMasReturn" type="impl:ArrayOfInformeVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="recuperarInforme">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="fichero" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="recuperarInformeResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="recuperarInformeReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="recuperarInformeMas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="fichero" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="recuperarInformeMasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="recuperarInformeMasReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="recuperarInformesFederados">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metod para recuperar los informes federados
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="fichero" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="recuperarInformesFederadosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="recuperarInformesFederadosReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="InformeVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfInformeVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:InformeVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ValidaBajaInformeVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="descripcionBaja" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="InformesBorrados" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="eliminarInforme1Request">
        <wsdl:part element="impl:eliminarInforme" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarInforme1Response">
        <wsdl:part element="impl:eliminarInformeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarInformeFederado2Request">
        <wsdl:part element="impl:eliminarInformeFederado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarInformeFederado2Response">
        <wsdl:part element="impl:eliminarInformeFederadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarInformes3Request">
        <wsdl:part element="impl:listarInformes" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarInformes3Response">
        <wsdl:part element="impl:listarInformesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarInformesFederados4Request">
        <wsdl:part element="impl:listarInformesFederados" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarInformesFederados4Response">
        <wsdl:part element="impl:listarInformesFederadosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarInformesMas5Request">
        <wsdl:part element="impl:listarInformesMas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarInformesMas5Response">
        <wsdl:part element="impl:listarInformesMasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarInforme6Request">
        <wsdl:part element="impl:recuperarInforme" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarInforme6Response">
        <wsdl:part element="impl:recuperarInformeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarInformeMas7Request">
        <wsdl:part element="impl:recuperarInformeMas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarInformeMas7Response">
        <wsdl:part element="impl:recuperarInformeMasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarInformesFederados8Request">
        <wsdl:part element="impl:recuperarInformesFederados" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarInformesFederados8Response">
        <wsdl:part element="impl:recuperarInformesFederadosResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvInformeService">
        <wsdl:operation name="eliminarInforme">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarInforme1Request" 
                        name="eliminarInforme1Request"/>
            <wsdl:output message="impl:eliminarInforme1Response" 
                         name="eliminarInforme1Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarInformeFederado">
                
            <wsdl:documentation> 
                Metodo para eliminar informes federados
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarInformeFederado2Request" 
                        name="eliminarInformeFederado2Request"/>
            <wsdl:output message="impl:eliminarInformeFederado2Response" 
                         name="eliminarInformeFederado2Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarInformes">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarInformes3Request" 
                        name="listarInformes3Request"/>
            <wsdl:output message="impl:listarInformes3Response" 
                         name="listarInformes3Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarInformesFederados">
                
            <wsdl:documentation> 
                Metodo para listar los metodos federados
            </wsdl:documentation>
            <wsdl:input message="impl:listarInformesFederados4Request" 
                        name="listarInformesFederados4Request"/>
            <wsdl:output message="impl:listarInformesFederados4Response" 
                         name="listarInformesFederados4Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarInformesMas">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarInformesMas5Request" 
                        name="listarInformesMas5Request"/>
            <wsdl:output message="impl:listarInformesMas5Response" 
                         name="listarInformesMas5Response"/>
        </wsdl:operation>
        <wsdl:operation name="recuperarInforme">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:recuperarInforme6Request" 
                        name="recuperarInforme6Request"/>
            <wsdl:output message="impl:recuperarInforme6Response" 
                         name="recuperarInforme6Response"/>
        </wsdl:operation>
        <wsdl:operation name="recuperarInformeMas">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:recuperarInformeMas7Request" 
                        name="recuperarInformeMas7Request"/>
            <wsdl:output message="impl:recuperarInformeMas7Response" 
                         name="recuperarInformeMas7Response"/>
        </wsdl:operation>
        <wsdl:operation name="recuperarInformesFederados">
                
            <wsdl:documentation> 
                Metod para recuperar los informes federados
            </wsdl:documentation>
            <wsdl:input message="impl:recuperarInformesFederados8Request" 
                        name="recuperarInformesFederados8Request"/>
            <wsdl:output message="impl:recuperarInformesFederados8Response" 
                         name="recuperarInformesFederados8Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvInformeServiceSoapBinding" type="impl:SrvInformeService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="eliminarInforme">
            <wsdlsoap:operation soapAction="eliminarInforme" style="document"/>
            <wsdl:input name="eliminarInforme1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarInforme1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarInformeFederado">
            <wsdlsoap:operation soapAction="eliminarInformeFederado" style="document"/>
            <wsdl:input name="eliminarInformeFederado2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarInformeFederado2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarInformes">
            <wsdlsoap:operation soapAction="listarInformes" style="document"/>
            <wsdl:input name="listarInformes3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarInformes3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarInformesFederados">
            <wsdlsoap:operation soapAction="listarInformesFederados" style="document"/>
            <wsdl:input name="listarInformesFederados4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarInformesFederados4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarInformesMas">
            <wsdlsoap:operation soapAction="listarInformesMas" style="document"/>
            <wsdl:input name="listarInformesMas5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarInformesMas5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="recuperarInforme">
            <wsdlsoap:operation soapAction="recuperarInforme" style="document"/>
            <wsdl:input name="recuperarInforme6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="recuperarInforme6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="recuperarInformeMas">
            <wsdlsoap:operation soapAction="recuperarInformeMas" style="document"/>
            <wsdl:input name="recuperarInformeMas7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="recuperarInformeMas7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="recuperarInformesFederados">
            <wsdlsoap:operation soapAction="recuperarInformesFederados" style="document"/>
            <wsdl:input name="recuperarInformesFederados8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="recuperarInformesFederados8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvInformeServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvInformeServiceSoapBinding" name="SrvInformeService">
            <wsdlsoap:address location="http://localhost:8080/contenidosportal/services/SrvInformeService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>