src/modules/agrega/planificador/src/main/resources/es/pode/planificador/negocio/servicios/SrvRegistroPlanificadorService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvRegistroPlanificadorService" 
    targetNamespace="http://servicios.negocio.planificador.pode.es"
    xmlns:impl="http://servicios.negocio.planificador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.planificador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="registrarTrabajo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Registro del como ha ido la ejecución de un trabajo.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="trabajo" type="impl:TareaEjecutadaVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Datos del trabajo ejecutado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarTrabajoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="registrarTrabajoReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="registrarTrabajoFechaFin">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Registro de la fecha de fin de ejecución de un trabajo.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="trabajoEjecutado" type="impl:TareaEjecutadaVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Datos a actualizar del trabajo que ha finalizado su ejecución.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarTrabajoFechaFinResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="registrarTrabajoFechaFinReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="registrarTrabajoHijo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Nos permite registrar el resultado de la ejecucución de un
                        trabajo derivado (subtrabajo).
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="trabajoHijo" type="impl:RegistroTareaEjecutadaVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Datos del trabajo derivado ejecutado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="registrarTrabajoHijoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="registrarTrabajoHijoReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="registrarTrabajoInterrumpido">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Servicio para cambiar de estado a interrumpido las tareas no
                        finalizadas correctamente
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="registrarTrabajoInterrumpidoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="registrarTrabajoInterrumpidoReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="RegistrarTrabajoException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfRegistroTareaEjecutadaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:RegistroTareaEjecutadaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RegistroTareaEjecutadaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estado" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codigo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tarea_ejecutada" nillable="false" type="impl:TareaEjecutadaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TareaEjecutadaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripcion de una tarea ejecutada (trabajo)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="trabajo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="grupoTrabajo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaInicio" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaFin" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="usuario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estado" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaBaja" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="registroTareaEjecutadaVOs" nillable="true" type="impl:ArrayOfRegistroTareaEjecutadaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="registrarTrabajo1Request">
        <wsdl:part element="impl:registrarTrabajo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="registrarTrabajo1Response">
        <wsdl:part element="impl:registrarTrabajoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="registrarTrabajoFechaFin2Request">
        <wsdl:part element="impl:registrarTrabajoFechaFin" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="registrarTrabajoFechaFin2Response">
        <wsdl:part element="impl:registrarTrabajoFechaFinResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="registrarTrabajoHijo3Request">
        <wsdl:part element="impl:registrarTrabajoHijo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="registrarTrabajoHijo3Response">
        <wsdl:part element="impl:registrarTrabajoHijoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="registrarTrabajoInterrumpido4Request">
        <wsdl:part element="impl:registrarTrabajoInterrumpido" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="registrarTrabajoInterrumpido4Response">
        <wsdl:part element="impl:registrarTrabajoInterrumpidoResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvRegistroPlanificadorService">
        <wsdl:operation name="registrarTrabajo">
                
            <wsdl:documentation> 
                Registro del como ha ido la ejecución de un trabajo.
            </wsdl:documentation>
            <wsdl:input message="impl:registrarTrabajo1Request" 
                        name="registrarTrabajo1Request"/>
            <wsdl:output message="impl:registrarTrabajo1Response" 
                         name="registrarTrabajo1Response"/>
        </wsdl:operation>
        <wsdl:operation name="registrarTrabajoFechaFin">
                
            <wsdl:documentation> 
                Registro de la fecha de fin de ejecución de un trabajo.
            </wsdl:documentation>
            <wsdl:input message="impl:registrarTrabajoFechaFin2Request" 
                        name="registrarTrabajoFechaFin2Request"/>
            <wsdl:output message="impl:registrarTrabajoFechaFin2Response" 
                         name="registrarTrabajoFechaFin2Response"/>
        </wsdl:operation>
        <wsdl:operation name="registrarTrabajoHijo">
                
            <wsdl:documentation> 
                Nos permite registrar el resultado de la ejecucución de un
                trabajo derivado (subtrabajo).
            </wsdl:documentation>
            <wsdl:input message="impl:registrarTrabajoHijo3Request" 
                        name="registrarTrabajoHijo3Request"/>
            <wsdl:output message="impl:registrarTrabajoHijo3Response" 
                         name="registrarTrabajoHijo3Response"/>
        </wsdl:operation>
        <wsdl:operation name="registrarTrabajoInterrumpido">
                
            <wsdl:documentation> 
                Servicio para cambiar de estado a interrumpido las tareas no
                finalizadas correctamente
            </wsdl:documentation>
            <wsdl:input message="impl:registrarTrabajoInterrumpido4Request" 
                        name="registrarTrabajoInterrumpido4Request"/>
            <wsdl:output message="impl:registrarTrabajoInterrumpido4Response" 
                         name="registrarTrabajoInterrumpido4Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvRegistroPlanificadorServiceSoapBinding" type="impl:SrvRegistroPlanificadorService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registrarTrabajo">
            <wsdlsoap:operation soapAction="registrarTrabajo" style="document"/>
            <wsdl:input name="registrarTrabajo1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registrarTrabajo1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="registrarTrabajoFechaFin">
            <wsdlsoap:operation soapAction="registrarTrabajoFechaFin" style="document"/>
            <wsdl:input name="registrarTrabajoFechaFin2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registrarTrabajoFechaFin2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="registrarTrabajoHijo">
            <wsdlsoap:operation soapAction="registrarTrabajoHijo" style="document"/>
            <wsdl:input name="registrarTrabajoHijo3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registrarTrabajoHijo3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="registrarTrabajoInterrumpido">
            <wsdlsoap:operation soapAction="registrarTrabajoInterrumpido" style="document"/>
            <wsdl:input name="registrarTrabajoInterrumpido4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registrarTrabajoInterrumpido4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvRegistroPlanificadorServiceService">
        <wsdl:documentation> 
            Servicio de auditoría. Nos permite registrar el resultado de las
            ejecuciones de los trabajos y subtrabajos.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvRegistroPlanificadorServiceSoapBinding" name="SrvRegistroPlanificadorService">
            <wsdlsoap:address location="http://localhost:8080/planificador/services/SrvRegistroPlanificadorService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>