src/modules/agrega/contenidosportal/src/main/resources/es/pode/contenidos/negocio/faqs/servicio/SrvFaqService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvFaqService" 
    targetNamespace="http://servicio.faqs.negocio.contenidos.pode.es"
    xmlns:impl="http://servicio.faqs.negocio.contenidos.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.faqs.negocio.contenidos.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="consultaFaq">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene una FAQ identificada por su ID.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="consultaFaqResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="consultaFaqReturn" type="impl:FaqVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="crearCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="categoria" type="impl:CategoriaFaqVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearCategoriaReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="crearFaq">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Crea una nueva FAQ.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="faq" type="impl:FaqVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Objeto VO que encapsula la pregunta y la respuesta a almacenar,
                                    junto con su prioridad.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearFaqResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearFaqReturn" type="impl:FaqVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarCategoriaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarCategorias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfsoapenc_long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarCategoriasResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarFaq">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarFaqResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarFaqs">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina una o varias FAQ existentes.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="faqIDs" type="impl:ArrayOfsoapenc_long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Array de IDs de las FAQ a borrar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarFaqsResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="limpiarCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="limpiarCategoriaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="limpiarFaq">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="limpiarFaqResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="listarCategorias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarCategoriasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarCategoriasReturn" type="impl:ArrayOfCategoriaFaqVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="modificarCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="categoria" type="impl:CategoriaFaqVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarCategoriaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="modificarFaq">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Actualiza los contenidos de una FAQ existente.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="faq" type="impl:FaqVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Objeto VO con la FAQ modificada. La fecha de ultima
                                    actualizacion sera sobreescrita por el servicio antes de ser
                                    almacenado en base de datos.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarFaqResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarFaqReturn" type="impl:FaqVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenCategoriasFaqs">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        devuelve todas las categorias disponibles para las faqs
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenCategoriasFaqsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenCategoriasFaqsReturn" type="impl:ArrayOfCategoriaTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCategoriaReturn" type="impl:CategoriaFaqVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCategorias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerCategoriasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCategoriasReturn" type="impl:ArrayOfCategoriaFaqVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCategoriasTraducidas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idiomasTraducibles" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerCategoriasTraducidasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCategoriasTraducidasReturn" type="impl:ArrayOfCategoriaTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerFaqs">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtener todas las FAQs disponibles.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerFaqsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerFaqsReturn" type="impl:ArrayOfFaqVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerFaqsBloquesIdiomas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idiomasTraducibles" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerFaqsBloquesIdiomasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerFaqsBloquesIdiomasReturn" type="impl:ArrayOfFaqTraducidaIdiomaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerFaqsFromIdCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idCategoria" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idiomasTraducibles" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerFaqsFromIdCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerFaqsFromIdCategoriaReturn" type="impl:ArrayOfFaqTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerFaqsPorIdioma">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene un listado de FAQs filtradas por idioma.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma de las FAQ en el codigo ISO639
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerFaqsPorIdiomaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerFaqsPorIdiomaReturn" type="impl:ArrayOfFaqTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerFaqsTraducidas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idiomasTraducibles" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerFaqsTraducidasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerFaqsTraducidasReturn" type="impl:ArrayOfFaqTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerFaqTraducida">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerFaqTraducidaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerFaqTraducidaReturn" type="impl:FaqTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenFaqsPorIdiomaCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    el idioma en el que queremos recuperar los faqs
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="categoria" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    el nombre de la categoria de la que queremos saber los faqs
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenFaqsPorIdiomaCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenFaqsPorIdiomaCategoriaReturn" type="impl:ArrayOfFaqTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="CategoriaFaqVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        La categoria de la faq
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El identificador de la categoria de la faq
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                el nombre de la categoria de la faq
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaAlta" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaBaja" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaModificacion" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="categoriaIdioma" nillable="false" type="impl:ArrayOfCategoriaIdiomaFaqVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCategoriaFaqVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:CategoriaFaqVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCategoriaIdiomaFaqVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:CategoriaIdiomaFaqVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CategoriaIdiomaFaqVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CategoriaTraducidaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomas" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCategoriaTraducidaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:CategoriaTraducidaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDescripcionFaqVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:DescripcionFaqVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DescripcionFaqVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="pregunta" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="respuesta" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="posicion" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FaqTraducidaIdiomaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pregunta" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="respuesta" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="categoria" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="posicion" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idCategoria" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFaqTraducidaIdiomaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:FaqTraducidaIdiomaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FaqTraducidaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pregunta" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="respuesta" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomas" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="categoria" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="posicion" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idCategoria" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFaqTraducidaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:FaqTraducidaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FaqVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object que encapsula los datos necesarios para ofrecer un
                        listado de preguntas frecuentes.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                ID de la entity FAQ
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaModificacion" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de última modificacion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaBaja" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="categoria" nillable="false" type="impl:CategoriaFaqVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="descripcionFaq" nillable="false" type="impl:ArrayOfDescripcionFaqVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFaqVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:FaqVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfsoapenc_long">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="soapenc:long" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="consultaFaq1Request">
        <wsdl:part element="impl:consultaFaq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaFaq1Response">
        <wsdl:part element="impl:consultaFaqResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearCategoria2Request">
        <wsdl:part element="impl:crearCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearCategoria2Response">
        <wsdl:part element="impl:crearCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearFaq3Request">
        <wsdl:part element="impl:crearFaq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearFaq3Response">
        <wsdl:part element="impl:crearFaqResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarCategoria4Request">
        <wsdl:part element="impl:eliminarCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarCategoria4Response">
        <wsdl:part element="impl:eliminarCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarCategorias5Request">
        <wsdl:part element="impl:eliminarCategorias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarCategorias5Response">
        <wsdl:part element="impl:eliminarCategoriasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarFaq6Request">
        <wsdl:part element="impl:eliminarFaq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarFaq6Response">
        <wsdl:part element="impl:eliminarFaqResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarFaqs7Request">
        <wsdl:part element="impl:eliminarFaqs" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarFaqs7Response">
        <wsdl:part element="impl:eliminarFaqsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="limpiarCategoria8Request">
        <wsdl:part element="impl:limpiarCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="limpiarCategoria8Response">
        <wsdl:part element="impl:limpiarCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="limpiarFaq9Request">
        <wsdl:part element="impl:limpiarFaq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="limpiarFaq9Response">
        <wsdl:part element="impl:limpiarFaqResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarCategorias10Request">
        <wsdl:part element="impl:listarCategorias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarCategorias10Response">
        <wsdl:part element="impl:listarCategoriasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarCategoria11Request">
        <wsdl:part element="impl:modificarCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarCategoria11Response">
        <wsdl:part element="impl:modificarCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarFaq12Request">
        <wsdl:part element="impl:modificarFaq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarFaq12Response">
        <wsdl:part element="impl:modificarFaqResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenCategoriasFaqs13Request">
        <wsdl:part element="impl:obtenCategoriasFaqs" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenCategoriasFaqs13Response">
        <wsdl:part element="impl:obtenCategoriasFaqsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoria14Request">
        <wsdl:part element="impl:obtenerCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoria14Response">
        <wsdl:part element="impl:obtenerCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategorias15Request">
        <wsdl:part element="impl:obtenerCategorias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategorias15Response">
        <wsdl:part element="impl:obtenerCategoriasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoriasTraducidas16Request">
        <wsdl:part element="impl:obtenerCategoriasTraducidas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoriasTraducidas16Response">
        <wsdl:part element="impl:obtenerCategoriasTraducidasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerFaqs17Request">
        <wsdl:part element="impl:obtenerFaqs" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerFaqs17Response">
        <wsdl:part element="impl:obtenerFaqsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerFaqsBloquesIdiomas18Request">
        <wsdl:part element="impl:obtenerFaqsBloquesIdiomas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerFaqsBloquesIdiomas18Response">
        <wsdl:part element="impl:obtenerFaqsBloquesIdiomasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerFaqsFromIdCategoria19Request">
        <wsdl:part element="impl:obtenerFaqsFromIdCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerFaqsFromIdCategoria19Response">
        <wsdl:part element="impl:obtenerFaqsFromIdCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerFaqsPorIdioma20Request">
        <wsdl:part element="impl:obtenerFaqsPorIdioma" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerFaqsPorIdioma20Response">
        <wsdl:part element="impl:obtenerFaqsPorIdiomaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerFaqsTraducidas21Request">
        <wsdl:part element="impl:obtenerFaqsTraducidas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerFaqsTraducidas21Response">
        <wsdl:part element="impl:obtenerFaqsTraducidasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerFaqTraducida22Request">
        <wsdl:part element="impl:obtenerFaqTraducida" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerFaqTraducida22Response">
        <wsdl:part element="impl:obtenerFaqTraducidaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenFaqsPorIdiomaCategoria23Request">
        <wsdl:part element="impl:obtenFaqsPorIdiomaCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenFaqsPorIdiomaCategoria23Response">
        <wsdl:part element="impl:obtenFaqsPorIdiomaCategoriaResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvFaqService">
        <wsdl:operation name="consultaFaq">
                
            <wsdl:documentation> 
                Obtiene una FAQ identificada por su ID.
            </wsdl:documentation>
            <wsdl:input message="impl:consultaFaq1Request" 
                        name="consultaFaq1Request"/>
            <wsdl:output message="impl:consultaFaq1Response" 
                         name="consultaFaq1Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearCategoria">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:crearCategoria2Request" 
                        name="crearCategoria2Request"/>
            <wsdl:output message="impl:crearCategoria2Response" 
                         name="crearCategoria2Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearFaq">
                
            <wsdl:documentation> 
                Crea una nueva FAQ.
            </wsdl:documentation>
            <wsdl:input message="impl:crearFaq3Request" 
                        name="crearFaq3Request"/>
            <wsdl:output message="impl:crearFaq3Response" 
                         name="crearFaq3Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarCategoria">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarCategoria4Request" 
                        name="eliminarCategoria4Request"/>
            <wsdl:output message="impl:eliminarCategoria4Response" 
                         name="eliminarCategoria4Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarCategorias">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarCategorias5Request" 
                        name="eliminarCategorias5Request"/>
            <wsdl:output message="impl:eliminarCategorias5Response" 
                         name="eliminarCategorias5Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarFaq">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarFaq6Request" 
                        name="eliminarFaq6Request"/>
            <wsdl:output message="impl:eliminarFaq6Response" 
                         name="eliminarFaq6Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarFaqs">
                
            <wsdl:documentation> 
                Elimina una o varias FAQ existentes.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarFaqs7Request" 
                        name="eliminarFaqs7Request"/>
            <wsdl:output message="impl:eliminarFaqs7Response" 
                         name="eliminarFaqs7Response"/>
        </wsdl:operation>
        <wsdl:operation name="limpiarCategoria">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:limpiarCategoria8Request" 
                        name="limpiarCategoria8Request"/>
            <wsdl:output message="impl:limpiarCategoria8Response" 
                         name="limpiarCategoria8Response"/>
        </wsdl:operation>
        <wsdl:operation name="limpiarFaq">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:limpiarFaq9Request" 
                        name="limpiarFaq9Request"/>
            <wsdl:output message="impl:limpiarFaq9Response" 
                         name="limpiarFaq9Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarCategorias">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarCategorias10Request" 
                        name="listarCategorias10Request"/>
            <wsdl:output message="impl:listarCategorias10Response" 
                         name="listarCategorias10Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarCategoria">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarCategoria11Request" 
                        name="modificarCategoria11Request"/>
            <wsdl:output message="impl:modificarCategoria11Response" 
                         name="modificarCategoria11Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarFaq">
                
            <wsdl:documentation> 
                Actualiza los contenidos de una FAQ existente.
            </wsdl:documentation>
            <wsdl:input message="impl:modificarFaq12Request" 
                        name="modificarFaq12Request"/>
            <wsdl:output message="impl:modificarFaq12Response" 
                         name="modificarFaq12Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenCategoriasFaqs">
                
            <wsdl:documentation> 
                devuelve todas las categorias disponibles para las faqs
            </wsdl:documentation>
            <wsdl:input message="impl:obtenCategoriasFaqs13Request" 
                        name="obtenCategoriasFaqs13Request"/>
            <wsdl:output message="impl:obtenCategoriasFaqs13Response" 
                         name="obtenCategoriasFaqs13Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCategoria">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCategoria14Request" 
                        name="obtenerCategoria14Request"/>
            <wsdl:output message="impl:obtenerCategoria14Response" 
                         name="obtenerCategoria14Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCategorias">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCategorias15Request" 
                        name="obtenerCategorias15Request"/>
            <wsdl:output message="impl:obtenerCategorias15Response" 
                         name="obtenerCategorias15Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCategoriasTraducidas">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCategoriasTraducidas16Request" 
                        name="obtenerCategoriasTraducidas16Request"/>
            <wsdl:output message="impl:obtenerCategoriasTraducidas16Response" 
                         name="obtenerCategoriasTraducidas16Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerFaqs">
                
            <wsdl:documentation> 
                Obtener todas las FAQs disponibles.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerFaqs17Request" 
                        name="obtenerFaqs17Request"/>
            <wsdl:output message="impl:obtenerFaqs17Response" 
                         name="obtenerFaqs17Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerFaqsBloquesIdiomas">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerFaqsBloquesIdiomas18Request" 
                        name="obtenerFaqsBloquesIdiomas18Request"/>
            <wsdl:output message="impl:obtenerFaqsBloquesIdiomas18Response" 
                         name="obtenerFaqsBloquesIdiomas18Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerFaqsFromIdCategoria">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerFaqsFromIdCategoria19Request" 
                        name="obtenerFaqsFromIdCategoria19Request"/>
            <wsdl:output message="impl:obtenerFaqsFromIdCategoria19Response" 
                         name="obtenerFaqsFromIdCategoria19Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerFaqsPorIdioma">
                
            <wsdl:documentation> 
                Obtiene un listado de FAQs filtradas por idioma.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerFaqsPorIdioma20Request" 
                        name="obtenerFaqsPorIdioma20Request"/>
            <wsdl:output message="impl:obtenerFaqsPorIdioma20Response" 
                         name="obtenerFaqsPorIdioma20Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerFaqsTraducidas">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerFaqsTraducidas21Request" 
                        name="obtenerFaqsTraducidas21Request"/>
            <wsdl:output message="impl:obtenerFaqsTraducidas21Response" 
                         name="obtenerFaqsTraducidas21Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerFaqTraducida">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerFaqTraducida22Request" 
                        name="obtenerFaqTraducida22Request"/>
            <wsdl:output message="impl:obtenerFaqTraducida22Response" 
                         name="obtenerFaqTraducida22Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenFaqsPorIdiomaCategoria">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenFaqsPorIdiomaCategoria23Request" 
                        name="obtenFaqsPorIdiomaCategoria23Request"/>
            <wsdl:output message="impl:obtenFaqsPorIdiomaCategoria23Response" 
                         name="obtenFaqsPorIdiomaCategoria23Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvFaqServiceSoapBinding" type="impl:SrvFaqService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaFaq">
            <wsdlsoap:operation soapAction="consultaFaq" style="document"/>
            <wsdl:input name="consultaFaq1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaFaq1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearCategoria">
            <wsdlsoap:operation soapAction="crearCategoria" style="document"/>
            <wsdl:input name="crearCategoria2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearCategoria2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearFaq">
            <wsdlsoap:operation soapAction="crearFaq" style="document"/>
            <wsdl:input name="crearFaq3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearFaq3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarCategoria">
            <wsdlsoap:operation soapAction="eliminarCategoria" style="document"/>
            <wsdl:input name="eliminarCategoria4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarCategoria4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarCategorias">
            <wsdlsoap:operation soapAction="eliminarCategorias" style="document"/>
            <wsdl:input name="eliminarCategorias5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarCategorias5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarFaq">
            <wsdlsoap:operation soapAction="eliminarFaq" style="document"/>
            <wsdl:input name="eliminarFaq6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarFaq6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarFaqs">
            <wsdlsoap:operation soapAction="eliminarFaqs" style="document"/>
            <wsdl:input name="eliminarFaqs7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarFaqs7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="limpiarCategoria">
            <wsdlsoap:operation soapAction="limpiarCategoria" style="document"/>
            <wsdl:input name="limpiarCategoria8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="limpiarCategoria8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="limpiarFaq">
            <wsdlsoap:operation soapAction="limpiarFaq" style="document"/>
            <wsdl:input name="limpiarFaq9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="limpiarFaq9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarCategorias">
            <wsdlsoap:operation soapAction="listarCategorias" style="document"/>
            <wsdl:input name="listarCategorias10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarCategorias10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarCategoria">
            <wsdlsoap:operation soapAction="modificarCategoria" style="document"/>
            <wsdl:input name="modificarCategoria11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarCategoria11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarFaq">
            <wsdlsoap:operation soapAction="modificarFaq" style="document"/>
            <wsdl:input name="modificarFaq12Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarFaq12Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenCategoriasFaqs">
            <wsdlsoap:operation soapAction="obtenCategoriasFaqs" style="document"/>
            <wsdl:input name="obtenCategoriasFaqs13Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenCategoriasFaqs13Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCategoria">
            <wsdlsoap:operation soapAction="obtenerCategoria" style="document"/>
            <wsdl:input name="obtenerCategoria14Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCategoria14Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCategorias">
            <wsdlsoap:operation soapAction="obtenerCategorias" style="document"/>
            <wsdl:input name="obtenerCategorias15Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCategorias15Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCategoriasTraducidas">
            <wsdlsoap:operation soapAction="obtenerCategoriasTraducidas" style="document"/>
            <wsdl:input name="obtenerCategoriasTraducidas16Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCategoriasTraducidas16Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerFaqs">
            <wsdlsoap:operation soapAction="obtenerFaqs" style="document"/>
            <wsdl:input name="obtenerFaqs17Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerFaqs17Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerFaqsBloquesIdiomas">
            <wsdlsoap:operation soapAction="obtenerFaqsBloquesIdiomas" style="document"/>
            <wsdl:input name="obtenerFaqsBloquesIdiomas18Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerFaqsBloquesIdiomas18Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerFaqsFromIdCategoria">
            <wsdlsoap:operation soapAction="obtenerFaqsFromIdCategoria" style="document"/>
            <wsdl:input name="obtenerFaqsFromIdCategoria19Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerFaqsFromIdCategoria19Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerFaqsPorIdioma">
            <wsdlsoap:operation soapAction="obtenerFaqsPorIdioma" style="document"/>
            <wsdl:input name="obtenerFaqsPorIdioma20Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerFaqsPorIdioma20Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerFaqsTraducidas">
            <wsdlsoap:operation soapAction="obtenerFaqsTraducidas" style="document"/>
            <wsdl:input name="obtenerFaqsTraducidas21Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerFaqsTraducidas21Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerFaqTraducida">
            <wsdlsoap:operation soapAction="obtenerFaqTraducida" style="document"/>
            <wsdl:input name="obtenerFaqTraducida22Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerFaqTraducida22Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenFaqsPorIdiomaCategoria">
            <wsdlsoap:operation soapAction="obtenFaqsPorIdiomaCategoria" style="document"/>
            <wsdl:input name="obtenFaqsPorIdiomaCategoria23Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenFaqsPorIdiomaCategoria23Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvFaqServiceService">
        <wsdl:documentation> 
            Servicio que ofrece los metodos de negocio para la gestión de
            preguntas frecuentes (FAQs).
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvFaqServiceSoapBinding" name="SrvFaqService">
            <wsdlsoap:address location="http://localhost:8080/contenidosportal/services/SrvFaqService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>