src/modules/agrega/catalogacion/src/main/resources/es/pode/catalogacion/negocio/servicios/SrvCatalogacionBasicaService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvCatalogacionBasicaService" 
    targetNamespace="http://servicios.negocio.catalogacion.pode.es"
    xmlns:impl="http://servicios.negocio.catalogacion.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.catalogacion.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="asociarTaxonomia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Mediante el servicio de fuentes taxonomicas se recupera toda el
                        path hasta el taxon seleccionado y se introduce este en el
                        objeto LOM completo introducido en la hash map. La asociacion de
                        la taxonomia se hace directamente sobre el objeto LOM completo,
                        no sobre un LomBasicoVO.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del metadato LOM-ES almacenado en una hashmap
                                    pendiente de edicion.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTaxonomia" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Nombre de la taxonomia que se va a introducir en el metadato
                                    LOM-ES.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="taxonList" type="impl:ArrayOfCBTaxonVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de taxones que conforman la ruta elegida en la taxonomia.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma en el que se inserta la nueva taxonomia.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="asociarTaxonomiaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="asociarTaxonomiaEnLomBasico">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para asociar una nueva ruta taxonomica (de un arbol
                        curricular) a un LomBasicoVO.
                        Devuelve el objeto LomBasicoVO pasado como parametro modificado
                        con la nueva ruta asociada.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del metadato LOM-ES almacenado en una hashmap
                                    pendiente de edicion.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lomBasico" type="impl:LomBasicoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Objeto que contiene los metadatos basicos recuperados del objeto
                                    LOM-ES almacenado en la tabla hash.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="taxonList" type="impl:ArrayOfCBTaxonVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de taxones recuperados de la ruta seleccionada en el arbol
                                    curricular.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="asociarTaxonomiaEnLomBasicoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="asociarTaxonomiaEnLomBasicoReturn" type="impl:LomBasicoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="cargarObjLom">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo que recoge un objeto LOM y lo introduce en una hash map
                        global al servicio.
                        Devuelve el identificador del objeto LOM que se ha introducido
                        en la tabla hash.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del objeto educativo o componente del ODE que
                                    posee el metadato. Se introduce como clave en la hashmap.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Usuario propietario del objeto educativo que posee el metadato
                                    LOM-ES.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lom" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Representacion del metadato LOM-ES para almacenarlo en la tabla
                                    hash.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cargarObjLomResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="cargarObjLomReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarObjLoms">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para eliminar objetos LOM de la tabla hash del servicio
                        de catalogacion.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de identificadores de objetos LOM para eliminar de la
                                    tabla hash.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarObjLomsResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarTaxonomia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina directamente una taxonomia dada de un objeto LOM
                        almacenado en la tabla hash.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del metadato LOM-ES almacenado en una hashmap
                                    pendiente de edicion.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTaxonomia" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Nombre de la taxonomia a eliminar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idArbol" type="xsd:int" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Posicion de la taxonomia dentro del metadato LOM-ES.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarTaxonomiaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarTaxonomiasEnLomBasico">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para eliminar una ruta taxonomica (arbol curricular) de
                        un LomBasicoVO.
                        Devuelve el objeto LomBasicoVO pasado como parametro sin la ruta
                        curricular indicada.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="lomBasico" type="impl:LomBasicoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Objeto lomBasicoVO donde eliminar la ruta curricular deseada.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idArbol" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Posicion del arbol curricular que se desea eliminar dentro del
                                    metadato LOM
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarTaxonomiasEnLomBasicoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarTaxonomiasEnLomBasicoReturn" type="impl:LomBasicoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="exportarLomes">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lomBasico" type="impl:LomBasicoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="exportarLomesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="exportarLomesReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="generarMetadatos">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Recupera los valores introducidos por el usuario mediante el
                        catalogador en un LomBasicoVO. Traspasa los valores recogidos a
                        un LOM completo almacenado en la tabla hash de objetos LOM.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del metadato LOM-ES almacenado en una hashmap
                                    pendiente de edicion.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Usuario propietario del objeto que contiene el metadato LOM-ES.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lomBasico" type="impl:LomBasicoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    ValueObject que representa un subconjunto de datos de LOM-ES
                                    recogidos desde el catalogador basico.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="generarMetadatosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="generarMetadatosReturn" type="impl:LomBasicoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="importarLomes">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ficheroLomes" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="importarLomesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="importarLomesReturn" type="impl:LomBasicoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerLomBasico">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo que recupera un objeto LOM completo y recoge los valores
                        necesarios para mostrar en el catalogador basico.
                        Devuelve un objeto LomBasicoVO con los valores requeridos desde
                        el catalogador (Titulo, descripcion, edad y los identificadores
                        de los valores elegidos de los vocabularios controlados). Para
                        recoger los identificadores de los terminos, se recogera el
                        valor en ingles desde el objeto LOM completo, y mediante el
                        servicio de vocabularios controlados, se obtendra el
                        identificador asociado. Con los identificadores, el catalogador
                        en la interfaz de usuario cargara el combo con el valor
                        seleccionado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del metadato LOM-ES almacenado en una hashmap
                                    pendiente de edicion.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Usuario propietario del objeto LOM-ES.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma en el que el usuario ha accedido al catalogador.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerLomBasicoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerLomBasicoReturn" type="impl:LomBasicoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerObjLoms">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para obtener uno o varios objetos LOM almacenados en la
                        tabla hash del servicio.
                        Devuelve una lista de IdLomVO, donde cada uno contiene un
                        identificador del objeto y una representacion mediante un
                        datahandler del metadato LOM-ES.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de identificadores de objetos LOM que se desean recuperar
                                    de la tabla hash.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerObjLomsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerObjLomsReturn" type="impl:ArrayOfIdLomVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ArbolCurricularVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Representa una ruta de un arbol curricular.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idArbol" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Indica la posicion entre taxonomias que ocupa el arbol
                                curricular representado dentro del metadato LOM-ES.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="taxones" nillable="false" type="impl:ArrayOfCBTaxonVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Contiene una lista de taxones que representan una ruta sobre un
                                arbol curricular.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfArbolCurricularVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ArbolCurricularVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CBTaxonVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Representa un taxon de una taxonomia.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del taxon dentro de la taxonomia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valorTax" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del taxon en la taxonomia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esHoja" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Atributo para indicar si el taxon tiene descendientes dentro la
                                taxonomia o no.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCBTaxonVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:CBTaxonVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ClassificationVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        ClassificationVO representa un subconjunto de los campos
                        correspondientes a la categoria Classification de LOM-ES.
                        Contiene arbolesCurriculares.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="arbolesCurriculares" nillable="false" type="impl:ArrayOfArbolCurricularVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Contiene los taxones de las taxonomias que sean "arbol
                                curricular" en el metadato LOM-ES.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EducationalVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        EducationalVO representa un subconjunto de los campos
                        correspondientes a la categoria Educational de LOM-ES. Contiene
                        tipo, contexto, edad, idiomaDest y procesoCog.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="tipo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El primer tipo especifico de recurso educativo que aparece en el
                                metadato LOM-ES.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contexto" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Representa el entorno principal en el que se debe utilizar el
                                objeto digital. Se recoge en este atributo el primer valor que
                                aparece en el metadato LOM-ES para el contexto.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="edad" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Edad del destinatario tipico. Se refiere a la edad de desarrollo
                                intelectual, en caso de que esta fuese distinta de la edad
                                cronologica.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaDest" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma utilizado por el destinatario tipico del objeto
                                educativo.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="procesoCog" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Representa la actividad provocada en el usuario de destino. Es
                                decir, el proceso cognitivo principal implicado en el proceso de
                                aprendizaje-evaluacion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GeneralVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        GeneralVO representa un subconjunto de los campos
                        correspondientes a la categoria General de LOM-ES. Contiene
                        titulo, idioma y descripcion.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre asignado al objeto educativo.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Primer idioma predominante en el objeto educativo para la
                                comunicacion con el usuario que aparezca en el metadato LOM-ES.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="desc" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Primera descripcion textual del contenido del objeto educativo
                                que se encuentre en el metadato LOM-ES.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdLomVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Representa un objeto Lom, es decir la representacion de un
                        metadato LOM-ES de un objeto educativo o de un componente del
                        ODE. Es necesario representarlo como un DataHandler para que
                        sirva de intercambio entre diferentes webservices.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del propietario de dicho metadato LOM-Es.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lomHandler" nillable="false" type="apachesoap:DataHandler">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Representacion del metadato LOM-ES.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfIdLomVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:IdLomVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LomBasicoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        ValueObject que representa un subconjunto de los campos de
                        LOM-ES. Estos campos deben ser rellenos por el usuario mediante
                        el catalogador basico.
                        Se compone de tres valueObjects:
                        - generalVO
                        - educationalVO
                        - classificationVO
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="general" nillable="false" type="impl:GeneralVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="educational" nillable="false" type="impl:EducationalVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="classification" nillable="false" type="impl:ClassificationVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="asociarTaxonomia1Request">
        <wsdl:part element="impl:asociarTaxonomia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="asociarTaxonomia1Response">
        <wsdl:part element="impl:asociarTaxonomiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="asociarTaxonomiaEnLomBasico2Request">
        <wsdl:part element="impl:asociarTaxonomiaEnLomBasico" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="asociarTaxonomiaEnLomBasico2Response">
        <wsdl:part element="impl:asociarTaxonomiaEnLomBasicoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cargarObjLom3Request">
        <wsdl:part element="impl:cargarObjLom" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cargarObjLom3Response">
        <wsdl:part element="impl:cargarObjLomResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarObjLoms4Request">
        <wsdl:part element="impl:eliminarObjLoms" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarObjLoms4Response">
        <wsdl:part element="impl:eliminarObjLomsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTaxonomia5Request">
        <wsdl:part element="impl:eliminarTaxonomia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTaxonomia5Response">
        <wsdl:part element="impl:eliminarTaxonomiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTaxonomiasEnLomBasico6Request">
        <wsdl:part element="impl:eliminarTaxonomiasEnLomBasico" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTaxonomiasEnLomBasico6Response">
        <wsdl:part element="impl:eliminarTaxonomiasEnLomBasicoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="exportarLomes7Request">
        <wsdl:part element="impl:exportarLomes" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="exportarLomes7Response">
        <wsdl:part element="impl:exportarLomesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarMetadatos8Request">
        <wsdl:part element="impl:generarMetadatos" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarMetadatos8Response">
        <wsdl:part element="impl:generarMetadatosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="importarLomes9Request">
        <wsdl:part element="impl:importarLomes" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="importarLomes9Response">
        <wsdl:part element="impl:importarLomesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerLomBasico10Request">
        <wsdl:part element="impl:obtenerLomBasico" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerLomBasico10Response">
        <wsdl:part element="impl:obtenerLomBasicoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerObjLoms11Request">
        <wsdl:part element="impl:obtenerObjLoms" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerObjLoms11Response">
        <wsdl:part element="impl:obtenerObjLomsResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvCatalogacionBasicaService">
        <wsdl:operation name="asociarTaxonomia">
                
            <wsdl:documentation> 
                Mediante el servicio de fuentes taxonomicas se recupera toda el
                path hasta el taxon seleccionado y se introduce este en el
                objeto LOM completo introducido en la hash map. La asociacion de
                la taxonomia se hace directamente sobre el objeto LOM completo,
                no sobre un LomBasicoVO.
            </wsdl:documentation>
            <wsdl:input message="impl:asociarTaxonomia1Request" 
                        name="asociarTaxonomia1Request"/>
            <wsdl:output message="impl:asociarTaxonomia1Response" 
                         name="asociarTaxonomia1Response"/>
        </wsdl:operation>
        <wsdl:operation name="asociarTaxonomiaEnLomBasico">
                
            <wsdl:documentation> 
                Metodo para asociar una nueva ruta taxonomica (de un arbol
                curricular) a un LomBasicoVO.
                Devuelve el objeto LomBasicoVO pasado como parametro modificado
                con la nueva ruta asociada.
            </wsdl:documentation>
            <wsdl:input message="impl:asociarTaxonomiaEnLomBasico2Request" 
                        name="asociarTaxonomiaEnLomBasico2Request"/>
            <wsdl:output message="impl:asociarTaxonomiaEnLomBasico2Response" 
                         name="asociarTaxonomiaEnLomBasico2Response"/>
        </wsdl:operation>
        <wsdl:operation name="cargarObjLom">
                
            <wsdl:documentation> 
                Metodo que recoge un objeto LOM y lo introduce en una hash map
                global al servicio.
                Devuelve el identificador del objeto LOM que se ha introducido
                en la tabla hash.
            </wsdl:documentation>
            <wsdl:input message="impl:cargarObjLom3Request" 
                        name="cargarObjLom3Request"/>
            <wsdl:output message="impl:cargarObjLom3Response" 
                         name="cargarObjLom3Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarObjLoms">
                
            <wsdl:documentation> 
                Metodo para eliminar objetos LOM de la tabla hash del servicio
                de catalogacion.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarObjLoms4Request" 
                        name="eliminarObjLoms4Request"/>
            <wsdl:output message="impl:eliminarObjLoms4Response" 
                         name="eliminarObjLoms4Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarTaxonomia">
                
            <wsdl:documentation> 
                Elimina directamente una taxonomia dada de un objeto LOM
                almacenado en la tabla hash.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarTaxonomia5Request" 
                        name="eliminarTaxonomia5Request"/>
            <wsdl:output message="impl:eliminarTaxonomia5Response" 
                         name="eliminarTaxonomia5Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarTaxonomiasEnLomBasico">
                
            <wsdl:documentation> 
                Metodo para eliminar una ruta taxonomica (arbol curricular) de
                un LomBasicoVO.
                Devuelve el objeto LomBasicoVO pasado como parametro sin la ruta
                curricular indicada.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarTaxonomiasEnLomBasico6Request" 
                        name="eliminarTaxonomiasEnLomBasico6Request"/>
            <wsdl:output message="impl:eliminarTaxonomiasEnLomBasico6Response" 
                         name="eliminarTaxonomiasEnLomBasico6Response"/>
        </wsdl:operation>
        <wsdl:operation name="exportarLomes">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:exportarLomes7Request" 
                        name="exportarLomes7Request"/>
            <wsdl:output message="impl:exportarLomes7Response" 
                         name="exportarLomes7Response"/>
        </wsdl:operation>
        <wsdl:operation name="generarMetadatos">
                
            <wsdl:documentation> 
                Recupera los valores introducidos por el usuario mediante el
                catalogador en un LomBasicoVO. Traspasa los valores recogidos a
                un LOM completo almacenado en la tabla hash de objetos LOM.
            </wsdl:documentation>
            <wsdl:input message="impl:generarMetadatos8Request" 
                        name="generarMetadatos8Request"/>
            <wsdl:output message="impl:generarMetadatos8Response" 
                         name="generarMetadatos8Response"/>
        </wsdl:operation>
        <wsdl:operation name="importarLomes">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:importarLomes9Request" 
                        name="importarLomes9Request"/>
            <wsdl:output message="impl:importarLomes9Response" 
                         name="importarLomes9Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerLomBasico">
                
            <wsdl:documentation> 
                Metodo que recupera un objeto LOM completo y recoge los valores
                necesarios para mostrar en el catalogador basico.
                Devuelve un objeto LomBasicoVO con los valores requeridos desde
                el catalogador (Titulo, descripcion, edad y los identificadores
                de los valores elegidos de los vocabularios controlados). Para
                recoger los identificadores de los terminos, se recogera el
                valor en ingles desde el objeto LOM completo, y mediante el
                servicio de vocabularios controlados, se obtendra el
                identificador asociado. Con los identificadores, el catalogador
                en la interfaz de usuario cargara el combo con el valor
                seleccionado.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerLomBasico10Request" 
                        name="obtenerLomBasico10Request"/>
            <wsdl:output message="impl:obtenerLomBasico10Response" 
                         name="obtenerLomBasico10Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerObjLoms">
                
            <wsdl:documentation> 
                Metodo para obtener uno o varios objetos LOM almacenados en la
                tabla hash del servicio.
                Devuelve una lista de IdLomVO, donde cada uno contiene un
                identificador del objeto y una representacion mediante un
                datahandler del metadato LOM-ES.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerObjLoms11Request" 
                        name="obtenerObjLoms11Request"/>
            <wsdl:output message="impl:obtenerObjLoms11Response" 
                         name="obtenerObjLoms11Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvCatalogacionBasicaServiceSoapBinding" type="impl:SrvCatalogacionBasicaService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="asociarTaxonomia">
            <wsdlsoap:operation soapAction="asociarTaxonomia" style="document"/>
            <wsdl:input name="asociarTaxonomia1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="asociarTaxonomia1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="asociarTaxonomiaEnLomBasico">
            <wsdlsoap:operation soapAction="asociarTaxonomiaEnLomBasico" style="document"/>
            <wsdl:input name="asociarTaxonomiaEnLomBasico2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="asociarTaxonomiaEnLomBasico2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="cargarObjLom">
            <wsdlsoap:operation soapAction="cargarObjLom" style="document"/>
            <wsdl:input name="cargarObjLom3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="cargarObjLom3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarObjLoms">
            <wsdlsoap:operation soapAction="eliminarObjLoms" style="document"/>
            <wsdl:input name="eliminarObjLoms4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarObjLoms4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarTaxonomia">
            <wsdlsoap:operation soapAction="eliminarTaxonomia" style="document"/>
            <wsdl:input name="eliminarTaxonomia5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarTaxonomia5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarTaxonomiasEnLomBasico">
            <wsdlsoap:operation soapAction="eliminarTaxonomiasEnLomBasico" style="document"/>
            <wsdl:input name="eliminarTaxonomiasEnLomBasico6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarTaxonomiasEnLomBasico6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="exportarLomes">
            <wsdlsoap:operation soapAction="exportarLomes" style="document"/>
            <wsdl:input name="exportarLomes7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="exportarLomes7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="generarMetadatos">
            <wsdlsoap:operation soapAction="generarMetadatos" style="document"/>
            <wsdl:input name="generarMetadatos8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generarMetadatos8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="importarLomes">
            <wsdlsoap:operation soapAction="importarLomes" style="document"/>
            <wsdl:input name="importarLomes9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="importarLomes9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerLomBasico">
            <wsdlsoap:operation soapAction="obtenerLomBasico" style="document"/>
            <wsdl:input name="obtenerLomBasico10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerLomBasico10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerObjLoms">
            <wsdlsoap:operation soapAction="obtenerObjLoms" style="document"/>
            <wsdl:input name="obtenerObjLoms11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerObjLoms11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvCatalogacionBasicaServiceService">
        <wsdl:documentation> 
            Servicio encargado de transformar un metadato LOM-ES a un
            subconjunto de este llamado LomBasico, recogiendo unicamente los
            campos necesarios para utilizar el catalogador basico.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvCatalogacionBasicaServiceSoapBinding" name="SrvCatalogacionBasicaService">
            <wsdlsoap:address location="http://localhost:8080/catalogacion/services/SrvCatalogacionBasicaService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>