src/modules/agrega/catalogacion/src/main/resources/es/pode/catalogacion/negocio/servicios/SrvCatalogacionAvanzadaService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvCatalogacionAvanzadaService" 
    targetNamespace="http://servicios.negocio.catalogacion.pode.es"
    xmlns:impl="http://servicios.negocio.catalogacion.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.catalogacion.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="cargarObjLom">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lom" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cargarObjLomResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="cargarObjLomReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarObjLoms">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarObjLomsResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="exportarLomes">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lomAvanzado" type="impl:LomAvanzadoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="exportarLomesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="exportarLomesReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="exportarLomesDesdeLom">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lom" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="exportarLomesDesdeLomResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="exportarLomesDesdeLomReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="generarMetadatos">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lomAvanzado" type="impl:LomAvanzadoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="generarMetadatosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="generarMetadatosReturn" type="impl:LomAvanzadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="importarLomes">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ficheroLomes" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="importarLomesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="importarLomesReturn" type="impl:LomAvanzadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerLomAvanzado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Realmente haria falta este metodo? no vamos a ver todo el Lom a
                        la vez; lo veremos, modificaremos y/o añadiremos de categoria en
                        categoria, pero podria interesarnos
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerLomAvanzadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerLomAvanzadoReturn" type="impl:LomAvanzadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerObjLoms">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerObjLomsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerObjLomsReturn" type="impl:ArrayOfIdLomVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="AccesoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="tipo" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="impl:DescripcionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAgregadorORVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:AgregadorORVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AgregadorORVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="tipo" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombre" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versionMin" nillable="true" type="impl:VersionMinVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versionMax" nillable="true" type="impl:VersionMaxVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAmbitoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:AmbitoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AmbitoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="textos" nillable="true" type="impl:ArrayOfLangStringVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAvAnnotationVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:AvAnnotationVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AvAnnotationVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="entidad" nillable="true" type="impl:EntidadVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="true" type="impl:FechaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="impl:DescripcionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAvClassificationVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:AvClassificationVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AvClassificationVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="proposito" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="impl:DescripcionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rutasTaxonomicas" nillable="true" type="impl:ArrayOfRutaTaxonomicaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="palabrasClave" nillable="true" type="impl:ArrayOfPalabraClaveVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAvEducationalVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:AvEducationalVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AvEducationalVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="tipoDeInteractividad" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Esta formado por source y value, source por defecto LOM-ESv1.0,
                                el valor que introducimos es value como un String
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelInteractividad" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Esta formado por source y value, source por defecto LOM-ESv1.0,
                                el valor que introducimos es value como un String
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="densidadSemantica" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Esta formado por source y value, source por defecto LOM-ESv1.0,
                                el valor que introducimos es value como un String
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="dificultad" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Compuesto por source y value; source por defecto LOM-ESv1.0, nos
                                quedamos con value y lo definimos como String
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tiempoAprendizaje" nillable="true" type="impl:DuracionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rangoedades" nillable="true" type="impl:ArrayOfRangoEdadVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="descripciones" nillable="true" type="impl:ArrayOfDescripcionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="idiomas" nillable="true" type="impl:ArrayOfIdiomaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="tiposrecursoedu" nillable="true" type="impl:ArrayOfSourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="destinatarios" nillable="true" type="impl:ArrayOfSourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="contextos" nillable="true" type="impl:ArrayOfSourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="procesoscognitivos" nillable="true" type="impl:ArrayOfSourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AvGeneralVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="estructura" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Esta formada por source y value, pero el source sera por defecto
                                LOM-ESv1.0
                                con lo que definimos la entrada para value solo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacion" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nivel de agregacion esta compuesto por source y value pero la
                                etiqueta source sera por defecto LOM-ESv1.0
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="true" type="impl:TituloVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificadores" nillable="true" type="impl:ArrayOfIdentificadorVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="descripciones" nillable="true" type="impl:ArrayOfDescripcionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="idiomas" nillable="true" type="impl:ArrayOfIdiomaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="palabrasClave" nillable="true" type="impl:ArrayOfPalabraClaveVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="ambitos" nillable="true" type="impl:ArrayOfAmbitoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AvLifeCycleVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="version" nillable="true" type="impl:VersionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estado" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contribuciones" nillable="true" type="impl:ArrayOfContribucionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AvMetametadataVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idioma" nillable="true" type="impl:IdiomaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificadores" nillable="true" type="impl:ArrayOfIdentificadorVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="contribuciones" nillable="true" type="impl:ArrayOfContribucionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="esquemas" nillable="true" type="impl:ArrayOfEsquemaDeMetadatosVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAvRelationVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:AvRelationVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AvRelationVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="tipo" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="recurso" nillable="true" type="impl:RecursoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AvRightsVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="coste" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="derechosDeAutor" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="impl:DescripcionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="acceso" nillable="true" type="impl:AccesoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AvTechnicalVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="tamanio" nillable="true" type="impl:TamanioVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pautasInstalacion" nillable="true" type="impl:PautasInstalacionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="otrosRequisitos" nillable="true" type="impl:OtrosRequisitosVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="duracion" nillable="true" type="impl:DuracionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formatos" nillable="true" type="impl:ArrayOfFormatoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="localizaciones" nillable="true" type="impl:ArrayOfLocalizacionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="requisitos" nillable="true" type="impl:ArrayOfRequisitoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfContribucionVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ContribucionVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ContribucionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="tipo" nillable="true" type="impl:SourceValueVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="true" type="impl:FechaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="entidades" nillable="true" type="impl:ArrayOfEntidadVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDescripcionVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:DescripcionVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DescripcionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="textos" nillable="true" type="impl:ArrayOfLangStringVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DuracionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="duracion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="impl:DescripcionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfEntidadVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:EntidadVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EntidadVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="texto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EntryVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="textos" nillable="true" type="impl:ArrayOfLangStringVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfEsquemaDeMetadatosVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:EsquemaDeMetadatosVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EsquemaDeMetadatosVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="texto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FechaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="fecha" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="impl:DescripcionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFormatoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:FormatoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FormatoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="texto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FuenteVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="textos" nillable="true" type="impl:ArrayOfLangStringVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfIdentificadorVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:IdentificadorVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdentificadorVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="entrada" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="catalogo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfIdiomaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:IdiomaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdiomaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="texto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdLomVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Representa un objeto Lom, es decir la representacion de un
                        metadato LOM-ES de un objeto educativo o de un componente del
                        ODE. Es necesario representarlo como un DataHandler para que
                        sirva de intercambio entre diferentes webservices.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del propietario de dicho metadato LOM-Es.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lomHandler" nillable="false" type="apachesoap:DataHandler">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Representacion del metadato LOM-ES.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfIdLomVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:IdLomVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="texto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLangStringVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:LangStringVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LangStringVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idioma" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="texto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLocalizacionVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:LocalizacionVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LocalizacionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="texto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LomAvanzadoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="general" nillable="true" type="impl:AvGeneralVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="educational" nillable="true" type="impl:ArrayOfAvEducationalVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="lifeCycle" nillable="true" type="impl:AvLifeCycleVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="metaMetadata" nillable="true" type="impl:AvMetametadataVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="technical" nillable="true" type="impl:AvTechnicalVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="derechos" nillable="true" type="impl:AvRightsVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="relaciones" nillable="true" type="impl:ArrayOfAvRelationVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="anotaciones" nillable="true" type="impl:ArrayOfAvAnnotationVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="clasificaciones" nillable="true" type="impl:ArrayOfAvClassificationVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OtrosRequisitosVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="textos" nillable="true" type="impl:ArrayOfLangStringVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPalabraClaveVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:PalabraClaveVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PalabraClaveVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="textos" nillable="true" type="impl:ArrayOfLangStringVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PautasInstalacionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="textos" nillable="true" type="impl:ArrayOfLangStringVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfRangoEdadVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:RangoEdadVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RangoEdadVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="textos" nillable="true" type="impl:ArrayOfLangStringVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RecursoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="identificador" nillable="true" type="impl:IdentificadorVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripciones" nillable="true" type="impl:ArrayOfDescripcionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfRequisitoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:RequisitoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RequisitoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="agregadoresOR" nillable="true" type="impl:ArrayOfAgregadorORVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfRutaTaxonomicaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:RutaTaxonomicaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RutaTaxonomicaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="fuente" nillable="true" type="impl:FuenteVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="taxones" nillable="true" type="impl:ArrayOfTaxonVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfSourceValueVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:SourceValueVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SourceValueVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="source" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valor" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TamanioVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="texto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTaxonVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TaxonVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TaxonVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="impl:IdVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="entry" nillable="true" type="impl:EntryVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TituloVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="textos" nillable="true" type="impl:ArrayOfLangStringVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="VersionMaxVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="texto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="VersionMinVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="texto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="VersionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="textos" nillable="true" type="impl:ArrayOfLangStringVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="cargarObjLom1Request">
        <wsdl:part element="impl:cargarObjLom" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cargarObjLom1Response">
        <wsdl:part element="impl:cargarObjLomResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarObjLoms2Request">
        <wsdl:part element="impl:eliminarObjLoms" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarObjLoms2Response">
        <wsdl:part element="impl:eliminarObjLomsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="exportarLomes3Request">
        <wsdl:part element="impl:exportarLomes" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="exportarLomes3Response">
        <wsdl:part element="impl:exportarLomesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="exportarLomesDesdeLom4Request">
        <wsdl:part element="impl:exportarLomesDesdeLom" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="exportarLomesDesdeLom4Response">
        <wsdl:part element="impl:exportarLomesDesdeLomResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarMetadatos5Request">
        <wsdl:part element="impl:generarMetadatos" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarMetadatos5Response">
        <wsdl:part element="impl:generarMetadatosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="importarLomes6Request">
        <wsdl:part element="impl:importarLomes" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="importarLomes6Response">
        <wsdl:part element="impl:importarLomesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerLomAvanzado7Request">
        <wsdl:part element="impl:obtenerLomAvanzado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerLomAvanzado7Response">
        <wsdl:part element="impl:obtenerLomAvanzadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerObjLoms8Request">
        <wsdl:part element="impl:obtenerObjLoms" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerObjLoms8Response">
        <wsdl:part element="impl:obtenerObjLomsResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvCatalogacionAvanzadaService">
        <wsdl:operation name="cargarObjLom">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:cargarObjLom1Request" 
                        name="cargarObjLom1Request"/>
            <wsdl:output message="impl:cargarObjLom1Response" 
                         name="cargarObjLom1Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarObjLoms">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarObjLoms2Request" 
                        name="eliminarObjLoms2Request"/>
            <wsdl:output message="impl:eliminarObjLoms2Response" 
                         name="eliminarObjLoms2Response"/>
        </wsdl:operation>
        <wsdl:operation name="exportarLomes">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:exportarLomes3Request" 
                        name="exportarLomes3Request"/>
            <wsdl:output message="impl:exportarLomes3Response" 
                         name="exportarLomes3Response"/>
        </wsdl:operation>
        <wsdl:operation name="exportarLomesDesdeLom">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:exportarLomesDesdeLom4Request" 
                        name="exportarLomesDesdeLom4Request"/>
            <wsdl:output message="impl:exportarLomesDesdeLom4Response" 
                         name="exportarLomesDesdeLom4Response"/>
        </wsdl:operation>
        <wsdl:operation name="generarMetadatos">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:generarMetadatos5Request" 
                        name="generarMetadatos5Request"/>
            <wsdl:output message="impl:generarMetadatos5Response" 
                         name="generarMetadatos5Response"/>
        </wsdl:operation>
        <wsdl:operation name="importarLomes">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:importarLomes6Request" 
                        name="importarLomes6Request"/>
            <wsdl:output message="impl:importarLomes6Response" 
                         name="importarLomes6Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerLomAvanzado">
                
            <wsdl:documentation> 
                Realmente haria falta este metodo? no vamos a ver todo el Lom a
                la vez; lo veremos, modificaremos y/o añadiremos de categoria en
                categoria, pero podria interesarnos
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerLomAvanzado7Request" 
                        name="obtenerLomAvanzado7Request"/>
            <wsdl:output message="impl:obtenerLomAvanzado7Response" 
                         name="obtenerLomAvanzado7Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerObjLoms">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerObjLoms8Request" 
                        name="obtenerObjLoms8Request"/>
            <wsdl:output message="impl:obtenerObjLoms8Response" 
                         name="obtenerObjLoms8Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvCatalogacionAvanzadaServiceSoapBinding" type="impl:SrvCatalogacionAvanzadaService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="cargarObjLom">
            <wsdlsoap:operation soapAction="cargarObjLom" style="document"/>
            <wsdl:input name="cargarObjLom1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="cargarObjLom1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarObjLoms">
            <wsdlsoap:operation soapAction="eliminarObjLoms" style="document"/>
            <wsdl:input name="eliminarObjLoms2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarObjLoms2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="exportarLomes">
            <wsdlsoap:operation soapAction="exportarLomes" style="document"/>
            <wsdl:input name="exportarLomes3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="exportarLomes3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="exportarLomesDesdeLom">
            <wsdlsoap:operation soapAction="exportarLomesDesdeLom" style="document"/>
            <wsdl:input name="exportarLomesDesdeLom4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="exportarLomesDesdeLom4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="generarMetadatos">
            <wsdlsoap:operation soapAction="generarMetadatos" style="document"/>
            <wsdl:input name="generarMetadatos5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generarMetadatos5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="importarLomes">
            <wsdlsoap:operation soapAction="importarLomes" style="document"/>
            <wsdl:input name="importarLomes6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="importarLomes6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerLomAvanzado">
            <wsdlsoap:operation soapAction="obtenerLomAvanzado" style="document"/>
            <wsdl:input name="obtenerLomAvanzado7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerLomAvanzado7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerObjLoms">
            <wsdlsoap:operation soapAction="obtenerObjLoms" style="document"/>
            <wsdl:input name="obtenerObjLoms8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerObjLoms8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvCatalogacionAvanzadaServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvCatalogacionAvanzadaServiceSoapBinding" name="SrvCatalogacionAvanzadaService">
            <wsdlsoap:address location="http://localhost:8080/catalogacion/services/SrvCatalogacionAvanzadaService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>