src/modules/agrega/localizador/src/main/resources/es/pode/localizador/negocio/servicios/SrvLocalizadorService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvLocalizadorService" 
    targetNamespace="http://servicios.negocio.localizador.pode.es"
    xmlns:impl="http://servicios.negocio.localizador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.localizador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="actualizaEspacioLocalizador">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Para el localizador que se le pasa, recalcula el espacio que
                        ocupa la localización en disco si difiere
                        de la cifra almacenada en BBDD. Si no hay localizador asociado
                        al id, se devuelve un 0.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idLocalizador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del localizador del que se quiere recalcular el
                                    espacio ocupado en disco.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="actualizaEspacioLocalizadorResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="actualizaEspacioLocalizadorReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="buscarLocalizadoresPorId">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve un array de localizadores de todos los
                        identificadores de ODEs que le pasan.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Array de identificadores de ODEs de los que queremos los
                                    localizadores.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="buscarLocalizadoresPorIdResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="buscarLocalizadoresPorIdReturn" type="impl:ArrayOfLocalizadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="calculaEspacioLocalizador">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo calcula el espacio que ocupa en disco en el momento
                        de la invocación el localizador que se le pasa.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idLocalizador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del localizador.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="calculaEspacioLocalizadorResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="calculaEspacioLocalizadorReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="consultaEspacioLocalizador">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Consulta de espacio ocupado por un id de ODE
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idLocalizador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="consultaEspacioLocalizadorResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="consultaEspacioLocalizadorReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="consultaEspacioLocalizadores">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Consulta de espacio ocupado por una lista de identificadores
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificadores" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="consultaEspacioLocalizadoresResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="consultaEspacioLocalizadoresReturn" type="impl:ArrayOfsoapenc_long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="consultaLocalizador">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Toma como parametro el identificador del localizador del que se
                        esta interesado.
                        Devuelve un VO del localizador.
                        Este metodo recupera el localizador asociado al identificador
                        suministrado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE solicitado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="consultaLocalizadorResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="consultaLocalizadorReturn" type="impl:LocalizadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="consultaLocalizadorNoPublicado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo toma como parametro un identificador MEC y devuelve
                        la localizacion de este MEC cuando estaba en el taller.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="mec" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    El identificador MEC del que se quiere saber su localizacion de
                                    taller.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="consultaLocalizadorNoPublicadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="consultaLocalizadorNoPublicadoReturn" type="impl:LocalizadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="crearLocalizadorNoPublicado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para crear el localizador de un ODE no publicado.
                        Toma como parametro un nombre de usuario y un numero
                        identificador UUID.
                        Devuelve el VO del localizador creado.
                        El metodo crea una nueva entrada de localizacion en la tabla de
                        localizadores. El localizador esta compuesto por una ruta en
                        disco PATH, una ruta URL de acceso remoto al ODE y un
                        identificador.
                        El PATH se construye a partir de la ruta-base del fichero de
                        configuracion para ODE's de taller. Se le concatena el nombre
                        del usuario mas el uuid.
                        La URL se construye a partir de la ruta-base-remota del fichero
                        de configuracion para ODE's de taller. Se le concatena el nombre
                        del usuario mas el uuid.
                        El valor del campo identificador toma el valor del parametro
                        uuid.
                        El MEC se deja a 0.
                        El metodo ha de ser enteramente transaccional, de forma que si
                        se produce cualquier error creando los directorios u operando en
                        la BD se ha de deshacer cualquier operacion ya realizada.
                        Si ya existe un localizador con el campo "identificador" igual,
                        no se realiza el alta y se genera una excepcion.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Nombre del usuario del que se va a colgar la localizacion de los
                                    recursos del ODE.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="uuid" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador UUID a usar para identificar el ODE.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearLocalizadorNoPublicadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearLocalizadorNoPublicadoReturn" type="impl:LocalizadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="crearLocalizadorPublicado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para crear el localizador de un ODE publicado.
                        Toma como parametros el localizador de un ODE no publicado y un
                        numero identificador MEC.
                        Devuelve el VO del localizador creado.
                        El metodo crea una nueva entrada de localizacion en la tabla de
                        localizadores.
                        El nuevo localizador esta compuesto por una ruta en disco PATH,
                        una ruta URL de acceso remoto al ODE y un identificador MEC.
                        El PATH se construye a partir de la ruta-base del fichero de
                        configuracion para ODE's publicados al que se concatena el
                        identificador MEC.
                        La URL se construye a partir de la ruta-base-remota del fichero
                        de configuracion para ODE's publicados a la que se le concatena
                        el identificador MEC.
                        El identificador toma el valor del parametro mec.
                        El MEC se deja a 0.
                        Si el identificador uuid suministrado corresponde con un
                        localizador no publicado en la BD (el campo "identificador"
                        coincide con "uuid"):
                        - Si el localizador del ODE no publicado ya tiene valor en el
                        campo MEC, devolvemos una excepcion y no hacemos nada. (ese ODE
                        no publicado ya tiene un ODE publicado asociado).
                        - Si el localizador del ODE no publicado no tiene valor en el
                        campo MEC, actualizamos dicho localizador aniadiendole el valor
                        de la variable mec suministrada al campo MEC del registro de la
                        BD y creamos un nuevo localizador para el ODE publicado como se
                        define mas arriba.
                        Si el localizador no publicado no existe en la BD (no existen
                        registros en la BD con el campo "idenficador" coincidentes con
                        la variable "uuid"):
                        - Lanzamos una excepcion.
                        El metodo ha de ser enteramente transaccional, de forma que si
                        se produce cualquier error creando los directorios u operando en
                        la BD se ha de deshacer cualquier operacion ya realizada.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="uuid" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Localizador del ODE no publicado al que hace referencia este ODE
                                    publicado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="mec" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador MEC del ODE publicado del que se va a crear una
                                    localizacion.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearLocalizadorPublicadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearLocalizadorPublicadoReturn" type="impl:LocalizadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarLocalizador">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Se elimina la localizacion, esto ocurrira en dos ocasiones:
                        a) Eliminacion fisica del ODE cuando este esta en estado
                        "Despublicado"
                        b) El ODE esta en creacion pero no se guarda.
                        La eliminacion implica, la eliminacion de todos los registros
                        que tengan que ver con el identificador introducido.
                        Se elimina cualquier ODE que tenga como identificador el ID
                        introducido por parametro O que tenga como MEC el id introducido
                        por parametro.
                        Eliminamos tambien el directorio que indique la/s localizaciones
                        que vamos a eliminar.
                        Se devuelve un boolean: True, si todo ha ido bien y False, en
                        caso contrario.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Array de identificadores de ODEs. Sera o el MEC o el UUID, lo
                                    vamos a tratar en cualquier caso de la misma forma
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarLocalizadorResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarLocalizadorReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="BuscarLocalizadoresException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Excepcion que recoge las incidencias de cualquier error buscando
                        localizadores con un array de identificadores.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultaLocalizadorException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta excepcion salta en el caso de no existir ningun registro
                        con el identificador igual al identificador suministrado.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreaLocalizadorNoPublicadoException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta excepcion salta en el caso de ocurrir problemas al
                        modificar datos en el sistema de ficheros, al detectar que ya
                        existe la entrada en la BD, al detectar fallo en la creacion del
                        registro en la BD y al detectar fallo en la modificacion del
                        registro en la BD.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreaLocalizadorPublicadoException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta excepcion salta en el caso de ocurrir problemas al
                        modificar datos en el sistema de ficheros, cuando ya existe un
                        localizador en BD con identificador igual al uuid y != MEC,
                        cuando tenemos error al dar de alta el nuevo registro en la BD y
                        cunado tenemos error al modificar registro en la BD.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EliminaLocalizadorException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta excepcion salta en el caso de ocurrir problemas al
                        modificar datos en el sistema de ficheros, cuando no exista el
                        localizador a eliminar o cuando ocurra algun problema con la
                        actualizacion de la BD.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LocalizadorVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="path" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="url" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mec" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificador" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata del identificador uuid del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idUsuario" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="consumoEspacio" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Es el espacio que consume el ODE en el disco
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLocalizadorVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:LocalizadorVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfsoapenc_long">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="soapenc:long" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="actualizaEspacioLocalizador1Request">
        <wsdl:part element="impl:actualizaEspacioLocalizador" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="actualizaEspacioLocalizador1Response">
        <wsdl:part element="impl:actualizaEspacioLocalizadorResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="buscarLocalizadoresPorId2Request">
        <wsdl:part element="impl:buscarLocalizadoresPorId" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="buscarLocalizadoresPorId2Response">
        <wsdl:part element="impl:buscarLocalizadoresPorIdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="calculaEspacioLocalizador3Request">
        <wsdl:part element="impl:calculaEspacioLocalizador" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="calculaEspacioLocalizador3Response">
        <wsdl:part element="impl:calculaEspacioLocalizadorResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaEspacioLocalizador4Request">
        <wsdl:part element="impl:consultaEspacioLocalizador" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaEspacioLocalizador4Response">
        <wsdl:part element="impl:consultaEspacioLocalizadorResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaEspacioLocalizadores5Request">
        <wsdl:part element="impl:consultaEspacioLocalizadores" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaEspacioLocalizadores5Response">
        <wsdl:part element="impl:consultaEspacioLocalizadoresResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaLocalizador6Request">
        <wsdl:part element="impl:consultaLocalizador" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaLocalizador6Response">
        <wsdl:part element="impl:consultaLocalizadorResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaLocalizadorNoPublicado7Request">
        <wsdl:part element="impl:consultaLocalizadorNoPublicado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaLocalizadorNoPublicado7Response">
        <wsdl:part element="impl:consultaLocalizadorNoPublicadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearLocalizadorNoPublicado8Request">
        <wsdl:part element="impl:crearLocalizadorNoPublicado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearLocalizadorNoPublicado8Response">
        <wsdl:part element="impl:crearLocalizadorNoPublicadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearLocalizadorPublicado9Request">
        <wsdl:part element="impl:crearLocalizadorPublicado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearLocalizadorPublicado9Response">
        <wsdl:part element="impl:crearLocalizadorPublicadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarLocalizador10Request">
        <wsdl:part element="impl:eliminarLocalizador" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarLocalizador10Response">
        <wsdl:part element="impl:eliminarLocalizadorResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvLocalizadorService">
        <wsdl:operation name="actualizaEspacioLocalizador">
                
            <wsdl:documentation> 
                Para el localizador que se le pasa, recalcula el espacio que
                ocupa la localización en disco si difiere
                de la cifra almacenada en BBDD. Si no hay localizador asociado
                al id, se devuelve un 0.
            </wsdl:documentation>
            <wsdl:input message="impl:actualizaEspacioLocalizador1Request" 
                        name="actualizaEspacioLocalizador1Request"/>
            <wsdl:output message="impl:actualizaEspacioLocalizador1Response" 
                         name="actualizaEspacioLocalizador1Response"/>
        </wsdl:operation>
        <wsdl:operation name="buscarLocalizadoresPorId">
                
            <wsdl:documentation> 
                Este metodo devuelve un array de localizadores de todos los
                identificadores de ODEs que le pasan.
            </wsdl:documentation>
            <wsdl:input message="impl:buscarLocalizadoresPorId2Request" 
                        name="buscarLocalizadoresPorId2Request"/>
            <wsdl:output message="impl:buscarLocalizadoresPorId2Response" 
                         name="buscarLocalizadoresPorId2Response"/>
        </wsdl:operation>
        <wsdl:operation name="calculaEspacioLocalizador">
                
            <wsdl:documentation> 
                Este metodo calcula el espacio que ocupa en disco en el momento
                de la invocación el localizador que se le pasa.
            </wsdl:documentation>
            <wsdl:input message="impl:calculaEspacioLocalizador3Request" 
                        name="calculaEspacioLocalizador3Request"/>
            <wsdl:output message="impl:calculaEspacioLocalizador3Response" 
                         name="calculaEspacioLocalizador3Response"/>
        </wsdl:operation>
        <wsdl:operation name="consultaEspacioLocalizador">
                
            <wsdl:documentation> 
                Consulta de espacio ocupado por un id de ODE
            </wsdl:documentation>
            <wsdl:input message="impl:consultaEspacioLocalizador4Request" 
                        name="consultaEspacioLocalizador4Request"/>
            <wsdl:output message="impl:consultaEspacioLocalizador4Response" 
                         name="consultaEspacioLocalizador4Response"/>
        </wsdl:operation>
        <wsdl:operation name="consultaEspacioLocalizadores">
                
            <wsdl:documentation> 
                Consulta de espacio ocupado por una lista de identificadores
            </wsdl:documentation>
            <wsdl:input message="impl:consultaEspacioLocalizadores5Request" 
                        name="consultaEspacioLocalizadores5Request"/>
            <wsdl:output message="impl:consultaEspacioLocalizadores5Response" 
                         name="consultaEspacioLocalizadores5Response"/>
        </wsdl:operation>
        <wsdl:operation name="consultaLocalizador">
                
            <wsdl:documentation> 
                Toma como parametro el identificador del localizador del que se
                esta interesado.
                Devuelve un VO del localizador.
                Este metodo recupera el localizador asociado al identificador
                suministrado.
            </wsdl:documentation>
            <wsdl:input message="impl:consultaLocalizador6Request" 
                        name="consultaLocalizador6Request"/>
            <wsdl:output message="impl:consultaLocalizador6Response" 
                         name="consultaLocalizador6Response"/>
        </wsdl:operation>
        <wsdl:operation name="consultaLocalizadorNoPublicado">
                
            <wsdl:documentation> 
                Este metodo toma como parametro un identificador MEC y devuelve
                la localizacion de este MEC cuando estaba en el taller.
            </wsdl:documentation>
            <wsdl:input message="impl:consultaLocalizadorNoPublicado7Request" 
                        name="consultaLocalizadorNoPublicado7Request"/>
            <wsdl:output message="impl:consultaLocalizadorNoPublicado7Response" 
                         name="consultaLocalizadorNoPublicado7Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearLocalizadorNoPublicado">
                
            <wsdl:documentation> 
                Metodo para crear el localizador de un ODE no publicado.
                Toma como parametro un nombre de usuario y un numero
                identificador UUID.
                Devuelve el VO del localizador creado.
                El metodo crea una nueva entrada de localizacion en la tabla de
                localizadores. El localizador esta compuesto por una ruta en
                disco PATH, una ruta URL de acceso remoto al ODE y un
                identificador.
                El PATH se construye a partir de la ruta-base del fichero de
                configuracion para ODE's de taller. Se le concatena el nombre
                del usuario mas el uuid.
                La URL se construye a partir de la ruta-base-remota del fichero
                de configuracion para ODE's de taller. Se le concatena el nombre
                del usuario mas el uuid.
                El valor del campo identificador toma el valor del parametro
                uuid.
                El MEC se deja a 0.
                El metodo ha de ser enteramente transaccional, de forma que si
                se produce cualquier error creando los directorios u operando en
                la BD se ha de deshacer cualquier operacion ya realizada.
                Si ya existe un localizador con el campo "identificador" igual,
                no se realiza el alta y se genera una excepcion.
            </wsdl:documentation>
            <wsdl:input message="impl:crearLocalizadorNoPublicado8Request" 
                        name="crearLocalizadorNoPublicado8Request"/>
            <wsdl:output message="impl:crearLocalizadorNoPublicado8Response" 
                         name="crearLocalizadorNoPublicado8Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearLocalizadorPublicado">
                
            <wsdl:documentation> 
                Metodo para crear el localizador de un ODE publicado.
                Toma como parametros el localizador de un ODE no publicado y un
                numero identificador MEC.
                Devuelve el VO del localizador creado.
                El metodo crea una nueva entrada de localizacion en la tabla de
                localizadores.
                El nuevo localizador esta compuesto por una ruta en disco PATH,
                una ruta URL de acceso remoto al ODE y un identificador MEC.
                El PATH se construye a partir de la ruta-base del fichero de
                configuracion para ODE's publicados al que se concatena el
                identificador MEC.
                La URL se construye a partir de la ruta-base-remota del fichero
                de configuracion para ODE's publicados a la que se le concatena
                el identificador MEC.
                El identificador toma el valor del parametro mec.
                El MEC se deja a 0.
                Si el identificador uuid suministrado corresponde con un
                localizador no publicado en la BD (el campo "identificador"
                coincide con "uuid"):
                - Si el localizador del ODE no publicado ya tiene valor en el
                campo MEC, devolvemos una excepcion y no hacemos nada. (ese ODE
                no publicado ya tiene un ODE publicado asociado).
                - Si el localizador del ODE no publicado no tiene valor en el
                campo MEC, actualizamos dicho localizador aniadiendole el valor
                de la variable mec suministrada al campo MEC del registro de la
                BD y creamos un nuevo localizador para el ODE publicado como se
                define mas arriba.
                Si el localizador no publicado no existe en la BD (no existen
                registros en la BD con el campo "idenficador" coincidentes con
                la variable "uuid"):
                - Lanzamos una excepcion.
                El metodo ha de ser enteramente transaccional, de forma que si
                se produce cualquier error creando los directorios u operando en
                la BD se ha de deshacer cualquier operacion ya realizada.
            </wsdl:documentation>
            <wsdl:input message="impl:crearLocalizadorPublicado9Request" 
                        name="crearLocalizadorPublicado9Request"/>
            <wsdl:output message="impl:crearLocalizadorPublicado9Response" 
                         name="crearLocalizadorPublicado9Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarLocalizador">
                
            <wsdl:documentation> 
                Se elimina la localizacion, esto ocurrira en dos ocasiones:
                a) Eliminacion fisica del ODE cuando este esta en estado
                "Despublicado"
                b) El ODE esta en creacion pero no se guarda.
                La eliminacion implica, la eliminacion de todos los registros
                que tengan que ver con el identificador introducido.
                Se elimina cualquier ODE que tenga como identificador el ID
                introducido por parametro O que tenga como MEC el id introducido
                por parametro.
                Eliminamos tambien el directorio que indique la/s localizaciones
                que vamos a eliminar.
                Se devuelve un boolean: True, si todo ha ido bien y False, en
                caso contrario.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarLocalizador10Request" 
                        name="eliminarLocalizador10Request"/>
            <wsdl:output message="impl:eliminarLocalizador10Response" 
                         name="eliminarLocalizador10Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvLocalizadorServiceSoapBinding" type="impl:SrvLocalizadorService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="actualizaEspacioLocalizador">
            <wsdlsoap:operation soapAction="actualizaEspacioLocalizador" style="document"/>
            <wsdl:input name="actualizaEspacioLocalizador1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="actualizaEspacioLocalizador1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="buscarLocalizadoresPorId">
            <wsdlsoap:operation soapAction="buscarLocalizadoresPorId" style="document"/>
            <wsdl:input name="buscarLocalizadoresPorId2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="buscarLocalizadoresPorId2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="calculaEspacioLocalizador">
            <wsdlsoap:operation soapAction="calculaEspacioLocalizador" style="document"/>
            <wsdl:input name="calculaEspacioLocalizador3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculaEspacioLocalizador3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="consultaEspacioLocalizador">
            <wsdlsoap:operation soapAction="consultaEspacioLocalizador" style="document"/>
            <wsdl:input name="consultaEspacioLocalizador4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaEspacioLocalizador4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="consultaEspacioLocalizadores">
            <wsdlsoap:operation soapAction="consultaEspacioLocalizadores" style="document"/>
            <wsdl:input name="consultaEspacioLocalizadores5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaEspacioLocalizadores5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="consultaLocalizador">
            <wsdlsoap:operation soapAction="consultaLocalizador" style="document"/>
            <wsdl:input name="consultaLocalizador6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaLocalizador6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="consultaLocalizadorNoPublicado">
            <wsdlsoap:operation soapAction="consultaLocalizadorNoPublicado" style="document"/>
            <wsdl:input name="consultaLocalizadorNoPublicado7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaLocalizadorNoPublicado7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearLocalizadorNoPublicado">
            <wsdlsoap:operation soapAction="crearLocalizadorNoPublicado" style="document"/>
            <wsdl:input name="crearLocalizadorNoPublicado8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearLocalizadorNoPublicado8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearLocalizadorPublicado">
            <wsdlsoap:operation soapAction="crearLocalizadorPublicado" style="document"/>
            <wsdl:input name="crearLocalizadorPublicado9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearLocalizadorPublicado9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarLocalizador">
            <wsdlsoap:operation soapAction="eliminarLocalizador" style="document"/>
            <wsdl:input name="eliminarLocalizador10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarLocalizador10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvLocalizadorServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvLocalizadorServiceSoapBinding" name="SrvLocalizadorService">
            <wsdlsoap:address location="http://localhost:8080/localizador/services/SrvLocalizadorService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>