src/modules/agrega/soporte/webservices/src/main/wsdl/SrvAuditoriaValoracionService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvAuditoriaValoracionService" 
    targetNamespace="http://auditoria.servicios.negocio.valoracion.pode.es"
    xmlns:impl="http://auditoria.servicios.negocio.valoracion.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://auditoria.servicios.negocio.valoracion.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="contenidosMasValorados">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo permite consultar los N contenidos mas valorados en
                        un periodo dado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametro" type="impl:ParametroAuditValoracionVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Parametros de la consulta.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="contenidosMasValoradosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contenidosMasValoradosReturn" type="impl:ArrayOfValoracionODEVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ParametroAuditValoracionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase aberga los atributos necesarios para las operaciones
                        de auditoria del modulo de valoracion.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="fechaDesde" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata de la fecha desde del periodo de actividad en el que se
                                esta interesado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaHasta" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata de la fecha hasta del periodo de actividad en el que se
                                esta interesado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rango" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Numero de elementos maximo que se quiere que devuelva la
                                consulta.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ValoracionODEVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase almacena los parametros que indican la valoracion de
                        un ODE.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identifiacador del ODE valorado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valoracion" nillable="false" type="soapenc:float">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valoracion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfValoracionODEVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ValoracionODEVO" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="contenidosMasValorados1Request">
        <wsdl:part element="impl:contenidosMasValorados" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="contenidosMasValorados1Response">
        <wsdl:part element="impl:contenidosMasValoradosResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvAuditoriaValoracionService">
        <wsdl:operation name="contenidosMasValorados">
                
            <wsdl:documentation> 
                Este metodo permite consultar los N contenidos mas valorados en
                un periodo dado.
            </wsdl:documentation>
            <wsdl:input message="impl:contenidosMasValorados1Request" 
                        name="contenidosMasValorados1Request"/>
            <wsdl:output message="impl:contenidosMasValorados1Response" 
                         name="contenidosMasValorados1Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvAuditoriaValoracionServiceSoapBinding" type="impl:SrvAuditoriaValoracionService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="contenidosMasValorados">
            <wsdlsoap:operation soapAction="contenidosMasValorados" style="document"/>
            <wsdl:input name="contenidosMasValorados1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="contenidosMasValorados1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvAuditoriaValoracionServiceService">
        <wsdl:documentation> 
            Esta clase implementa la parte de auditoria del servicio de
            valoracion. Alberga los metodos publicos que permiten extraer
            informacion estadistica de la valoracion de los elementos de la
            plataforma.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvAuditoriaValoracionServiceSoapBinding" name="SrvAuditoriaValoracionService">
            <wsdlsoap:address location="http://localhost:8080/valoracion/services/SrvAuditoriaValoracionService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>