src/modules/agrega/soporte/webservices/src/main/wsdl/SrvAuditaPublicacionService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvAuditaPublicacionService" 
    targetNamespace="http://servicios.negocio.publicacion.pode.es"
    xmlns:impl="http://servicios.negocio.publicacion.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.publicacion.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="actividadTransiciones">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve para cada estado posible de un ODE, el
                        numero de transiciones que se han detectado para cada estado en
                        el periodo dado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametroAuditoria" type="impl:ParametroAuditPublicacionVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Parametro de auditoria con toda la informacion necesaria.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="actividadTransicionesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="actividadTransicionesReturn" type="impl:ArrayOfODEsEstadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="dimensionesODEsPublicados">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve el tamanio de los ODEs que estan publicados
                        en la plataforma.
                        Se le pasa la fecha desde y hasta que se quiere tener en cuenta
                        y el numero de ODEs que se quieren devolver.
                        Se devuelve una lista de la cantidad de informacion pedida
                        ordenada de mayor a menor de los mas pesados a los menos.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametroAuditoria" type="impl:ParametroAuditPublicacionVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Parametro de auditoria con toda la informacion necesaria.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="dimensionesODEsPublicadosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="dimensionesODEsPublicadosReturn" type="impl:ArrayOfPesoODEVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerUltimosOdesPublicados">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene los n últimos odes publicados.
                        Parametro de entrada: entero con el numero de odes que se
                        quieren obtener.
                        Parametro de salida: array de vo con los n últimos odes
                        publicados.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="numeroOdes" type="xsd:int" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Número de odes publicados que se quieren obtener.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerUltimosOdesPublicadosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerUltimosOdesPublicadosReturn" type="impl:ArrayOfOdePublicadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="odesPorEstados">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve la cantidad de ODEs que hay en cada estado
                        dentro del periodo de tiempo dado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametroAuditoria" type="impl:ParametroAuditPublicacionVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Parametro de auditoria con toda la informacion necesaria.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="odesPorEstadosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="odesPorEstadosReturn" type="impl:ArrayOfODEsEstadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="odesPorUsuario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve el listado de ODEs que un usuario tiene
                        asociado por estado dentro del ciclo de vida definido en el
                        modulo de publicacion.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametroAuditoria" type="impl:ParametroAuditPublicacionVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Parametro de auditoria con toda la informacion necesaria.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="odesPorUsuarioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="odesPorUsuarioReturn" type="impl:ArrayOfEstadoActividadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="odesPublicados">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve el numero de ODEs publicados en la
                        plataforma.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="odesPublicadosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="odesPublicadosReturn" type="impl:ODEsEstadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="odesPublicadosPorIdioma">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve el numero de ODEs que hay publicados por
                        idiomas.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="odesPublicadosPorIdiomaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="odesPublicadosPorIdiomaReturn" type="impl:ArrayOfODEsEstadoIdiomaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="titulosODEsPorID">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve la informacion de detalle de la lista de
                        identificadores que le pasan.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idODEs" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de los identificadores que le pasan.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="titulosODEsPorIDResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="titulosODEsPorIDReturn" type="impl:ArrayOfDetallePublicadoODEVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="DetallePublicadoODEVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase alberga los detalles de un ODE publicado.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ODE publicado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDetallePublicadoODEVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:DetallePublicadoODEVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDetalleTransicionVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:DetalleTransicionVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DetalleTransicionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este value object contiene la informacion de detalle que se
                        necesita para una transicion.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaTransicion" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha en la que se realizo la transicion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EstadoActividadVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase almacena la actividad de un determinado estado.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="estado" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata del estado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="detalleTransicionVOs" nillable="true" type="impl:ArrayOfDetalleTransicionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfEstadoActividadVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:EstadoActividadVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OdePublicadoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        VO que contiene todos los datos en relación al ODE:
                        identificador, idioma, tamaño, fecha de publicacion y titulo.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma del ode.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tamanio" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tamaño del ode.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de publicacion del ode.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ode.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfOdePublicadoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:OdePublicadoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ODEsEstadoIdiomaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este objeto de valor contienen el numero de ODEs que estan en un
                        idioma por estado.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="numODES" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Numero de ODEs que estan en el estado e idioma del VO.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Codigo iso del idioma en el que estan los ODEs en el estado
                                dado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfODEsEstadoIdiomaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ODEsEstadoIdiomaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ODEsEstadoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase almacena la informacion de cierto numero con respecto
                        a un estado de los posibles dentro del ciclo de vida de la
                        publicacion de un ODE.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="cantidad" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Numero de ODEs.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estado" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Estado posible dentro del ciclo de vida de un ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfODEsEstadoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ODEsEstadoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametroAuditPublicacionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase alberga todos los parametros necesarios para las
                        consultas de auditoria.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="fechaDesde" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha desde del periodo en el que se esta interesado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaHasta" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha hasta del periodo en el que se esta interesado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rango" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Numero de ODEs que se quieren devolver.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma al que se quiere traducir los estados.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idUsuario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del usuario del que se quiere monitorizar la
                                actividad.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PesoODEVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase almacena la informacion relevante al peso de un ODE
                        dentro de la plataforma.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tamanio" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tamanio del ODE. Se trata de la suma de los tamanios de todos
                                los recursos que componen el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPesoODEVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:PesoODEVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="actividadTransiciones1Request">
        <wsdl:part element="impl:actividadTransiciones" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="actividadTransiciones1Response">
        <wsdl:part element="impl:actividadTransicionesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="dimensionesODEsPublicados2Request">
        <wsdl:part element="impl:dimensionesODEsPublicados" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="dimensionesODEsPublicados2Response">
        <wsdl:part element="impl:dimensionesODEsPublicadosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerUltimosOdesPublicados3Request">
        <wsdl:part element="impl:obtenerUltimosOdesPublicados" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerUltimosOdesPublicados3Response">
        <wsdl:part element="impl:obtenerUltimosOdesPublicadosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="odesPorEstados4Request">
        <wsdl:part element="impl:odesPorEstados" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="odesPorEstados4Response">
        <wsdl:part element="impl:odesPorEstadosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="odesPorUsuario5Request">
        <wsdl:part element="impl:odesPorUsuario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="odesPorUsuario5Response">
        <wsdl:part element="impl:odesPorUsuarioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="odesPublicados6Request">
        <wsdl:part element="impl:odesPublicados" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="odesPublicados6Response">
        <wsdl:part element="impl:odesPublicadosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="odesPublicadosPorIdioma7Request">
        <wsdl:part element="impl:odesPublicadosPorIdioma" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="odesPublicadosPorIdioma7Response">
        <wsdl:part element="impl:odesPublicadosPorIdiomaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="titulosODEsPorID8Request">
        <wsdl:part element="impl:titulosODEsPorID" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="titulosODEsPorID8Response">
        <wsdl:part element="impl:titulosODEsPorIDResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvAuditaPublicacionService">
        <wsdl:operation name="actividadTransiciones">
                
            <wsdl:documentation> 
                Este metodo devuelve para cada estado posible de un ODE, el
                numero de transiciones que se han detectado para cada estado en
                el periodo dado.
            </wsdl:documentation>
            <wsdl:input message="impl:actividadTransiciones1Request" 
                        name="actividadTransiciones1Request"/>
            <wsdl:output message="impl:actividadTransiciones1Response" 
                         name="actividadTransiciones1Response"/>
        </wsdl:operation>
        <wsdl:operation name="dimensionesODEsPublicados">
                
            <wsdl:documentation> 
                Este metodo devuelve el tamanio de los ODEs que estan publicados
                en la plataforma.
                Se le pasa la fecha desde y hasta que se quiere tener en cuenta
                y el numero de ODEs que se quieren devolver.
                Se devuelve una lista de la cantidad de informacion pedida
                ordenada de mayor a menor de los mas pesados a los menos.
            </wsdl:documentation>
            <wsdl:input message="impl:dimensionesODEsPublicados2Request" 
                        name="dimensionesODEsPublicados2Request"/>
            <wsdl:output message="impl:dimensionesODEsPublicados2Response" 
                         name="dimensionesODEsPublicados2Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerUltimosOdesPublicados">
                
            <wsdl:documentation> 
                Obtiene los n últimos odes publicados.
                Parametro de entrada: entero con el numero de odes que se
                quieren obtener.
                Parametro de salida: array de vo con los n últimos odes
                publicados.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerUltimosOdesPublicados3Request" 
                        name="obtenerUltimosOdesPublicados3Request"/>
            <wsdl:output message="impl:obtenerUltimosOdesPublicados3Response" 
                         name="obtenerUltimosOdesPublicados3Response"/>
        </wsdl:operation>
        <wsdl:operation name="odesPorEstados">
                
            <wsdl:documentation> 
                Este metodo devuelve la cantidad de ODEs que hay en cada estado
                dentro del periodo de tiempo dado.
            </wsdl:documentation>
            <wsdl:input message="impl:odesPorEstados4Request" 
                        name="odesPorEstados4Request"/>
            <wsdl:output message="impl:odesPorEstados4Response" 
                         name="odesPorEstados4Response"/>
        </wsdl:operation>
        <wsdl:operation name="odesPorUsuario">
                
            <wsdl:documentation> 
                Este metodo devuelve el listado de ODEs que un usuario tiene
                asociado por estado dentro del ciclo de vida definido en el
                modulo de publicacion.
            </wsdl:documentation>
            <wsdl:input message="impl:odesPorUsuario5Request" 
                        name="odesPorUsuario5Request"/>
            <wsdl:output message="impl:odesPorUsuario5Response" 
                         name="odesPorUsuario5Response"/>
        </wsdl:operation>
        <wsdl:operation name="odesPublicados">
                
            <wsdl:documentation> 
                Este metodo devuelve el numero de ODEs publicados en la
                plataforma.
            </wsdl:documentation>
            <wsdl:input message="impl:odesPublicados6Request" 
                        name="odesPublicados6Request"/>
            <wsdl:output message="impl:odesPublicados6Response" 
                         name="odesPublicados6Response"/>
        </wsdl:operation>
        <wsdl:operation name="odesPublicadosPorIdioma">
                
            <wsdl:documentation> 
                Este metodo devuelve el numero de ODEs que hay publicados por
                idiomas.
            </wsdl:documentation>
            <wsdl:input message="impl:odesPublicadosPorIdioma7Request" 
                        name="odesPublicadosPorIdioma7Request"/>
            <wsdl:output message="impl:odesPublicadosPorIdioma7Response" 
                         name="odesPublicadosPorIdioma7Response"/>
        </wsdl:operation>
        <wsdl:operation name="titulosODEsPorID">
                
            <wsdl:documentation> 
                Este metodo devuelve la informacion de detalle de la lista de
                identificadores que le pasan.
            </wsdl:documentation>
            <wsdl:input message="impl:titulosODEsPorID8Request" 
                        name="titulosODEsPorID8Request"/>
            <wsdl:output message="impl:titulosODEsPorID8Response" 
                         name="titulosODEsPorID8Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvAuditaPublicacionServiceSoapBinding" type="impl:SrvAuditaPublicacionService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="actividadTransiciones">
            <wsdlsoap:operation soapAction="actividadTransiciones" style="document"/>
            <wsdl:input name="actividadTransiciones1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="actividadTransiciones1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="dimensionesODEsPublicados">
            <wsdlsoap:operation soapAction="dimensionesODEsPublicados" style="document"/>
            <wsdl:input name="dimensionesODEsPublicados2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="dimensionesODEsPublicados2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerUltimosOdesPublicados">
            <wsdlsoap:operation soapAction="obtenerUltimosOdesPublicados" style="document"/>
            <wsdl:input name="obtenerUltimosOdesPublicados3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerUltimosOdesPublicados3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="odesPorEstados">
            <wsdlsoap:operation soapAction="odesPorEstados" style="document"/>
            <wsdl:input name="odesPorEstados4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="odesPorEstados4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="odesPorUsuario">
            <wsdlsoap:operation soapAction="odesPorUsuario" style="document"/>
            <wsdl:input name="odesPorUsuario5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="odesPorUsuario5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="odesPublicados">
            <wsdlsoap:operation soapAction="odesPublicados" style="document"/>
            <wsdl:input name="odesPublicados6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="odesPublicados6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="odesPublicadosPorIdioma">
            <wsdlsoap:operation soapAction="odesPublicadosPorIdioma" style="document"/>
            <wsdl:input name="odesPublicadosPorIdioma7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="odesPublicadosPorIdioma7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="titulosODEsPorID">
            <wsdlsoap:operation soapAction="titulosODEsPorID" style="document"/>
            <wsdl:input name="titulosODEsPorID8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="titulosODEsPorID8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvAuditaPublicacionServiceService">
        <wsdl:documentation> 
            Este servicio implementa toda la funcionalidad de auditoria del
            servico de publicacion. Es la puerta de entrada a la informacion
            estadistica relevante que se puede generar en el modulo de
            publicacion.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvAuditaPublicacionServiceSoapBinding" name="SrvAuditaPublicacionService">
            <wsdlsoap:address location="http://localhost:8080/publicacion/services/SrvAuditaPublicacionService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>