src/modules/agrega/soporte/webservices/src/main/wsdl/SrvAuditoriaIndexadorService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvAuditoriaIndexadorService" 
    targetNamespace="http://auditoria.servicios.negocio.indexador.pode.es"
    xmlns:impl="http://auditoria.servicios.negocio.indexador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://auditoria.servicios.negocio.indexador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="coberturaArbolCurricular">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo recibe un recorrido de arbol curricular y devuelve
                        el recubrimiento del mismo que hacen los elementos que estan
                        indexados en el repositorio.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametroAuditoria" type="impl:ParametroAuditIndexadorVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Parametros del metodo para indicar el nodo de cobertura y las
                                    fechas desde y hasta ivolucradas en el periodo de tiempo.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="coberturaArbolCurricularResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="coberturaArbolCurricularReturn" type="impl:ArrayOfCoberturaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="coberturaLicencias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve el nivel de cobertura de los elementos
                        indexados sobre todas las licencias.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametroAuditoria" type="impl:ParametroAuditIndexadorVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Parametro con todos los elementos para la ejecucion del metodo,
                                    incluyendo los periodos de tiempo ivolucrados
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="coberturaLicenciasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="coberturaLicenciasReturn" type="impl:ArrayOfCoberturaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="coberturaNivelAgregacion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve el nivel de cobertura que tienen los
                        elementos del indice sobre el nivel de agregacion.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametroAuditoria" type="impl:ParametroAuditIndexadorVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Paramerto con todos los elementos necesarios para la ejecucion
                                    del metodo con las fechas involucradas en el periodo de tiempo.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="coberturaNivelAgregacionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="coberturaNivelAgregacionReturn" type="impl:ArrayOfCoberturaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerURLImagenPequena">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo que devuelve las URLs de las imagenes pequenas de los
                        identificadores que le pasamos
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    El idioma para acceder al archivo del indexador
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="identificadores" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Los identificadores mec
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerURLImagenPequenaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerURLImagenPequenaReturn" type="impl:ArrayOfxsd_string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="CoberturaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase alberga toda la informacion que hace falta para saber
                        la cobertura de un identificador dentro del repositorio.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del atributo del que se quiere saber la cobertura.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numDoc" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Numero de documentos existentes en el repositorio que cubren
                                este identificador.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCoberturaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:CoberturaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametroAuditIndexadorVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase alberta todos los parametros necesarios para la
                        ejecucion de los metodos de auditoria.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="fechaDesde" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha desde del periodo en el que se esta interesado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaHasta" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha hasta del periodo en el que se esta interesado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idNodo" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Lista de identificadores de los nodos del arbol curricular del
                                que se quiere calcular la cobertura.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idLicencias" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Lista de licencias que se quieren buscar.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="coberturaArbolCurricular1Request">
        <wsdl:part element="impl:coberturaArbolCurricular" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="coberturaArbolCurricular1Response">
        <wsdl:part element="impl:coberturaArbolCurricularResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="coberturaLicencias2Request">
        <wsdl:part element="impl:coberturaLicencias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="coberturaLicencias2Response">
        <wsdl:part element="impl:coberturaLicenciasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="coberturaNivelAgregacion3Request">
        <wsdl:part element="impl:coberturaNivelAgregacion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="coberturaNivelAgregacion3Response">
        <wsdl:part element="impl:coberturaNivelAgregacionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerURLImagenPequena4Request">
        <wsdl:part element="impl:obtenerURLImagenPequena" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerURLImagenPequena4Response">
        <wsdl:part element="impl:obtenerURLImagenPequenaResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvAuditoriaIndexadorService">
        <wsdl:operation name="coberturaArbolCurricular">
                
            <wsdl:documentation> 
                Este metodo recibe un recorrido de arbol curricular y devuelve
                el recubrimiento del mismo que hacen los elementos que estan
                indexados en el repositorio.
            </wsdl:documentation>
            <wsdl:input message="impl:coberturaArbolCurricular1Request" 
                        name="coberturaArbolCurricular1Request"/>
            <wsdl:output message="impl:coberturaArbolCurricular1Response" 
                         name="coberturaArbolCurricular1Response"/>
        </wsdl:operation>
        <wsdl:operation name="coberturaLicencias">
                
            <wsdl:documentation> 
                Este metodo devuelve el nivel de cobertura de los elementos
                indexados sobre todas las licencias.
            </wsdl:documentation>
            <wsdl:input message="impl:coberturaLicencias2Request" 
                        name="coberturaLicencias2Request"/>
            <wsdl:output message="impl:coberturaLicencias2Response" 
                         name="coberturaLicencias2Response"/>
        </wsdl:operation>
        <wsdl:operation name="coberturaNivelAgregacion">
                
            <wsdl:documentation> 
                Este metodo devuelve el nivel de cobertura que tienen los
                elementos del indice sobre el nivel de agregacion.
            </wsdl:documentation>
            <wsdl:input message="impl:coberturaNivelAgregacion3Request" 
                        name="coberturaNivelAgregacion3Request"/>
            <wsdl:output message="impl:coberturaNivelAgregacion3Response" 
                         name="coberturaNivelAgregacion3Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerURLImagenPequena">
                
            <wsdl:documentation> 
                Metodo que devuelve las URLs de las imagenes pequenas de los
                identificadores que le pasamos
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerURLImagenPequena4Request" 
                        name="obtenerURLImagenPequena4Request"/>
            <wsdl:output message="impl:obtenerURLImagenPequena4Response" 
                         name="obtenerURLImagenPequena4Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvAuditoriaIndexadorServiceSoapBinding" type="impl:SrvAuditoriaIndexadorService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="coberturaArbolCurricular">
            <wsdlsoap:operation soapAction="coberturaArbolCurricular" style="document"/>
            <wsdl:input name="coberturaArbolCurricular1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="coberturaArbolCurricular1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="coberturaLicencias">
            <wsdlsoap:operation soapAction="coberturaLicencias" style="document"/>
            <wsdl:input name="coberturaLicencias2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="coberturaLicencias2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="coberturaNivelAgregacion">
            <wsdlsoap:operation soapAction="coberturaNivelAgregacion" style="document"/>
            <wsdl:input name="coberturaNivelAgregacion3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="coberturaNivelAgregacion3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerURLImagenPequena">
            <wsdlsoap:operation soapAction="obtenerURLImagenPequena" style="document"/>
            <wsdl:input name="obtenerURLImagenPequena4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerURLImagenPequena4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvAuditoriaIndexadorServiceService">
        <wsdl:documentation> 
            Esta clase implementa el servicio que da soporte a todos los
            metodos de auditoria del modulo de indexacion.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvAuditoriaIndexadorServiceSoapBinding" name="SrvAuditoriaIndexadorService">
            <wsdlsoap:address location="http://localhost:8080/indexador/services/SrvAuditoriaIndexadorService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>