src/modules/agrega/soporte/webservices/src/main/wsdl/SrvAuditoriaFederadaServicio.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvAuditoriaFederadaServicio" 
    targetNamespace="http://servicios.negocio.auditoria.pode.es"
    xmlns:impl="http://servicios.negocio.auditoria.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.auditoria.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="coberturaFederadoLocal">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        método de obtención de los odes por cobertura curricular
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosInformeFederadoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="coberturaFederadoLocalResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="coberturaFederadoLocalReturn" type="impl:InformeCoberturaFederadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="informeCoberturaFederado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene el informe federados de los odes por área curricular en
                        cada uno de los nodos de la federación
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosInformeFederadoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    VO con los parámetros para la generación del informe
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="informeCoberturaFederadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="informeCoberturaFederadoReturn" type="impl:ArrayOfInformeCoberturaFederadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="informeNivelAgregacionFederado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método que generará un array de VO con la información de los
                        odes que pertenecen a cada nivel de agregación dentro de la
                        federación
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosInformeFederadoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    VO con los párametros necesarios para la generación del informe
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="informeNivelAgregacionFederadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="informeNivelAgregacionFederadoReturn" type="impl:ArrayOfInformeAgregacionFederadaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="informeOdesIdiomaFederado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        método que devuelve los odes publicados en cada idioma para cada
                        nodo
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosInformeFederadoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="informeOdesIdiomaFederadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="informeOdesIdiomaFederadoReturn" type="impl:ArrayOfInformeOdesIdiomaFederadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="informeOdesIdiomaLocal">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        método que devuelve los odes publicados en cada idioma
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosInformeFederadoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="informeOdesIdiomaLocalResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="informeOdesIdiomaLocalReturn" type="impl:InformeOdesIdiomaFederadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="informeOdesPublicadosFederado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        método que obtiene el número de odes publicados en cada nodo
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosInformeFederadoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="informeOdesPublicadosFederadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="informeOdesPublicadosFederadoReturn" type="impl:ArrayOfInformeOdesPublicadosFederadaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="nivelAgregacionFederadoLocal">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método de generación del informe de nivel de agregación local
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosInformeFederadoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    VO con los parámetros necesarios para la generación del informe
                                    de nivel de agregación
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="nivelAgregacionFederadoLocalResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="nivelAgregacionFederadoLocalReturn" type="impl:InformeAgregacionFederadaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="odesPublicadosFederadoLocal">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosInformeFederadoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="odesPublicadosFederadoLocalResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="odesPublicadosFederadoLocalReturn" type="impl:InformeOdesPublicadosFederadaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="CoberturaCurricularContenido">
                <xsd:annotation>     
                    <xsd:documentation> 
                        VO con el número de odes que hay en cada rama del árbol
                        curricular
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="coberturaCurricular" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del árbol curricular
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="totalOdes" nillable="false" type="xsd:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Número de odes existentes en la rama del árbol curricular
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCoberturaCurricularContenido">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:CoberturaCurricularContenido" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="InformeAgregacionFederadaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        VO que contiene la información del los odes que existen en cada
                        nivel de agregación junto con el nombre del nodo del que es la
                        información
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nodo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del nodo del que se obtiene la información
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacion" nillable="false" type="impl:ArrayOfNivelAgregacionContenido">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Array de VO con la información de los odes que hay por nivel de
                                agregación
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfInformeAgregacionFederadaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:InformeAgregacionFederadaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="InformeCoberturaFederadoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        VO con la información de los odes existentes en cada rama del
                        árbol curricular para cada nodo
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nodo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del nodo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="coberturaCurricular" nillable="false" type="impl:ArrayOfCoberturaCurricularContenido">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del nodo, será el campo que se mostrará en el informe
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfInformeCoberturaFederadoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:InformeCoberturaFederadoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="InformeOdesIdiomaFederadoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        VO con la información de los odes publicados en cada idioma para
                        cada nodo
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nodo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del nodo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="odesIdioma" nillable="false" type="impl:ArrayOfOdesPorIdioma">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfInformeOdesIdiomaFederadoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:InformeOdesIdiomaFederadoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="InformeOdesPublicadosFederadaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        VO con la información de los odes publicados en cada nodo
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nodo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del nodo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroOdes" nillable="false" type="xsd:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Número de odes publicados en ese nodo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfInformeOdesPublicadosFederadaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:InformeOdesPublicadosFederadaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NivelAgregacionContenido">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object con la información de los odes que tienen asociado
                        cada nivel de agregación
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del nivel de agregación
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numDoc" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Número de odes que tienen asociado ese nivel de agregación
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfNivelAgregacionContenido">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:NivelAgregacionContenido" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OdesPorIdioma">
                <xsd:annotation>     
                    <xsd:documentation> 
                        VO con el número de odes publicados en un idioma
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma en el que se obtendrá el número de odes
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroOdes" nillable="false" type="xsd:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Número de odes publicados en un idioma
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaTraducido" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                idioma traducido a traves de soporte del atributo idioma
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfOdesPorIdioma">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:OdesPorIdioma" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametrosInformeFederadoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        VO con la información necesaria para la ejecución de los
                        informes federados
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="fechaDesde" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de inicio a partir de la cual se generará el informe
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaHasta" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha hasta la cual se calculará el informe
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoInforme" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo de informe federado que se ejecutará
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rango" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valor del rango de elementos que se van a generar
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma en el que se mostrará el contenido del informe
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idUsuario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del usuario del que se quiere obtener la
                                información del informe
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="coberturaFederadoLocal1Request">
        <wsdl:part element="impl:coberturaFederadoLocal" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="coberturaFederadoLocal1Response">
        <wsdl:part element="impl:coberturaFederadoLocalResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="informeCoberturaFederado2Request">
        <wsdl:part element="impl:informeCoberturaFederado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="informeCoberturaFederado2Response">
        <wsdl:part element="impl:informeCoberturaFederadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="informeNivelAgregacionFederado3Request">
        <wsdl:part element="impl:informeNivelAgregacionFederado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="informeNivelAgregacionFederado3Response">
        <wsdl:part element="impl:informeNivelAgregacionFederadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="informeOdesIdiomaFederado4Request">
        <wsdl:part element="impl:informeOdesIdiomaFederado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="informeOdesIdiomaFederado4Response">
        <wsdl:part element="impl:informeOdesIdiomaFederadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="informeOdesIdiomaLocal5Request">
        <wsdl:part element="impl:informeOdesIdiomaLocal" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="informeOdesIdiomaLocal5Response">
        <wsdl:part element="impl:informeOdesIdiomaLocalResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="informeOdesPublicadosFederado6Request">
        <wsdl:part element="impl:informeOdesPublicadosFederado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="informeOdesPublicadosFederado6Response">
        <wsdl:part element="impl:informeOdesPublicadosFederadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="nivelAgregacionFederadoLocal7Request">
        <wsdl:part element="impl:nivelAgregacionFederadoLocal" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="nivelAgregacionFederadoLocal7Response">
        <wsdl:part element="impl:nivelAgregacionFederadoLocalResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="odesPublicadosFederadoLocal8Request">
        <wsdl:part element="impl:odesPublicadosFederadoLocal" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="odesPublicadosFederadoLocal8Response">
        <wsdl:part element="impl:odesPublicadosFederadoLocalResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvAuditoriaFederadaServicio">
        <wsdl:operation name="coberturaFederadoLocal">
                
            <wsdl:documentation> 
                método de obtención de los odes por cobertura curricular
            </wsdl:documentation>
            <wsdl:input message="impl:coberturaFederadoLocal1Request" 
                        name="coberturaFederadoLocal1Request"/>
            <wsdl:output message="impl:coberturaFederadoLocal1Response" 
                         name="coberturaFederadoLocal1Response"/>
        </wsdl:operation>
        <wsdl:operation name="informeCoberturaFederado">
                
            <wsdl:documentation> 
                Obtiene el informe federados de los odes por área curricular en
                cada uno de los nodos de la federación
            </wsdl:documentation>
            <wsdl:input message="impl:informeCoberturaFederado2Request" 
                        name="informeCoberturaFederado2Request"/>
            <wsdl:output message="impl:informeCoberturaFederado2Response" 
                         name="informeCoberturaFederado2Response"/>
        </wsdl:operation>
        <wsdl:operation name="informeNivelAgregacionFederado">
                
            <wsdl:documentation> 
                Método que generará un array de VO con la información de los
                odes que pertenecen a cada nivel de agregación dentro de la
                federación
            </wsdl:documentation>
            <wsdl:input message="impl:informeNivelAgregacionFederado3Request" 
                        name="informeNivelAgregacionFederado3Request"/>
            <wsdl:output message="impl:informeNivelAgregacionFederado3Response" 
                         name="informeNivelAgregacionFederado3Response"/>
        </wsdl:operation>
        <wsdl:operation name="informeOdesIdiomaFederado">
                
            <wsdl:documentation> 
                método que devuelve los odes publicados en cada idioma para cada
                nodo
            </wsdl:documentation>
            <wsdl:input message="impl:informeOdesIdiomaFederado4Request" 
                        name="informeOdesIdiomaFederado4Request"/>
            <wsdl:output message="impl:informeOdesIdiomaFederado4Response" 
                         name="informeOdesIdiomaFederado4Response"/>
        </wsdl:operation>
        <wsdl:operation name="informeOdesIdiomaLocal">
                
            <wsdl:documentation> 
                método que devuelve los odes publicados en cada idioma
            </wsdl:documentation>
            <wsdl:input message="impl:informeOdesIdiomaLocal5Request" 
                        name="informeOdesIdiomaLocal5Request"/>
            <wsdl:output message="impl:informeOdesIdiomaLocal5Response" 
                         name="informeOdesIdiomaLocal5Response"/>
        </wsdl:operation>
        <wsdl:operation name="informeOdesPublicadosFederado">
                
            <wsdl:documentation> 
                método que obtiene el número de odes publicados en cada nodo
            </wsdl:documentation>
            <wsdl:input message="impl:informeOdesPublicadosFederado6Request" 
                        name="informeOdesPublicadosFederado6Request"/>
            <wsdl:output message="impl:informeOdesPublicadosFederado6Response" 
                         name="informeOdesPublicadosFederado6Response"/>
        </wsdl:operation>
        <wsdl:operation name="nivelAgregacionFederadoLocal">
                
            <wsdl:documentation> 
                Método de generación del informe de nivel de agregación local
            </wsdl:documentation>
            <wsdl:input message="impl:nivelAgregacionFederadoLocal7Request" 
                        name="nivelAgregacionFederadoLocal7Request"/>
            <wsdl:output message="impl:nivelAgregacionFederadoLocal7Response" 
                         name="nivelAgregacionFederadoLocal7Response"/>
        </wsdl:operation>
        <wsdl:operation name="odesPublicadosFederadoLocal">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:odesPublicadosFederadoLocal8Request" 
                        name="odesPublicadosFederadoLocal8Request"/>
            <wsdl:output message="impl:odesPublicadosFederadoLocal8Response" 
                         name="odesPublicadosFederadoLocal8Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvAuditoriaFederadaServicioSoapBinding" type="impl:SrvAuditoriaFederadaServicio">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="coberturaFederadoLocal">
            <wsdlsoap:operation soapAction="coberturaFederadoLocal" style="document"/>
            <wsdl:input name="coberturaFederadoLocal1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="coberturaFederadoLocal1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="informeCoberturaFederado">
            <wsdlsoap:operation soapAction="informeCoberturaFederado" style="document"/>
            <wsdl:input name="informeCoberturaFederado2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="informeCoberturaFederado2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="informeNivelAgregacionFederado">
            <wsdlsoap:operation soapAction="informeNivelAgregacionFederado" style="document"/>
            <wsdl:input name="informeNivelAgregacionFederado3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="informeNivelAgregacionFederado3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="informeOdesIdiomaFederado">
            <wsdlsoap:operation soapAction="informeOdesIdiomaFederado" style="document"/>
            <wsdl:input name="informeOdesIdiomaFederado4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="informeOdesIdiomaFederado4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="informeOdesIdiomaLocal">
            <wsdlsoap:operation soapAction="informeOdesIdiomaLocal" style="document"/>
            <wsdl:input name="informeOdesIdiomaLocal5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="informeOdesIdiomaLocal5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="informeOdesPublicadosFederado">
            <wsdlsoap:operation soapAction="informeOdesPublicadosFederado" style="document"/>
            <wsdl:input name="informeOdesPublicadosFederado6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="informeOdesPublicadosFederado6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="nivelAgregacionFederadoLocal">
            <wsdlsoap:operation soapAction="nivelAgregacionFederadoLocal" style="document"/>
            <wsdl:input name="nivelAgregacionFederadoLocal7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="nivelAgregacionFederadoLocal7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="odesPublicadosFederadoLocal">
            <wsdlsoap:operation soapAction="odesPublicadosFederadoLocal" style="document"/>
            <wsdl:input name="odesPublicadosFederadoLocal8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="odesPublicadosFederadoLocal8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvAuditoriaFederadaServicioService">
        <wsdl:documentation> 
            Clase encargada de la generación de los informes federados
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvAuditoriaFederadaServicioSoapBinding" name="SrvAuditoriaFederadaServicio">
            <wsdlsoap:address location="http://localhost:8080/auditoria/services/SrvAuditoriaFederadaServicio"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>