src/modules/agrega/soporte/webservices/src/main/wsdl/SrvBuscarFederadaService.wsdl.broken

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvBuscarFederadaService" 
    targetNamespace="http://servicios.federada.negocio.buscar.pode.es"
    xmlns:impl="http://servicios.federada.negocio.buscar.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.federada.negocio.buscar.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="buscarDocsNodoArbolCurricular">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosNodoArbolCurricularVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="buscarDocsNodoArbolCurricularResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="buscarDocsNodoArbolCurricularReturn" type="impl:DocumentosVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="busquedaFederada">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosBusquedaAvanzadaVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="busquedaFederadaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="busquedaFederadaReturn" type="impl:DocumentosVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="estoyActivo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="estoyActivoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="estoyActivoReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerIdentificadorNodo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerIdentificadorNodoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerIdentificadorNodoReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="solicitarDocsCountArbolCurricular">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosDocsCountVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="solicitarDocsCountArbolCurricularResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="solicitarDocsCountArbolCurricularReturn" type="impl:ResultadosNodoCountVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ParametrosBusquedaAvanzadaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase encapsula todos los parametros configurables para la
                        realizacion de una busqueda en el servicio de Buscar.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="valoracion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valoracion del ODE dentro de la plataforma.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="secuencia" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Con secuencia o sin secuencia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="recurso" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Recurso del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="procesoCognitivo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Proceso cognitivo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="palabrasClave" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata de las palabras clave por las que se quiere buscar.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="origenPagina" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Indice del conjunto total de resultados a partir del cual se
                                quieren obtener un conjunto de resultados.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroResultados" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Numero de resultados maximo que se quieren devolver.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="areaCurricular" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El nivel educativo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaNavegacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata del idioma con el que el usuario navega por la
                                aplicacion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaBusqueda" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma por el que se quiere configurar la busqueda.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idBusqueda" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El identificador de la busqueda en el caso de que el cliente que
                                invoca la misma ya la haya realizado anteriormente y solo quiera
                                paginar sobre los resultados de la misma.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formato" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Formato del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de publicacion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="edad" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Edad de los destinatarios de la accion lectiva del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripcion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contexto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Contexto del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comunidadesSeleccionadas" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Comunidades en las que se busca el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="autor" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Autor del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resultadosPorPagina" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El numero de resultados por pagina en el que se esta interesado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comunidadPeticion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idTesauro" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="busquedaSimpleAvanzada" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="arbolCurricularVigente" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="destinatarios" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="keyword" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ambito" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametrosDocsCountVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Parámetros para solicitar el número de documentos para un área
                        curricular
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idiomaBusqueda" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="areaCurricular" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaNavegacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoBusqueda" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comunidadPeticion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="arbolCurricularVigente" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tesauros" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametrosNodoArbolCurricularVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Parámetros para la solicitud de documentos existentes en el
                        índice para un área curricular.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idiomaBusqueda" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="areaCurricular" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroResultados" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaNavegacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="origenPagina" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resultadoPagina" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idBusqueda" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoBusqueda" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comunidadPeticion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultadosNodoCountVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Número de documentos para un área curricular.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="numeroResultados" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="conteo" nillable="true" type="impl:ArrayOfsoapenc_int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDocVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:DocVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DocVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="localizadorODE" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valoracion" nillable="true" type="soapenc:float">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoRecurso" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="curso" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="areaCurricular" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="licencias" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formato" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="destinatarios" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ambito" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ranking" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificadorODE" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nodo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacion" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tesauros" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="arbolCurricularVigente" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tamanio" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="conSinSecuencia" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDocVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:DocVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTaxonVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TaxonVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfsoapenc_int">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="soapenc:int" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="buscarDocsNodoArbolCurricular1Request">
        <wsdl:part element="impl:buscarDocsNodoArbolCurricular" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="buscarDocsNodoArbolCurricular1Response">
        <wsdl:part element="impl:buscarDocsNodoArbolCurricularResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="busquedaFederada2Request">
        <wsdl:part element="impl:busquedaFederada" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="busquedaFederada2Response">
        <wsdl:part element="impl:busquedaFederadaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estoyActivo3Request">
        <wsdl:part element="impl:estoyActivo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estoyActivo3Response">
        <wsdl:part element="impl:estoyActivoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerIdentificadorNodo4Request">
        <wsdl:part element="impl:obtenerIdentificadorNodo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerIdentificadorNodo4Response">
        <wsdl:part element="impl:obtenerIdentificadorNodoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="solicitarDocsCountArbolCurricular5Request">
        <wsdl:part element="impl:solicitarDocsCountArbolCurricular" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="solicitarDocsCountArbolCurricular5Response">
        <wsdl:part element="impl:solicitarDocsCountArbolCurricularResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvBuscarFederadaService">
        <wsdl:operation name="buscarDocsNodoArbolCurricular">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:buscarDocsNodoArbolCurricular1Request" 
                        name="buscarDocsNodoArbolCurricular1Request"/>
            <wsdl:output message="impl:buscarDocsNodoArbolCurricular1Response" 
                         name="buscarDocsNodoArbolCurricular1Response"/>
        </wsdl:operation>
        <wsdl:operation name="busquedaFederada">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:busquedaFederada2Request" 
                        name="busquedaFederada2Request"/>
            <wsdl:output message="impl:busquedaFederada2Response" 
                         name="busquedaFederada2Response"/>
        </wsdl:operation>
        <wsdl:operation name="estoyActivo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:estoyActivo3Request" 
                        name="estoyActivo3Request"/>
            <wsdl:output message="impl:estoyActivo3Response" 
                         name="estoyActivo3Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerIdentificadorNodo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerIdentificadorNodo4Request" 
                        name="obtenerIdentificadorNodo4Request"/>
            <wsdl:output message="impl:obtenerIdentificadorNodo4Response" 
                         name="obtenerIdentificadorNodo4Response"/>
        </wsdl:operation>
        <wsdl:operation name="solicitarDocsCountArbolCurricular">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:solicitarDocsCountArbolCurricular5Request" 
                        name="solicitarDocsCountArbolCurricular5Request"/>
            <wsdl:output message="impl:solicitarDocsCountArbolCurricular5Response" 
                         name="solicitarDocsCountArbolCurricular5Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvBuscarFederadaServiceSoapBinding" type="impl:SrvBuscarFederadaService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="buscarDocsNodoArbolCurricular">
            <wsdlsoap:operation soapAction="buscarDocsNodoArbolCurricular" style="document"/>
            <wsdl:input name="buscarDocsNodoArbolCurricular1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="buscarDocsNodoArbolCurricular1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="busquedaFederada">
            <wsdlsoap:operation soapAction="busquedaFederada" style="document"/>
            <wsdl:input name="busquedaFederada2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="busquedaFederada2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="estoyActivo">
            <wsdlsoap:operation soapAction="estoyActivo" style="document"/>
            <wsdl:input name="estoyActivo3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="estoyActivo3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerIdentificadorNodo">
            <wsdlsoap:operation soapAction="obtenerIdentificadorNodo" style="document"/>
            <wsdl:input name="obtenerIdentificadorNodo4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerIdentificadorNodo4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="solicitarDocsCountArbolCurricular">
            <wsdlsoap:operation soapAction="solicitarDocsCountArbolCurricular" style="document"/>
            <wsdl:input name="solicitarDocsCountArbolCurricular5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="solicitarDocsCountArbolCurricular5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvBuscarFederadaServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvBuscarFederadaServiceSoapBinding" name="SrvBuscarFederadaService">
            <wsdlsoap:address location="http://localhost:8080/buscar/services/SrvBuscarFederadaService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>