src/modules/agrega/soporte/webservices/src/main/wsdl/SrvBuscarService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvBuscarService" 
    targetNamespace="http://servicios.buscar.negocio.buscar.pode.es"
    xmlns:impl="http://servicios.buscar.negocio.buscar.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.buscar.negocio.buscar.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="borrarHitCache">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="hit" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="borrarHitCacheResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="borrarHitCacheReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="buscarAvanzado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo busca en el repositorio de ODE's de acuerdo a los
                        parametros de busqueda avanzada que le pasan. La informacion de
                        busqueda es la que se configura en la Web. Este metodo es
                        accesible desde el exterior a traves del interfaz de Web
                        Services
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosBusquedaAvanzadaVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Los parametros que configuran la busqueda avanzada
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="buscarAvanzadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="buscarAvanzadoReturn" type="impl:ResultadoBusquedaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="buscarLomEs">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo implementa la busqueda deacuerdo a la informacion
                        suministrada por el modulo de SQI.
                        Devuelve el resultado de la busqueda en el formato necesario
                        para el modulo de SQI.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosBusquedaSQIVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Los parametros que configuran la busqueda.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="buscarLomEsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="buscarLomEsReturn" type="impl:ResultadoBusquedaSQIVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="buscarSQI">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo resuelve la búsqueda SQI sobre los nodos federados
                        en la plataforma que implementan el interfaz SQI.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="consulta" type="impl:ParamBusquedaSQIVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Se trata del texto de consulta con el que se quiere realizar la
                                    búsqueda SQI.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="buscarSQIResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="buscarSQIReturn" type="impl:ResultadoBusquedaSQIVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="generadorIdentificadorAvanzado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo genera un identificador para la cache de busqueda
                        para una busqueda avanzada.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametrosAvanzada" type="impl:ParametrosBusquedaAvanzadaVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Parametros de la busqueda avanzada.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="generadorIdentificadorAvanzadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="generadorIdentificadorAvanzadoReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="solicitarDocsCount">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Solicita el número de documentos existentes en el índice para un
                        área curricular.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametrosDocsCountVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Parámetros para solicitar el número de documentos. Compuesto por
                                    áres curricular e idioma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="solicitarDocsCountResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="solicitarDocsCountReturn" type="impl:ResultadosNodoCountVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="solicitarMetadato">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo realiza una busqueda directa de un ODE utilizando su
                        identificador MEC y el idioma de busqueda sobre el repositorio
                        local. Devuelve la meta informacion del ODE.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametros" type="impl:ParametroMetadatoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Los parametros necesarios para consultar los metadatos de un ODE
                                    dado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="solicitarMetadatoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="solicitarMetadatoReturn" type="impl:MetadatoBasicoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="LomEsVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Objeto de valor que contiene los datos LOMES mas relevantes de
                        un VO.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="lomES" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                LOM-ES del resultado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ranking" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valor del ranking del resultado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del lomes.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripcion del lomes.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nodo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del nodo que produjo los resultados.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="localizacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                La localizacion del nodo SQI
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLomEsVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:LomEsVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MetadatoBasicoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="licencias" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Licencias del ODE. Una licencia por entrada en el array.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripcion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formato" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Formato del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="destinatarios" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Los destinatarios del ODE. Un destinatario por cada entrada del
                                array.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma del ODE. Un idioma por cada entrada del array
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ambito" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Ambito de aplicacion del ODE. Un ambito por cada entrada del
                                string.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valoracion" nillable="false" type="soapenc:float">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valoracion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="localizadorODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Localizador del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificadorODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador alfanumerico de un ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="imagen" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacion" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tamanio" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="conSinSecuencia" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Indica si el ode tiene secuencia o no.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="horaPublicacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="size" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                String representation of the "size" attribute (in bytes) for a resource.
                                LOM Ref: 4.2
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="learningResourceType" nillable="true" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                Learning Resource Type
                                LOM Ref: 5.2
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="annotation" nillable="true" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                Notes / Annotation
                                LOM Ref: 8.3
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParamBusquedaSQIVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="palabrasClave" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Palabras a buscar
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="origenPagina" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroResultados" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resultadoPorPagina" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametroMetadatoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="identificadorODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador alfanumerico del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma en el que se quieren buscar los metadatos.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="busquedaSimpleAvanzada" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametrosBusquedaAvanzadaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase encapsula todos los parametros configurables para la
                        realizacion de una busqueda en el servicio de Buscar.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="valoracion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valoracion del ODE dentro de la plataforma.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="secuencia" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Con secuencia o sin secuencia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="recurso" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Recurso del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="procesoCognitivo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Proceso cognitivo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="palabrasClave" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata de las palabras clave por las que se quiere buscar.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="origenPagina" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Indice del conjunto total de resultados a partir del cual se
                                quieren obtener un conjunto de resultados.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroResultados" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Numero de resultados maximo que se quieren devolver.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="areaCurricular" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El nivel educativo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaNavegacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata del idioma con el que el usuario navega por la
                                aplicacion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaBusqueda" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma por el que se quiere configurar la busqueda.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idBusqueda" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El identificador de la busqueda en el caso de que el cliente que
                                invoca la misma ya la haya realizado anteriormente y solo quiera
                                paginar sobre los resultados de la misma.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formato" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Formato del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de publicacion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="edad" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Edad de los destinatarios de la accion lectiva del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripcion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contexto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Contexto del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comunidadesSeleccionadas" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Comunidades en las que se busca el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="autor" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Autor del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resultadosPorPagina" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El numero de resultados por pagina en el que se esta interesado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comunidadPeticion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idTesauro" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="busquedaSimpleAvanzada" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="arbolCurricularVigente" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="destinatarios" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="keyword" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ambito" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="sortingMethod" nillable="true" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>

                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="searchFilters" nillable="true" type="apachesoap:Map">
                        <xsd:annotation>
                            <xsd:documentation>
                                Search filters as key-value pairs.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametrosBusquedaSQIVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase almacena todos los parametros de busqueda que se
                        pueden configurar en una busqueda desde el modulo de DRI-SQI.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="query" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata de la consulta que se realiza desde el modulo de
                                DRI-SQI.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="maxResultados" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Limitacion del numero maximo de resultados que se pueden recoger
                                para una query.
                                El valor por defecto es 100.
                                Los valores permitidos van desde 0 o mas.
                                Si el valor es 0, indica que no esta limitado el numero de
                                resultados devueltos por una query.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="startResult" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata del indice del primer resultado en devuelto en el que
                                se esta interesado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resultadosDevueltos" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Numero de resultados devueltos en un result set como resultado
                                de la ejecucion de una query.
                                Puede ocurrir que la ejecucion de una query devuelva mas
                                resultados de los que necesite, con este parametro configuramos
                                la cantidad de resultados que vamos a devolver por cada result
                                set.
                                El valor por defecto son 25.
                                Los valores validos van desde 0 o mas.
                                Si el valor es 0, una consulta esta pidiendo todos los
                                resultados devueltos.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vocabularioConsulta" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Especifica el vocabulario que se esta utilizando para realizar
                                la consulta.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaBusqueda" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma en el que se esta realizando la busqueda.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametrosDocsCountVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Parámetros para solicitar el número de documentos para un área
                        curricular
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idiomaBusqueda" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="areaCurricular" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaNavegacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoBusqueda" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comunidadPeticion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="arbolCurricularVigente" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tesauros" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultadoBusquedaSQIVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase encapsula la informacion devuelta por el buscador en
                        el caso de realizarse una busqueda por SQI.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="resultadoBusqueda" nillable="true" type="impl:ArrayOfLomEsVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                La lista de resultados fruto de la busqueda por SQI.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroResultados" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Numero de resultados fruto de la busqueda.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultadoBusquedaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="resultadoBusqueda" nillable="true" type="impl:ArrayOfValoresBusquedaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sugerencias" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Las sugerencias que puede dar un resultado fallido de busqueda
                                pueden ser multiples.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroResultados" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Numero de resultados que se han obtenido de la busqueda.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idBusqueda" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata del identificador de la busqueda que se ha realizado.
                                Se utiliza para que las subsiguientes consultas sobre el
                                buscador sobre la misma busqueda se hagan directamente sobre la
                                cache y no se realicen de nuevo. Tambien se usa para la
                                paginacion de los resultados.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="totalResultados" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tesauros" nillable="true" type="impl:ArrayOfResultadosTaxonVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultadosNodoCountVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Número de documentos para un área curricular.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="numeroResultados" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="conteo" nillable="true" type="impl:ArrayOfsoapenc_int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultadosTaxonVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="identificador" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombre" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroOdesAsociados" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esHoja" nillable="true" type="xsd:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfResultadosTaxonVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ResultadosTaxonVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ValoresBusquedaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="valoracion" nillable="false" type="soapenc:float">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valoracion del ODE dentro de la plataforma.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoRecurso" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo de recurso. Hay un tipo de recurso por cada entrada del
                                array.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ranking" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valor del ranking dentro de la busqueda realizada.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="areaCurricular" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El area curricular del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="curso" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Curso al que pertenece el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador alfanumerico del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlImagen" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nodo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="arbolCurricularVigente" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacion" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formato" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacionTexto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ambito" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esVisualizable" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="horaPublicacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                hora de publicación del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="size" nillable="true" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                String representation of the "size" attribute (in bytes) for a resource.
                                LOM Ref: 4.2
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contentProviders" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>
                            <xsd:documentation>
                                Content provider name(s)
                                LOM Ref:   2.3.2
                                Condition: The corresponding value for 2.3.1 is "content provider"
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="authors" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>
                            <xsd:documentation>
                                Author name(s)
                                LOM Ref:   2.3.2
                                Condition: The corresponding value for 2.3.1 is "author"
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="typicalLearningTime" nillable="true" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                The NDRB representation of the typical learning time for a resource:

                                NDRB duration bucket values:
                                  Less than 10 mins
                                  10-30 mins
                                  30 mins - 1 hour
                                  1-8 hours
                                  More than 8 hours

                                LOM Ref: 5.9
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfValoresBusquedaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ValoresBusquedaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfsoapenc_int">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="soapenc:int" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="borrarHitCache1Request">
        <wsdl:part element="impl:borrarHitCache" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="borrarHitCache1Response">
        <wsdl:part element="impl:borrarHitCacheResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="buscarAvanzado2Request">
        <wsdl:part element="impl:buscarAvanzado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="buscarAvanzado2Response">
        <wsdl:part element="impl:buscarAvanzadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="buscarLomEs3Request">
        <wsdl:part element="impl:buscarLomEs" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="buscarLomEs3Response">
        <wsdl:part element="impl:buscarLomEsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="buscarSQI4Request">
        <wsdl:part element="impl:buscarSQI" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="buscarSQI4Response">
        <wsdl:part element="impl:buscarSQIResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generadorIdentificadorAvanzado5Request">
        <wsdl:part element="impl:generadorIdentificadorAvanzado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generadorIdentificadorAvanzado5Response">
        <wsdl:part element="impl:generadorIdentificadorAvanzadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="solicitarDocsCount6Request">
        <wsdl:part element="impl:solicitarDocsCount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="solicitarDocsCount6Response">
        <wsdl:part element="impl:solicitarDocsCountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="solicitarMetadato7Request">
        <wsdl:part element="impl:solicitarMetadato" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="solicitarMetadato7Response">
        <wsdl:part element="impl:solicitarMetadatoResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvBuscarService">
        <wsdl:operation name="borrarHitCache">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:borrarHitCache1Request" 
                        name="borrarHitCache1Request"/>
            <wsdl:output message="impl:borrarHitCache1Response" 
                         name="borrarHitCache1Response"/>
        </wsdl:operation>
        <wsdl:operation name="buscarAvanzado">
                
            <wsdl:documentation> 
                Este metodo busca en el repositorio de ODE's de acuerdo a los
                parametros de busqueda avanzada que le pasan. La informacion de
                busqueda es la que se configura en la Web. Este metodo es
                accesible desde el exterior a traves del interfaz de Web
                Services
            </wsdl:documentation>
            <wsdl:input message="impl:buscarAvanzado2Request" 
                        name="buscarAvanzado2Request"/>
            <wsdl:output message="impl:buscarAvanzado2Response" 
                         name="buscarAvanzado2Response"/>
        </wsdl:operation>
        <wsdl:operation name="buscarLomEs">
                
            <wsdl:documentation> 
                Este metodo implementa la busqueda deacuerdo a la informacion
                suministrada por el modulo de SQI.
                Devuelve el resultado de la busqueda en el formato necesario
                para el modulo de SQI.
            </wsdl:documentation>
            <wsdl:input message="impl:buscarLomEs3Request" 
                        name="buscarLomEs3Request"/>
            <wsdl:output message="impl:buscarLomEs3Response" 
                         name="buscarLomEs3Response"/>
        </wsdl:operation>
        <wsdl:operation name="buscarSQI">
                
            <wsdl:documentation> 
                Este metodo resuelve la búsqueda SQI sobre los nodos federados
                en la plataforma que implementan el interfaz SQI.
            </wsdl:documentation>
            <wsdl:input message="impl:buscarSQI4Request" 
                        name="buscarSQI4Request"/>
            <wsdl:output message="impl:buscarSQI4Response" 
                         name="buscarSQI4Response"/>
        </wsdl:operation>
        <wsdl:operation name="generadorIdentificadorAvanzado">
                
            <wsdl:documentation> 
                Este metodo genera un identificador para la cache de busqueda
                para una busqueda avanzada.
            </wsdl:documentation>
            <wsdl:input message="impl:generadorIdentificadorAvanzado5Request" 
                        name="generadorIdentificadorAvanzado5Request"/>
            <wsdl:output message="impl:generadorIdentificadorAvanzado5Response" 
                         name="generadorIdentificadorAvanzado5Response"/>
        </wsdl:operation>
        <wsdl:operation name="solicitarDocsCount">
                
            <wsdl:documentation> 
                Solicita el número de documentos existentes en el índice para un
                área curricular.
            </wsdl:documentation>
            <wsdl:input message="impl:solicitarDocsCount6Request" 
                        name="solicitarDocsCount6Request"/>
            <wsdl:output message="impl:solicitarDocsCount6Response" 
                         name="solicitarDocsCount6Response"/>
        </wsdl:operation>
        <wsdl:operation name="solicitarMetadato">
                
            <wsdl:documentation> 
                Este metodo realiza una busqueda directa de un ODE utilizando su
                identificador MEC y el idioma de busqueda sobre el repositorio
                local. Devuelve la meta informacion del ODE.
            </wsdl:documentation>
            <wsdl:input message="impl:solicitarMetadato7Request" 
                        name="solicitarMetadato7Request"/>
            <wsdl:output message="impl:solicitarMetadato7Response" 
                         name="solicitarMetadato7Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvBuscarServiceSoapBinding" type="impl:SrvBuscarService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="borrarHitCache">
            <wsdlsoap:operation soapAction="borrarHitCache" style="document"/>
            <wsdl:input name="borrarHitCache1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="borrarHitCache1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="buscarAvanzado">
            <wsdlsoap:operation soapAction="buscarAvanzado" style="document"/>
            <wsdl:input name="buscarAvanzado2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="buscarAvanzado2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="buscarLomEs">
            <wsdlsoap:operation soapAction="buscarLomEs" style="document"/>
            <wsdl:input name="buscarLomEs3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="buscarLomEs3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="buscarSQI">
            <wsdlsoap:operation soapAction="buscarSQI" style="document"/>
            <wsdl:input name="buscarSQI4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="buscarSQI4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="generadorIdentificadorAvanzado">
            <wsdlsoap:operation soapAction="generadorIdentificadorAvanzado" style="document"/>
            <wsdl:input name="generadorIdentificadorAvanzado5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generadorIdentificadorAvanzado5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="solicitarDocsCount">
            <wsdlsoap:operation soapAction="solicitarDocsCount" style="document"/>
            <wsdl:input name="solicitarDocsCount6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="solicitarDocsCount6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="solicitarMetadato">
            <wsdlsoap:operation soapAction="solicitarMetadato" style="document"/>
            <wsdl:input name="solicitarMetadato7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="solicitarMetadato7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvBuscarServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvBuscarServiceSoapBinding" name="SrvBuscarService">
            <wsdlsoap:address location="http://localhost:8080/buscar/services/SrvBuscarService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>