src/modules/agrega/soporte/webservices/src/main/wsdl/SrvDRIService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvDRIService" 
    targetNamespace="http://DRI.servicios.negocio.dri.pode.es"
    xmlns:impl="http://DRI.servicios.negocio.dri.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://DRI.servicios.negocio.dri.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="estasActivo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="estasActivoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="estasActivoReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="presentarAlmacenar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo invoca el publicarPIF del servicio de publicacion.
                        Le pasan como parametros el identificador de usuario y la clave
                        de un usuario autenticado en la plataforma y el contenido del
                        ODE en formato PIF. El usuario debe tener los suficientes
                        permisos dentro de la plataforma para poder realizar esta accion
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Usuario perteneciente a la plataforma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="clave" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Clave del usuario dentro de la platafoma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="pif" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Fichero del ODE en formato zip.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="presentarAlmacenarResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="presentarAlmacenarSesion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo invoca el publicarPIF del servicio de publicacion.
                        Le pasan como parametros el identificador de la sesion que hay
                        que haber inicializado y el contenido del ODE en formato PIF.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="sesionId" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que hay que haber requerido
                                    previamente.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="pif" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Fichero PIF con el contenido del ODE.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="presentarAlmacenarSesionResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="presentarCatalogar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo recoge un ODE y lo introduce en el ciclo de vida de
                        la plataforma en el estado catalogar en el que un catalogador ha
                        de realizar su labor sobre el ODE.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Usuario perteneciente a la plataforma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="clave" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Clave del usuario dentro de la platafoma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="pif" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Fichero del ODE en formato zip.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="presentarCatalogarResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="presentarCatalogarSesion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo recoge un ODE y lo introduce en el ciclo de vida de
                        la plataforma en el estado catalogar en el que un catalogador ha
                        de realizar su labor sobre el ODE.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="sesionId" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que hay que haber inicializado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="pif" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    contenido del ODE en formato ZIP.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="presentarCatalogarSesionResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="solicitarEntregarSesion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve un ODE en formato PIF.
                        Toma como parametros el identificador de la sesion que hay que
                        haber inicializado antes y el identificador del ODE que se
                        quiere obtener.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="sesionId" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que hay que haber inicializado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="mec" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador mec del ODE que se solicita.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="solicitarEntregarSesionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="solicitarEntregarSesionReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="SesionNoValidaException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Cuando la sesion que se utiliza para la accion de DRI de turno
                        no es valida por el motivo que sea.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="estasActivo1Request">
        <wsdl:part element="impl:estasActivo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estasActivo1Response">
        <wsdl:part element="impl:estasActivoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarAlmacenar2Request">
        <wsdl:part element="impl:presentarAlmacenar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarAlmacenar2Response">
        <wsdl:part element="impl:presentarAlmacenarResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarAlmacenarSesion3Request">
        <wsdl:part element="impl:presentarAlmacenarSesion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarAlmacenarSesion3Response">
        <wsdl:part element="impl:presentarAlmacenarSesionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarCatalogar4Request">
        <wsdl:part element="impl:presentarCatalogar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarCatalogar4Response">
        <wsdl:part element="impl:presentarCatalogarResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarCatalogarSesion5Request">
        <wsdl:part element="impl:presentarCatalogarSesion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarCatalogarSesion5Response">
        <wsdl:part element="impl:presentarCatalogarSesionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="solicitarEntregarSesion6Request">
        <wsdl:part element="impl:solicitarEntregarSesion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="solicitarEntregarSesion6Response">
        <wsdl:part element="impl:solicitarEntregarSesionResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvDRIService">
        <wsdl:operation name="estasActivo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:estasActivo1Request" 
                        name="estasActivo1Request"/>
            <wsdl:output message="impl:estasActivo1Response" 
                         name="estasActivo1Response"/>
        </wsdl:operation>
        <wsdl:operation name="presentarAlmacenar">
                
            <wsdl:documentation> 
                Este metodo invoca el publicarPIF del servicio de publicacion.
                Le pasan como parametros el identificador de usuario y la clave
                de un usuario autenticado en la plataforma y el contenido del
                ODE en formato PIF. El usuario debe tener los suficientes
                permisos dentro de la plataforma para poder realizar esta accion
            </wsdl:documentation>
            <wsdl:input message="impl:presentarAlmacenar2Request" 
                        name="presentarAlmacenar2Request"/>
            <wsdl:output message="impl:presentarAlmacenar2Response" 
                         name="presentarAlmacenar2Response"/>
        </wsdl:operation>
        <wsdl:operation name="presentarAlmacenarSesion">
                
            <wsdl:documentation> 
                Este metodo invoca el publicarPIF del servicio de publicacion.
                Le pasan como parametros el identificador de la sesion que hay
                que haber inicializado y el contenido del ODE en formato PIF.
            </wsdl:documentation>
            <wsdl:input message="impl:presentarAlmacenarSesion3Request" 
                        name="presentarAlmacenarSesion3Request"/>
            <wsdl:output message="impl:presentarAlmacenarSesion3Response" 
                         name="presentarAlmacenarSesion3Response"/>
        </wsdl:operation>
        <wsdl:operation name="presentarCatalogar">
                
            <wsdl:documentation> 
                Este metodo recoge un ODE y lo introduce en el ciclo de vida de
                la plataforma en el estado catalogar en el que un catalogador ha
                de realizar su labor sobre el ODE.
            </wsdl:documentation>
            <wsdl:input message="impl:presentarCatalogar4Request" 
                        name="presentarCatalogar4Request"/>
            <wsdl:output message="impl:presentarCatalogar4Response" 
                         name="presentarCatalogar4Response"/>
        </wsdl:operation>
        <wsdl:operation name="presentarCatalogarSesion">
                
            <wsdl:documentation> 
                Este metodo recoge un ODE y lo introduce en el ciclo de vida de
                la plataforma en el estado catalogar en el que un catalogador ha
                de realizar su labor sobre el ODE.
            </wsdl:documentation>
            <wsdl:input message="impl:presentarCatalogarSesion5Request" 
                        name="presentarCatalogarSesion5Request"/>
            <wsdl:output message="impl:presentarCatalogarSesion5Response" 
                         name="presentarCatalogarSesion5Response"/>
        </wsdl:operation>
        <wsdl:operation name="solicitarEntregarSesion">
                
            <wsdl:documentation> 
                Este metodo devuelve un ODE en formato PIF.
                Toma como parametros el identificador de la sesion que hay que
                haber inicializado antes y el identificador del ODE que se
                quiere obtener.
            </wsdl:documentation>
            <wsdl:input message="impl:solicitarEntregarSesion6Request" 
                        name="solicitarEntregarSesion6Request"/>
            <wsdl:output message="impl:solicitarEntregarSesion6Response" 
                         name="solicitarEntregarSesion6Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvDRIServiceSoapBinding" type="impl:SrvDRIService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="estasActivo">
            <wsdlsoap:operation soapAction="estasActivo" style="document"/>
            <wsdl:input name="estasActivo1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="estasActivo1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="presentarAlmacenar">
            <wsdlsoap:operation soapAction="presentarAlmacenar" style="document"/>
            <wsdl:input name="presentarAlmacenar2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="presentarAlmacenar2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="presentarAlmacenarSesion">
            <wsdlsoap:operation soapAction="presentarAlmacenarSesion" style="document"/>
            <wsdl:input name="presentarAlmacenarSesion3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="presentarAlmacenarSesion3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="presentarCatalogar">
            <wsdlsoap:operation soapAction="presentarCatalogar" style="document"/>
            <wsdl:input name="presentarCatalogar4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="presentarCatalogar4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="presentarCatalogarSesion">
            <wsdlsoap:operation soapAction="presentarCatalogarSesion" style="document"/>
            <wsdl:input name="presentarCatalogarSesion5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="presentarCatalogarSesion5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="solicitarEntregarSesion">
            <wsdlsoap:operation soapAction="solicitarEntregarSesion" style="document"/>
            <wsdl:input name="solicitarEntregarSesion6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="solicitarEntregarSesion6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvDRIServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvDRIServiceSoapBinding" name="SrvDRIService">
            <wsdlsoap:address location="http://localhost:8080/dri/services/SrvDRIService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>