src/modules/agrega/soporte/webservices/src/main/wsdl/SrvEstructurasEducativasService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvEstructurasEducativasService" 
    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:impl="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="chequearIdiomaArbolCurricular">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="chequearIdiomaArbolCurricularResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="chequearIdiomaArbolCurricularReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="chequearIdiomaTesauro">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="chequearIdiomaTesauroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="chequearIdiomaTesauroReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarArbolesCurriculares">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombres" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarArbolesCurricularesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarArbolesCurricularesReturn" type="impl:ArrayOfxsd_int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarBackups">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombres" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarBackupsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarBackupsReturn" type="impl:ArrayOfxsd_int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarTesauros">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombres" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarTesaurosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarTesaurosReturn" type="impl:ArrayOfxsd_int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="exportarVdex">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tipoVdex" type="impl:TipoVdex" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="exportarVdexResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="exportarVdexReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarArbolCurricular">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarArbolCurricularResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarArbolCurricularReturn" type="impl:ArrayOfVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarBackups">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarBackupsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarBackupsReturn" type="impl:ArrayOfVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarTesauros">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarTesaurosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarTesaurosReturn" type="impl:ArrayOfVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="subirArbolesCurriculares">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="arboles" type="impl:ArrayOfParamVdexVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="subirArbolesCurricularesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="subirArbolesCurricularesReturn" type="impl:ArrayOfVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="subirBackups">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="listaVdex" type="impl:ArrayOfParamVdexVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="subirBackupsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="subirBackupsReturn" type="impl:ArrayOfVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="subirTesauros">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="tesauros" type="impl:ArrayOfParamVdexVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="subirTesaurosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="subirTesaurosReturn" type="impl:ArrayOfVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ParamVdexVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ficheroXml" nillable="false" type="apachesoap:DataHandler">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreFichero" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfParamVdexVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ParamVdexVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="TipoVdex">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ARBOL">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="TESAURO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="TAXONOMIA">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="TESAUROS_BACK">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="VdexVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codigoError" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sufijo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfVdexVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:VdexVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_int">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:int" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="chequearIdiomaArbolCurricular1Request">
        <wsdl:part element="impl:chequearIdiomaArbolCurricular" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="chequearIdiomaArbolCurricular1Response">
        <wsdl:part element="impl:chequearIdiomaArbolCurricularResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="chequearIdiomaTesauro2Request">
        <wsdl:part element="impl:chequearIdiomaTesauro" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="chequearIdiomaTesauro2Response">
        <wsdl:part element="impl:chequearIdiomaTesauroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarArbolesCurriculares3Request">
        <wsdl:part element="impl:eliminarArbolesCurriculares" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarArbolesCurriculares3Response">
        <wsdl:part element="impl:eliminarArbolesCurricularesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarBackups4Request">
        <wsdl:part element="impl:eliminarBackups" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarBackups4Response">
        <wsdl:part element="impl:eliminarBackupsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTesauros5Request">
        <wsdl:part element="impl:eliminarTesauros" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTesauros5Response">
        <wsdl:part element="impl:eliminarTesaurosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="exportarVdex6Request">
        <wsdl:part element="impl:exportarVdex" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="exportarVdex6Response">
        <wsdl:part element="impl:exportarVdexResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarArbolCurricular7Request">
        <wsdl:part element="impl:listarArbolCurricular" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarArbolCurricular7Response">
        <wsdl:part element="impl:listarArbolCurricularResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarBackups8Request">
        <wsdl:part element="impl:listarBackups" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarBackups8Response">
        <wsdl:part element="impl:listarBackupsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarTesauros9Request">
        <wsdl:part element="impl:listarTesauros" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarTesauros9Response">
        <wsdl:part element="impl:listarTesaurosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subirArbolesCurriculares10Request">
        <wsdl:part element="impl:subirArbolesCurriculares" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subirArbolesCurriculares10Response">
        <wsdl:part element="impl:subirArbolesCurricularesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subirBackups11Request">
        <wsdl:part element="impl:subirBackups" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subirBackups11Response">
        <wsdl:part element="impl:subirBackupsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subirTesauros12Request">
        <wsdl:part element="impl:subirTesauros" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subirTesauros12Response">
        <wsdl:part element="impl:subirTesaurosResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvEstructurasEducativasService">
        <wsdl:operation name="chequearIdiomaArbolCurricular">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:chequearIdiomaArbolCurricular1Request" 
                        name="chequearIdiomaArbolCurricular1Request"/>
            <wsdl:output message="impl:chequearIdiomaArbolCurricular1Response" 
                         name="chequearIdiomaArbolCurricular1Response"/>
        </wsdl:operation>
        <wsdl:operation name="chequearIdiomaTesauro">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:chequearIdiomaTesauro2Request" 
                        name="chequearIdiomaTesauro2Request"/>
            <wsdl:output message="impl:chequearIdiomaTesauro2Response" 
                         name="chequearIdiomaTesauro2Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarArbolesCurriculares">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarArbolesCurriculares3Request" 
                        name="eliminarArbolesCurriculares3Request"/>
            <wsdl:output message="impl:eliminarArbolesCurriculares3Response" 
                         name="eliminarArbolesCurriculares3Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarBackups">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarBackups4Request" 
                        name="eliminarBackups4Request"/>
            <wsdl:output message="impl:eliminarBackups4Response" 
                         name="eliminarBackups4Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarTesauros">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarTesauros5Request" 
                        name="eliminarTesauros5Request"/>
            <wsdl:output message="impl:eliminarTesauros5Response" 
                         name="eliminarTesauros5Response"/>
        </wsdl:operation>
        <wsdl:operation name="exportarVdex">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:exportarVdex6Request" 
                        name="exportarVdex6Request"/>
            <wsdl:output message="impl:exportarVdex6Response" 
                         name="exportarVdex6Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarArbolCurricular">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarArbolCurricular7Request" 
                        name="listarArbolCurricular7Request"/>
            <wsdl:output message="impl:listarArbolCurricular7Response" 
                         name="listarArbolCurricular7Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarBackups">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarBackups8Request" 
                        name="listarBackups8Request"/>
            <wsdl:output message="impl:listarBackups8Response" 
                         name="listarBackups8Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarTesauros">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarTesauros9Request" 
                        name="listarTesauros9Request"/>
            <wsdl:output message="impl:listarTesauros9Response" 
                         name="listarTesauros9Response"/>
        </wsdl:operation>
        <wsdl:operation name="subirArbolesCurriculares">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:subirArbolesCurriculares10Request" 
                        name="subirArbolesCurriculares10Request"/>
            <wsdl:output message="impl:subirArbolesCurriculares10Response" 
                         name="subirArbolesCurriculares10Response"/>
        </wsdl:operation>
        <wsdl:operation name="subirBackups">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:subirBackups11Request" 
                        name="subirBackups11Request"/>
            <wsdl:output message="impl:subirBackups11Response" 
                         name="subirBackups11Response"/>
        </wsdl:operation>
        <wsdl:operation name="subirTesauros">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:subirTesauros12Request" 
                        name="subirTesauros12Request"/>
            <wsdl:output message="impl:subirTesauros12Response" 
                         name="subirTesauros12Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvEstructurasEducativasServiceSoapBinding" type="impl:SrvEstructurasEducativasService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="chequearIdiomaArbolCurricular">
            <wsdlsoap:operation soapAction="chequearIdiomaArbolCurricular" style="document"/>
            <wsdl:input name="chequearIdiomaArbolCurricular1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="chequearIdiomaArbolCurricular1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="chequearIdiomaTesauro">
            <wsdlsoap:operation soapAction="chequearIdiomaTesauro" style="document"/>
            <wsdl:input name="chequearIdiomaTesauro2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="chequearIdiomaTesauro2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarArbolesCurriculares">
            <wsdlsoap:operation soapAction="eliminarArbolesCurriculares" style="document"/>
            <wsdl:input name="eliminarArbolesCurriculares3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarArbolesCurriculares3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarBackups">
            <wsdlsoap:operation soapAction="eliminarBackups" style="document"/>
            <wsdl:input name="eliminarBackups4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarBackups4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarTesauros">
            <wsdlsoap:operation soapAction="eliminarTesauros" style="document"/>
            <wsdl:input name="eliminarTesauros5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarTesauros5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="exportarVdex">
            <wsdlsoap:operation soapAction="exportarVdex" style="document"/>
            <wsdl:input name="exportarVdex6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="exportarVdex6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarArbolCurricular">
            <wsdlsoap:operation soapAction="listarArbolCurricular" style="document"/>
            <wsdl:input name="listarArbolCurricular7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarArbolCurricular7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarBackups">
            <wsdlsoap:operation soapAction="listarBackups" style="document"/>
            <wsdl:input name="listarBackups8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarBackups8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarTesauros">
            <wsdlsoap:operation soapAction="listarTesauros" style="document"/>
            <wsdl:input name="listarTesauros9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarTesauros9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="subirArbolesCurriculares">
            <wsdlsoap:operation soapAction="subirArbolesCurriculares" style="document"/>
            <wsdl:input name="subirArbolesCurriculares10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="subirArbolesCurriculares10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="subirBackups">
            <wsdlsoap:operation soapAction="subirBackups" style="document"/>
            <wsdl:input name="subirBackups11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="subirBackups11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="subirTesauros">
            <wsdlsoap:operation soapAction="subirTesauros" style="document"/>
            <wsdl:input name="subirTesauros12Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="subirTesauros12Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvEstructurasEducativasServiceService">
        <wsdl:documentation> 
            Servicio para la administracion de distintas Estructuras
            Educativas. Permite administrar ficheros xml que describen
            diferentes estructuras educativas como:
            -Tesauros
            -Taxonomias
            -Arbol Curricular
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvEstructurasEducativasServiceSoapBinding" name="SrvEstructurasEducativasService">
            <wsdlsoap:address location="http://localhost:8080/fuentestaxonomicas/services/SrvEstructurasEducativasService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>