src/modules/agrega/soporte/webservices/src/main/wsdl/SrvEmpaquetadorBasicoService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvEmpaquetadorBasicoService" 
    targetNamespace="http://servicio.negocio.empaquetador.pode.es"
    xmlns:impl="http://servicio.negocio.empaquetador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.empaquetador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="agregarLocal">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Agrega un paquete, sea un Ode, un RCP (Resource Content Package)
                        o un conjunto de ficheros, comprimidos o no.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE en edicion.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="fichero" type="impl:FicheroVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Fichero del paquete a agregar
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idGrupo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del Item donde se esta agregando el contenido. Es
                                    el item bajo el cual se creara el nuevo item que referencia al
                                    contenido agregado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="agregarLocalResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="agregarRepositorio">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Importa un ODE del repositorio indicado al ODE actual, bajo el
                        identificador de grupo dado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE en edicion
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idLocalizador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE del repositorio que desea agregarse al ODE
                                    actual.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idGrupo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del grupo bajo el que se agregan los contenidos.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="agregarRepositorioResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="analizaArchivo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Analiza el archivo dado y determina si es un RCP, un ODE
                        (devuelve "CA"), un archivo ZIP o un fichero individual.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="rutaArchivo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ruta al fichero pendiente de análisis
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="rutaDescomprimido" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ruta donde se descomprimirá el fichero si es un ZIP
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="analizaArchivoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="analizaArchivoReturn" type="impl:AnalizaArchivoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="asociarContenidos">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Asocia los ficheros dados al Recurso referenciado por el Item
                        dado. Si no existe, se creará uno nuevo.
                        Emplea las operaciones crearRecurso y modificarRecurso del
                        servicio GestorManifestService.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE al que se asociarán los contenidos
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idGrupo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del Grupo bajo el que se asociarán los contenidos
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ficheros" type="impl:ArrayOfFileVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Contenidos para asociar
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="href" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Href del fichero principal o URL asociada al Grupo.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="asociarContenidosResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="cortar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Copia los ficheros / carpetas especificados a la carpeta de
                        destino deseada. A continuación elimina los ficheros / carpetas
                        de origen con una llamada a eliminar.
                        Usa la operación cortar del servicio GestorArchivosService.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE en que estamos trabajando.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="carpetaDestino" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ruta relativa a la localizacion del ODE en que se esta
                                    trabajando donde se desean copiar los ficheros / carpetas.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ficheros" type="impl:ArrayOfArchivoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ficheros / carpetas que se desean mover.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cortarResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="crearObjetoEmbebido">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Crea un objeto HTML con el código embebido suministrado.
                        Inserta el código dado en una plantilla HTML simple, en el lugar
                        del Body.
                        No se chequea la validez o corrección del HTML resultante.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ode en el que quedará insertado
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="contenido" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Código HTML a embeber
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearObjetoEmbebidoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearObjetoEmbebidoReturn" type="impl:ArchivoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="desagregarItem">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Desagregar items a Ode autogenerado.
                        El ode se almacena en objetos personales del usuario.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ode origen
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="items" type="impl:ArrayOfGrupoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de items a desagregar
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="desagregarItemResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="desagregarItemReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="desagregarItemLocal">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Desagregar items a Ode autogenerado.
                        El paquete SCORM2004 con el ODE generado al exportar las
                        carpetas se devuelve como un DataHandler
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ode origen
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="items" type="impl:ArrayOfGrupoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de items a desagregar
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="desagregarItemLocalResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="desagregarItemLocalReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="editarObjetoEmbebido">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="file" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="editarObjetoEmbebidoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="editarObjetoEmbebidoReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="editarOde">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Editar ODE actual. Llama internamente a la operación editarOde
                        del servicio GestorManifest y a continuación realiza aplanado de
                        organizaciones y submanifiestos que pudiera haber.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ode que se va a editar
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="editarOdeResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="editarOdeReturn" type="impl:OdeVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarFicheros">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina del Ode el fichero indicado.
                        Si es referenciado por algún item o recurso, no se elimina a no
                        ser que checked=true.
                        Devuelve true si se eliminó los ficheros, false si alguno es
                        referenciado por algún item o recurso.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del Ode del que se borrarán los ficheros
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ficheros" type="impl:ArrayOfArchivoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ficheros que se eliminarán.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="checked" type="xsd:boolean" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Bandera que indica si se desea seguir adelante con el borrado
                                    aunque algún fichero esté referenciado
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarFicherosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarFicherosReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarGrupo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina el grupo indicado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    identificador del Ode del que se borrará el grupo
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idGrupo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Grupo que se debe eliminar
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="eliminarFicheros" type="soapenc:boolean" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    true: elimina los ficheros asociados a este recurso que no estan
                                    referenciados por otros recursos.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarGrupoResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="referenciadoPor">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve la lista de items que referencian a este fichero dentro
                        de este Ode
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del Ode
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="fichero" type="impl:ArchivoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Fichero para el que buscamos referencias
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="referenciadoPorResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="referenciadoPorReturn" type="impl:ArrayOfGrupoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="renombrar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Modifica el nombre del fichero o carpeta deseado.
                        Llama al SrvGestorArchivosService.renombrar
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE en que se esta trabajando.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="carpetaPadre" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Carpeta que contiene el fichero/carpeta a cambiar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nombre" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Nombre del fichero / carpeta a renombrar
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nuevoNombre" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Nuevo nombre del fichero / carpeta a cambiar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="renombrarResponse">       
                <xsd:complexType/>     
            </xsd:element>


            <xsd:complexType name="AnalizaArchivoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="tipoArchivo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mensajes" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfArchivoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ArchivoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArchivoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object representado un fichero o carpeta en la
                        localización del ODE.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del fichero o carpeta.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esFichero" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Distingue entre ficheros y carpetas: true = fichero, false =
                                carpeta.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="href" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                URL que da acceso al fichero.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="carpetaPadre" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Especifica la ruta relativa a la localizacion del ODE donde se
                                encuentra el fichero / carpeta.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mime" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo MIME del fichero, en caso de que este ArchivoVO se
                                corresponda con un fichero.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esProtegido" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                True si fichero está en lista de protegidos
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contenidos" nillable="true" type="impl:ArrayOfArchivoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CompletionThresholdVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="content" nillable="false" type="soapenc:double">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ControlModeVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Clase que representa el modo de control de una secuencia. Se
                        corresponde con la clase ControlMode.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="choice" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="choiceExit" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flow" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="forwardOnly" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DataFromLMSVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="content" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDependenciaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:DependenciaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DependenciaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Dependencia del recurso.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idRef" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FicheroVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Clase que encapsula un fichero subido desde la capa de
                        presentacion.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre de archivo (sin ruta).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoMime" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo MIME del archivo.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="datos" nillable="false" type="apachesoap:DataHandler">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Datahandler que contiene los datos del fichero.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ruta" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Ruta relativa en la que se ha de almacenar el fichero.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFileVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:FileVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FileVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Clase que representa un fichero contenido en un recurso. Se
                        mapea de la clase es.pode.parseadorXML.scorm2004.File.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="href" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Ruta relativa del fichero. Se corresponde con el atributo href
                                de la clase es.pode.parseadorXML.scorm2004.File.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="url" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lom" nillable="true" type="impl:LomVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFileVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:FileVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfGrupoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:GrupoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GrupoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Clase que representa un elemento dentro de una organizacion. Se
                        corresponde con la clase Item.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="identifier" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del grupo. Se corresponde con el atributo
                                identifier de la clase Item.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="title" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del grupo. Se corresponde con el atributo title de la
                                clase Item.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="elementoReferenciado" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Elemento referenciado por este grupo (recurso o submanifiesto).
                                Se corresponde con el atributo idRef de la clase Item.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esCarpeta" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Flag que identifica a este grupo como contenedor de grupos.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esRecurso" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Flag que indica si este grupo referencia a un recurso (i.e., el
                                atributo elementoReferenciado tiene como valor el identificador
                                de un RecursoVO).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esSubmanifiesto" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Flag que indica si este grupo referencia un manifiesto agregado
                                (i.e., elementoReferenciado tiene asignado el identificador de
                                un submanifiesto).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="recursoURL" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                URL que apunta al recurso en el servidor.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idManifest" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del manifiesto que contiene a este item.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="isVisible" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="grupos" nillable="true" type="impl:ArrayOfGrupoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Grupos hijos del grupo actual. Se corresponde con el atributo
                                item de la clase Item.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="secuencia" nillable="true" type="impl:ArrayOfSecuenciaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Secuencia asociada al Item. Se corresponde con el objeto
                                Sequence almacenado en el atributo Grp_any.Any_object de la
                                clase Item.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="lom" nillable="true" type="impl:LomVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="presentation" nillable="true" type="impl:PresentationVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="timeLimitAction" nillable="true" type="impl:TimeLimitActionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="dataFromLMS" nillable="true" type="impl:DataFromLMSVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="completionThreshold" nillable="true" type="impl:CompletionThresholdVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfGrupoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:GrupoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfHideLMSUIVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:HideLMSUIVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HideLMSUIVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="content" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LomVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Informacion basica del Lom. Se almacenara el titulo idioma y
                        descripcion de la entidad catalogada.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo de la entidad catalogada.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma de la entidad catalogada.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                descripcion de la entidad catalogada.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="metadatoExterno" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Path que apunta al XML externo que contiene el metadato.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MetadataVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="schema" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="schemaVersion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NavigationInterfaceVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="hideLMSUI" nillable="true" type="impl:ArrayOfHideLMSUIVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfOdeVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:OdeVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OdeVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Objeto VO que representa un objeto Manifest de SCORM2004
                        simplificado. Para mapear objetos Manifest a OdeVO y viceversa
                        se emplea la librería Dozer. La configuración del mapeo se
                        define en un fichero de configuracion de Dozer.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="identifier" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del Ode. Se corresponde con el atributo identifier
                                de la clase Manifest.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ruta" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Ruta relativa en la que se almacena el OdeVO. Toma valor cuando
                                el OdeVO es un Submanifiesto. Se corresponde con el atributo
                                base de la clase Manifest.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codigoMEC" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Código MEC del Ode en edicion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="organizacionPrincipal" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador de la organización principal del OdeVO. Se
                                corresponde con el atributo default de la clase Organizations.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="catalogado" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Variable booleana para marcar cuando un ODE ha sido catalogado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="localizadorURL" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                URL de la ruta base del Ode.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="usuario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del usuario propietario del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="conSecuencia" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="submanifiestos" nillable="true" type="impl:ArrayOfOdeVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Array de submanifiestos (OdeVO) agregados al OdeVO. Se
                                corresponde con el atributo manifest de la clase Manifest.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="organizaciones" nillable="true" type="impl:ArrayOfOrganizacionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Array de organizaciones contenidas en el OdeVO. Se corresponde
                                con el atributo organization de la clase Organizations.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="recursos" nillable="true" type="impl:ArrayOfRecursoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Array de recursos del OdeVO. Se corresponde con el atributo
                                resource de la clase Resources.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="metadata" nillable="true" type="impl:MetadataVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Metadatos del Manifest. Se corresponde con el atributo metadata
                                de la clase Manifest.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="lom" nillable="false" type="impl:LomVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Lom asociado al OdeVO. Se corresponde con el objeto Lom
                                contenido en la clase Metadata del Manifest.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfOrganizacionVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:OrganizacionVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganizacionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Objeto que representa una orgacización de un manifiesto
                        SCORM2004. Esta clase representa a un objeto Organization.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="title" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Título de la organización. Representa el atributo title de la
                                clase Organization.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identifier" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador de la organizacion. Representa el atributo
                                identifier de la clase Organization.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="grupos" nillable="true" type="impl:ArrayOfGrupoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Conjunto de grupos contenidos en la organizacion. Se corresponde
                                con el atributo Item de la clase Organization.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="secuencia" nillable="true" type="impl:ArrayOfSecuenciaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Secuencia asociada a la organizacion. Para obtener la secuencia
                                de la clase Organizacion es necesario extraerla de array
                                organization.getGrp_any().getAny_object().
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="lom" nillable="true" type="impl:LomVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PresentationVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="navigationInterface" nillable="true" type="impl:NavigationInterfaceVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfRecursoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:RecursoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RecursoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Objeto que representa un recurso de SCORM2004. Es una version
                        simplificada de la clase Resource.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="identifier" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del recurso. Se corresponde con el atributo
                                identifier de la clase Resource.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="href" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fichero principal del recurso. Se corresponde con el atributo
                                href de la clase Resource.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="type" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo de recurso. Se corresponde con el atributo type de la clase
                                Resource.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="scormType" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo de recurso (ADL)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idManifest" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del Manifest que contiene este recurso.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="recursoURL" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                URL del fichero principal del recurso (localizador + bases +
                                href)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fileList" nillable="false" type="impl:ArrayOfFileVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Lista de ficheros que componen el recurso. Se corresponde con el
                                atributo file de la clase Resource.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="dependencias" nillable="true" type="impl:ArrayOfDependenciaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="lom" nillable="true" type="impl:LomVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfSecuenciaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:SecuenciaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SecuenciaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Clase que representa una secuencia IMS simplificada. Se
                        corresponde con la clase Sequencing.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="controlMode" nillable="false" type="impl:ControlModeVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Modo de control de la secuencia. Se corresponde con el atributo
                                controlMode de la clase Sequencing.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TimeLimitActionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="content" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="agregarLocal1Request">
        <wsdl:part element="impl:agregarLocal" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="agregarLocal1Response">
        <wsdl:part element="impl:agregarLocalResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="agregarRepositorio2Request">
        <wsdl:part element="impl:agregarRepositorio" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="agregarRepositorio2Response">
        <wsdl:part element="impl:agregarRepositorioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="analizaArchivo3Request">
        <wsdl:part element="impl:analizaArchivo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="analizaArchivo3Response">
        <wsdl:part element="impl:analizaArchivoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="asociarContenidos4Request">
        <wsdl:part element="impl:asociarContenidos" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="asociarContenidos4Response">
        <wsdl:part element="impl:asociarContenidosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cortar5Request">
        <wsdl:part element="impl:cortar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cortar5Response">
        <wsdl:part element="impl:cortarResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearObjetoEmbebido6Request">
        <wsdl:part element="impl:crearObjetoEmbebido" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearObjetoEmbebido6Response">
        <wsdl:part element="impl:crearObjetoEmbebidoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="desagregarItem7Request">
        <wsdl:part element="impl:desagregarItem" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="desagregarItem7Response">
        <wsdl:part element="impl:desagregarItemResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="desagregarItemLocal8Request">
        <wsdl:part element="impl:desagregarItemLocal" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="desagregarItemLocal8Response">
        <wsdl:part element="impl:desagregarItemLocalResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="editarObjetoEmbebido9Request">
        <wsdl:part element="impl:editarObjetoEmbebido" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="editarObjetoEmbebido9Response">
        <wsdl:part element="impl:editarObjetoEmbebidoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="editarOde10Request">
        <wsdl:part element="impl:editarOde" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="editarOde10Response">
        <wsdl:part element="impl:editarOdeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarFicheros11Request">
        <wsdl:part element="impl:eliminarFicheros" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarFicheros11Response">
        <wsdl:part element="impl:eliminarFicherosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarGrupo12Request">
        <wsdl:part element="impl:eliminarGrupo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarGrupo12Response">
        <wsdl:part element="impl:eliminarGrupoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="referenciadoPor13Request">
        <wsdl:part element="impl:referenciadoPor" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="referenciadoPor13Response">
        <wsdl:part element="impl:referenciadoPorResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="renombrar14Request">
        <wsdl:part element="impl:renombrar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="renombrar14Response">
        <wsdl:part element="impl:renombrarResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvEmpaquetadorBasicoService">
        <wsdl:operation name="agregarLocal">
                
            <wsdl:documentation> 
                Agrega un paquete, sea un Ode, un RCP (Resource Content Package)
                o un conjunto de ficheros, comprimidos o no.
            </wsdl:documentation>
            <wsdl:input message="impl:agregarLocal1Request" 
                        name="agregarLocal1Request"/>
            <wsdl:output message="impl:agregarLocal1Response" 
                         name="agregarLocal1Response"/>
        </wsdl:operation>
        <wsdl:operation name="agregarRepositorio">
                
            <wsdl:documentation> 
                Importa un ODE del repositorio indicado al ODE actual, bajo el
                identificador de grupo dado.
            </wsdl:documentation>
            <wsdl:input message="impl:agregarRepositorio2Request" 
                        name="agregarRepositorio2Request"/>
            <wsdl:output message="impl:agregarRepositorio2Response" 
                         name="agregarRepositorio2Response"/>
        </wsdl:operation>
        <wsdl:operation name="analizaArchivo">
                
            <wsdl:documentation> 
                Analiza el archivo dado y determina si es un RCP, un ODE
                (devuelve "CA"), un archivo ZIP o un fichero individual.
            </wsdl:documentation>
            <wsdl:input message="impl:analizaArchivo3Request" 
                        name="analizaArchivo3Request"/>
            <wsdl:output message="impl:analizaArchivo3Response" 
                         name="analizaArchivo3Response"/>
        </wsdl:operation>
        <wsdl:operation name="asociarContenidos">
                
            <wsdl:documentation> 
                Asocia los ficheros dados al Recurso referenciado por el Item
                dado. Si no existe, se creará uno nuevo.
                Emplea las operaciones crearRecurso y modificarRecurso del
                servicio GestorManifestService.
            </wsdl:documentation>
            <wsdl:input message="impl:asociarContenidos4Request" 
                        name="asociarContenidos4Request"/>
            <wsdl:output message="impl:asociarContenidos4Response" 
                         name="asociarContenidos4Response"/>
        </wsdl:operation>
        <wsdl:operation name="cortar">
                
            <wsdl:documentation> 
                Copia los ficheros / carpetas especificados a la carpeta de
                destino deseada. A continuación elimina los ficheros / carpetas
                de origen con una llamada a eliminar.
                Usa la operación cortar del servicio GestorArchivosService.
            </wsdl:documentation>
            <wsdl:input message="impl:cortar5Request" 
                        name="cortar5Request"/>
            <wsdl:output message="impl:cortar5Response" 
                         name="cortar5Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearObjetoEmbebido">
                
            <wsdl:documentation> 
                Crea un objeto HTML con el código embebido suministrado.
                Inserta el código dado en una plantilla HTML simple, en el lugar
                del Body.
                No se chequea la validez o corrección del HTML resultante.
            </wsdl:documentation>
            <wsdl:input message="impl:crearObjetoEmbebido6Request" 
                        name="crearObjetoEmbebido6Request"/>
            <wsdl:output message="impl:crearObjetoEmbebido6Response" 
                         name="crearObjetoEmbebido6Response"/>
        </wsdl:operation>
        <wsdl:operation name="desagregarItem">
                
            <wsdl:documentation> 
                Desagregar items a Ode autogenerado.
                El ode se almacena en objetos personales del usuario.
            </wsdl:documentation>
            <wsdl:input message="impl:desagregarItem7Request" 
                        name="desagregarItem7Request"/>
            <wsdl:output message="impl:desagregarItem7Response" 
                         name="desagregarItem7Response"/>
        </wsdl:operation>
        <wsdl:operation name="desagregarItemLocal">
                
            <wsdl:documentation> 
                Desagregar items a Ode autogenerado.
                El paquete SCORM2004 con el ODE generado al exportar las
                carpetas se devuelve como un DataHandler
            </wsdl:documentation>
            <wsdl:input message="impl:desagregarItemLocal8Request" 
                        name="desagregarItemLocal8Request"/>
            <wsdl:output message="impl:desagregarItemLocal8Response" 
                         name="desagregarItemLocal8Response"/>
        </wsdl:operation>
        <wsdl:operation name="editarObjetoEmbebido">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:editarObjetoEmbebido9Request" 
                        name="editarObjetoEmbebido9Request"/>
            <wsdl:output message="impl:editarObjetoEmbebido9Response" 
                         name="editarObjetoEmbebido9Response"/>
        </wsdl:operation>
        <wsdl:operation name="editarOde">
                
            <wsdl:documentation> 
                Editar ODE actual. Llama internamente a la operación editarOde
                del servicio GestorManifest y a continuación realiza aplanado de
                organizaciones y submanifiestos que pudiera haber.
            </wsdl:documentation>
            <wsdl:input message="impl:editarOde10Request" 
                        name="editarOde10Request"/>
            <wsdl:output message="impl:editarOde10Response" 
                         name="editarOde10Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarFicheros">
                
            <wsdl:documentation> 
                Elimina del Ode el fichero indicado.
                Si es referenciado por algún item o recurso, no se elimina a no
                ser que checked=true.
                Devuelve true si se eliminó los ficheros, false si alguno es
                referenciado por algún item o recurso.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarFicheros11Request" 
                        name="eliminarFicheros11Request"/>
            <wsdl:output message="impl:eliminarFicheros11Response" 
                         name="eliminarFicheros11Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarGrupo">
                
            <wsdl:documentation> 
                Elimina el grupo indicado.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarGrupo12Request" 
                        name="eliminarGrupo12Request"/>
            <wsdl:output message="impl:eliminarGrupo12Response" 
                         name="eliminarGrupo12Response"/>
        </wsdl:operation>
        <wsdl:operation name="referenciadoPor">
                
            <wsdl:documentation> 
                Devuelve la lista de items que referencian a este fichero dentro
                de este Ode
            </wsdl:documentation>
            <wsdl:input message="impl:referenciadoPor13Request" 
                        name="referenciadoPor13Request"/>
            <wsdl:output message="impl:referenciadoPor13Response" 
                         name="referenciadoPor13Response"/>
        </wsdl:operation>
        <wsdl:operation name="renombrar">
                
            <wsdl:documentation> 
                Modifica el nombre del fichero o carpeta deseado.
                Llama al SrvGestorArchivosService.renombrar
            </wsdl:documentation>
            <wsdl:input message="impl:renombrar14Request" 
                        name="renombrar14Request"/>
            <wsdl:output message="impl:renombrar14Response" 
                         name="renombrar14Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvEmpaquetadorBasicoServiceSoapBinding" type="impl:SrvEmpaquetadorBasicoService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="agregarLocal">
            <wsdlsoap:operation soapAction="agregarLocal" style="document"/>
            <wsdl:input name="agregarLocal1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="agregarLocal1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="agregarRepositorio">
            <wsdlsoap:operation soapAction="agregarRepositorio" style="document"/>
            <wsdl:input name="agregarRepositorio2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="agregarRepositorio2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="analizaArchivo">
            <wsdlsoap:operation soapAction="analizaArchivo" style="document"/>
            <wsdl:input name="analizaArchivo3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="analizaArchivo3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="asociarContenidos">
            <wsdlsoap:operation soapAction="asociarContenidos" style="document"/>
            <wsdl:input name="asociarContenidos4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="asociarContenidos4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="cortar">
            <wsdlsoap:operation soapAction="cortar" style="document"/>
            <wsdl:input name="cortar5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="cortar5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearObjetoEmbebido">
            <wsdlsoap:operation soapAction="crearObjetoEmbebido" style="document"/>
            <wsdl:input name="crearObjetoEmbebido6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearObjetoEmbebido6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="desagregarItem">
            <wsdlsoap:operation soapAction="desagregarItem" style="document"/>
            <wsdl:input name="desagregarItem7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="desagregarItem7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="desagregarItemLocal">
            <wsdlsoap:operation soapAction="desagregarItemLocal" style="document"/>
            <wsdl:input name="desagregarItemLocal8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="desagregarItemLocal8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="editarObjetoEmbebido">
            <wsdlsoap:operation soapAction="editarObjetoEmbebido" style="document"/>
            <wsdl:input name="editarObjetoEmbebido9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editarObjetoEmbebido9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="editarOde">
            <wsdlsoap:operation soapAction="editarOde" style="document"/>
            <wsdl:input name="editarOde10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editarOde10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarFicheros">
            <wsdlsoap:operation soapAction="eliminarFicheros" style="document"/>
            <wsdl:input name="eliminarFicheros11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarFicheros11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarGrupo">
            <wsdlsoap:operation soapAction="eliminarGrupo" style="document"/>
            <wsdl:input name="eliminarGrupo12Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarGrupo12Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="referenciadoPor">
            <wsdlsoap:operation soapAction="referenciadoPor" style="document"/>
            <wsdl:input name="referenciadoPor13Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="referenciadoPor13Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="renombrar">
            <wsdlsoap:operation soapAction="renombrar" style="document"/>
            <wsdl:input name="renombrar14Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="renombrar14Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvEmpaquetadorBasicoServiceService">
        <wsdl:documentation> 
            <html>
            <head>
            </head>
            <body>
            <p>
            El Servicio de Empaquetacion implementa los metodos necesarios
            para
            gestionar la edici&#243;n y creacion de un Objeto Digital
            Educativo (ODE).
            Los metodos permiten:
            </p>
            <ul>
            <li>
            Almacenar en el servidor los cambios realizados desde la
            sesi&#243;n del
            Portal Empaquetador.
            </li>
            <li>
            Parsear y escribir los manifiestos cumpliendo los estandares
            SCORM2004
            y LOM-ES mediante el uso de la libreria parseadorXML.jar y de
            las
            utilidades Castor y Dozer.
            </li>
            <li>
            Acceder a los servicios web de Localizaci&#243;n,
            Publicaci&#243;n, Validaci&#243;n,
            Catalogaci&#243;n, Entregar.
            </li>
            </ul>
            <p>
            &#160;
            </p>
            </body>
            </html>
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvEmpaquetadorBasicoServiceSoapBinding" name="SrvEmpaquetadorBasicoService">
            <wsdlsoap:address location="http://localhost:8080/empaquetadorbasico/services/SrvEmpaquetadorBasicoService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>