src/modules/agrega/soporte/webservices/src/main/wsdl/SrvFachadaAgregarService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvFachadaAgregarService" 
    targetNamespace="http://servicio.negocio.empaquetador.pode.es"
    xmlns:impl="http://servicio.negocio.empaquetador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.empaquetador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="agregar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ode que esta en edición.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idDestino" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    En el caso de que tipoEmpaquetador sea avanzado, idDestino
                                    indica el submanifiesto en que se quiere agregar el ode (null,
                                    si se desea agregar en el manifiesto principal).
                                    En el caso de que tipoEmpaquetador sea basico, idDestino indica
                                    el item en que se agregaran los contenidos del ODE.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tipoEmpaquetador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Tipo de empaquetador: avanzado o basico
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idAgregar" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ode que se desea agregar desde el repositorio.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="agregarResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="agregarFederado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idODE" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idDestino" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tipoEmpaquetador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="url" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="agregarFederadoResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="analizarArchivo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Analiza el archivo dado y determina si es un RCP, un ODE
                        (devuelve "CA"), un archivo ZIP o un fichero individual.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="rutaArchivo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ruta al fichero pendiente de análisis
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="analizarArchivoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="analizarArchivoReturn" type="impl:AnalizaArchivoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="descargarMetadato">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Descarga el metadato visualizado de la memoria del catalogador.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="descargarMetadatoResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="generarManifest">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="files" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="href" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma al que se asociará el identificador
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="generarManifestResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="generarManifestLom">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="files" type="impl:ArrayOfxsd_string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="href" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma al que se asociará el identificador
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="titulo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="descripcion" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idiomaDestinatario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tipo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="generarManifestLomResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="generarManifestRCP">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma al que se asociará el identificador
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="generarManifestRCPResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="prepararMetadatos">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Realiza las gestiones necesarias con el catalogador para poder
                        visualizar el metadato de un ODE publicado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE que se desea preparar para visualizacion
                                    de metadatos.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="prepararMetadatosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="prepararMetadatosReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="AnalizaArchivoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="tipoArchivo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mensajes" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="agregar1Request">
        <wsdl:part element="impl:agregar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="agregar1Response">
        <wsdl:part element="impl:agregarResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="agregarFederado2Request">
        <wsdl:part element="impl:agregarFederado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="agregarFederado2Response">
        <wsdl:part element="impl:agregarFederadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="analizarArchivo3Request">
        <wsdl:part element="impl:analizarArchivo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="analizarArchivo3Response">
        <wsdl:part element="impl:analizarArchivoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="descargarMetadato4Request">
        <wsdl:part element="impl:descargarMetadato" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="descargarMetadato4Response">
        <wsdl:part element="impl:descargarMetadatoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarManifest5Request">
        <wsdl:part element="impl:generarManifest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarManifest5Response">
        <wsdl:part element="impl:generarManifestResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarManifestLom6Request">
        <wsdl:part element="impl:generarManifestLom" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarManifestLom6Response">
        <wsdl:part element="impl:generarManifestLomResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarManifestRCP7Request">
        <wsdl:part element="impl:generarManifestRCP" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarManifestRCP7Response">
        <wsdl:part element="impl:generarManifestRCPResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="prepararMetadatos8Request">
        <wsdl:part element="impl:prepararMetadatos" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="prepararMetadatos8Response">
        <wsdl:part element="impl:prepararMetadatosResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvFachadaAgregarService">
        <wsdl:operation name="agregar">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:agregar1Request" 
                        name="agregar1Request"/>
            <wsdl:output message="impl:agregar1Response" 
                         name="agregar1Response"/>
        </wsdl:operation>
        <wsdl:operation name="agregarFederado">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:agregarFederado2Request" 
                        name="agregarFederado2Request"/>
            <wsdl:output message="impl:agregarFederado2Response" 
                         name="agregarFederado2Response"/>
        </wsdl:operation>
        <wsdl:operation name="analizarArchivo">
                
            <wsdl:documentation> 
                Analiza el archivo dado y determina si es un RCP, un ODE
                (devuelve "CA"), un archivo ZIP o un fichero individual.
            </wsdl:documentation>
            <wsdl:input message="impl:analizarArchivo3Request" 
                        name="analizarArchivo3Request"/>
            <wsdl:output message="impl:analizarArchivo3Response" 
                         name="analizarArchivo3Response"/>
        </wsdl:operation>
        <wsdl:operation name="descargarMetadato">
                
            <wsdl:documentation> 
                Descarga el metadato visualizado de la memoria del catalogador.
            </wsdl:documentation>
            <wsdl:input message="impl:descargarMetadato4Request" 
                        name="descargarMetadato4Request"/>
            <wsdl:output message="impl:descargarMetadato4Response" 
                         name="descargarMetadato4Response"/>
        </wsdl:operation>
        <wsdl:operation name="generarManifest">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:generarManifest5Request" 
                        name="generarManifest5Request"/>
            <wsdl:output message="impl:generarManifest5Response" 
                         name="generarManifest5Response"/>
        </wsdl:operation>
        <wsdl:operation name="generarManifestLom">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:generarManifestLom6Request" 
                        name="generarManifestLom6Request"/>
            <wsdl:output message="impl:generarManifestLom6Response" 
                         name="generarManifestLom6Response"/>
        </wsdl:operation>
        <wsdl:operation name="generarManifestRCP">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:generarManifestRCP7Request" 
                        name="generarManifestRCP7Request"/>
            <wsdl:output message="impl:generarManifestRCP7Response" 
                         name="generarManifestRCP7Response"/>
        </wsdl:operation>
        <wsdl:operation name="prepararMetadatos">
                
            <wsdl:documentation> 
                Realiza las gestiones necesarias con el catalogador para poder
                visualizar el metadato de un ODE publicado.
            </wsdl:documentation>
            <wsdl:input message="impl:prepararMetadatos8Request" 
                        name="prepararMetadatos8Request"/>
            <wsdl:output message="impl:prepararMetadatos8Response" 
                         name="prepararMetadatos8Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvFachadaAgregarServiceSoapBinding" type="impl:SrvFachadaAgregarService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="agregar">
            <wsdlsoap:operation soapAction="agregar" style="document"/>
            <wsdl:input name="agregar1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="agregar1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="agregarFederado">
            <wsdlsoap:operation soapAction="agregarFederado" style="document"/>
            <wsdl:input name="agregarFederado2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="agregarFederado2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="analizarArchivo">
            <wsdlsoap:operation soapAction="analizarArchivo" style="document"/>
            <wsdl:input name="analizarArchivo3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="analizarArchivo3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="descargarMetadato">
            <wsdlsoap:operation soapAction="descargarMetadato" style="document"/>
            <wsdl:input name="descargarMetadato4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="descargarMetadato4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="generarManifest">
            <wsdlsoap:operation soapAction="generarManifest" style="document"/>
            <wsdl:input name="generarManifest5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generarManifest5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="generarManifestLom">
            <wsdlsoap:operation soapAction="generarManifestLom" style="document"/>
            <wsdl:input name="generarManifestLom6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generarManifestLom6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="generarManifestRCP">
            <wsdlsoap:operation soapAction="generarManifestRCP" style="document"/>
            <wsdl:input name="generarManifestRCP7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generarManifestRCP7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="prepararMetadatos">
            <wsdlsoap:operation soapAction="prepararMetadatos" style="document"/>
            <wsdl:input name="prepararMetadatos8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="prepararMetadatos8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvFachadaAgregarServiceService">
        <wsdl:documentation> 
            Servicio que ofrece un único metodo para todos los posibles
            agregar que se ofrecen en el modulo de empaquetación.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvFachadaAgregarServiceSoapBinding" name="SrvFachadaAgregarService">
            <wsdlsoap:address location="http://localhost:8080/empaquetadorbasico/services/SrvFachadaAgregarService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>