src/modules/agrega/soporte/webservices/src/main/wsdl/SrvGestorArchivosService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvGestorArchivosService" 
    targetNamespace="http://servicio.negocio.empaquetador.pode.es"
    xmlns:impl="http://servicio.negocio.empaquetador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.empaquetador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="consultaCuota">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="espacioLibre" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="espacioOdeInicio" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="consultaCuotaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="consultaCuotaReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="copiar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Copia los ficheros / carpetas a la localización especificada.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE en que se está trabajando.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="carpetaDestino" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ruta relativa a la localizacion del ODE en que se esta
                                    trabajando donde se desean copiar los ficheros / carpetas.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ficheros" type="impl:ArrayOfArchivoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ficheros / carpetas que se desean copiar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="copiarResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="cortar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Copiar los ficheros / carpetas especificados a la carpeta de
                        destino deseada. A continuación elimina los ficheros / carpetas
                        de origen con una llamada a eliminar.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE en que estamos trabajando.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="carpetaDestino" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ruta relativa a la localizacion del ODE en que se esta
                                    trabajando donde se desean copiar los ficheros / carpetas.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ficheros" type="impl:ArrayOfArchivoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ficheros / carpetas que se desean copiar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cortarResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="crearArchivo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Almacena un fichero recibido como argumento (DataHandler) en la
                        carpeta especificada dentro de la localización del ODE
                        identificado por identificador.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE en que se esta trabajando.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="carpetaPadre" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ruta relativa a la localizacion del ODE en la que se desea
                                    almacenar el archivo. Si se deja a null, la carpeta es la
                                    localización del ODE.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="fichero" type="impl:FicheroVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Value Object que contiene el nombre del fichero a almacenar y
                                    los datos en forma de objeto javax.activation.DataHandler
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearArchivoResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="crearCarpeta">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Crea una carpeta en la localización del ODE en que se está
                        trabajando.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE en que se esta trabajando
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="carpetaPadre" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Nombre de la carpeta donde se desea crear la nueva carpeta. Si
                                    es null, se crea en la localización principal del ODE.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nombreCarpeta" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Nombre de la carpeta que se desea crear.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearCarpetaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="descomprimirArchivo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE en que se esta trabajando.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="carpetaPadre" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ruta relativa a la localización del ODE donde se descomprimen
                                    los contenidos del archivo.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="archivo" type="impl:FicheroVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Objeto con el archivo comprimido serializado en un
                                    javax.activation.DataHandler.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="descomprimirArchivoResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina los ficheros / carpetas deseados.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE en que se está trabajando.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ficheros" type="impl:ArrayOfArchivoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de ficheros / carpetas a eliminar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarBackup">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina el fichero de backup del ODE en edición.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ode que se esta editando
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarBackupResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="generarBackup">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Genera un backup en el directorio temporal del localizador. El
                        backup es un archivo comprimido (ZIP) que contiene todos los
                        archivos del ODE en el momento en que se ha generado el backup
                        (imsmanifest.xml, esquemas, submanifiestos y recursos). Si
                        previamente existe un backup, se llama a eliminarBackup para
                        reemplazarlo.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ode que se esta editando
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="generarBackupResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="listar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve un listado de los contenidos de una carpeta.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE en que se esta trabajando.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="carpetaPadre" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Carpeta donde se desea obtener el listado. En caso de que sea
                                    null, se devuelve el listado de archivos de la localizacion del
                                    ODE.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="listarResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarReturn" type="impl:ArrayOfArchivoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="recuperarArbol">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve un ArchivoVO representando la raiz de la localización
                        del ODE. El objeto devuelto contiene la estructura en árbol de
                        todos los archivos pertenecientes al ODE. Para ello, examina la
                        raiz del ODE listando de forma recursiva cada carpeta y
                        generando los ArchivoVO correspondientes.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ode que se esta editando
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="recuperarArbolResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="recuperarArbolReturn" type="impl:ArchivoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="renombrar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Modifica el nombre del fichero o carpeta deseado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE en que se esta trabajando.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="carpetaPadre" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Carpeta que contiene el fichero/carpeta a cambiar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nombre" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Nombre del fichero / carpeta a renombrar
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nuevoNombre" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Nuevo nombre del fichero / carpeta a cambiar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="renombrarResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="restaurarBackup">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Descomprime el contenido del fichero de backup a la localización
                        del ODE. Previamente borra cualquier fichero / carpeta que esté
                        en dicha localización.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ode que se esta editando.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="restaurarBackupResponse">       
                <xsd:complexType/>     
            </xsd:element>


            <xsd:complexType name="ArrayOfArchivoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ArchivoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArchivoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object representado un fichero o carpeta en la
                        localización del ODE.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del fichero o carpeta.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esFichero" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Distingue entre ficheros y carpetas: true = fichero, false =
                                carpeta.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="href" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                URL que da acceso al fichero.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="carpetaPadre" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Especifica la ruta relativa a la localizacion del ODE donde se
                                encuentra el fichero / carpeta.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mime" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo MIME del fichero, en caso de que este ArchivoVO se
                                corresponda con un fichero.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esProtegido" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                True si fichero está en lista de protegidos
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contenidos" nillable="true" type="impl:ArrayOfArchivoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfArchivoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ArchivoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FicheroInexistenteException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FicheroVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Clase que encapsula un fichero subido desde la capa de
                        presentacion.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre de archivo (sin ruta).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoMime" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo MIME del archivo.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="datos" nillable="false" type="apachesoap:DataHandler">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Datahandler que contiene los datos del fichero.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ruta" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Ruta relativa en la que se ha de almacenar el fichero.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NoEsZipException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SobreescrituraException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="consultaCuota1Request">
        <wsdl:part element="impl:consultaCuota" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaCuota1Response">
        <wsdl:part element="impl:consultaCuotaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="copiar2Request">
        <wsdl:part element="impl:copiar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="copiar2Response">
        <wsdl:part element="impl:copiarResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cortar3Request">
        <wsdl:part element="impl:cortar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cortar3Response">
        <wsdl:part element="impl:cortarResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearArchivo4Request">
        <wsdl:part element="impl:crearArchivo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearArchivo4Response">
        <wsdl:part element="impl:crearArchivoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearCarpeta5Request">
        <wsdl:part element="impl:crearCarpeta" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearCarpeta5Response">
        <wsdl:part element="impl:crearCarpetaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="descomprimirArchivo6Request">
        <wsdl:part element="impl:descomprimirArchivo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="descomprimirArchivo6Response">
        <wsdl:part element="impl:descomprimirArchivoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminar7Request">
        <wsdl:part element="impl:eliminar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminar7Response">
        <wsdl:part element="impl:eliminarResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarBackup8Request">
        <wsdl:part element="impl:eliminarBackup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarBackup8Response">
        <wsdl:part element="impl:eliminarBackupResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarBackup9Request">
        <wsdl:part element="impl:generarBackup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarBackup9Response">
        <wsdl:part element="impl:generarBackupResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listar10Request">
        <wsdl:part element="impl:listar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listar10Response">
        <wsdl:part element="impl:listarResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarArbol11Request">
        <wsdl:part element="impl:recuperarArbol" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarArbol11Response">
        <wsdl:part element="impl:recuperarArbolResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="renombrar12Request">
        <wsdl:part element="impl:renombrar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="renombrar12Response">
        <wsdl:part element="impl:renombrarResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="restaurarBackup13Request">
        <wsdl:part element="impl:restaurarBackup" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="restaurarBackup13Response">
        <wsdl:part element="impl:restaurarBackupResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvGestorArchivosService">
        <wsdl:operation name="consultaCuota">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:consultaCuota1Request" 
                        name="consultaCuota1Request"/>
            <wsdl:output message="impl:consultaCuota1Response" 
                         name="consultaCuota1Response"/>
        </wsdl:operation>
        <wsdl:operation name="copiar">
                
            <wsdl:documentation> 
                Copia los ficheros / carpetas a la localización especificada.
            </wsdl:documentation>
            <wsdl:input message="impl:copiar2Request" 
                        name="copiar2Request"/>
            <wsdl:output message="impl:copiar2Response" 
                         name="copiar2Response"/>
        </wsdl:operation>
        <wsdl:operation name="cortar">
                
            <wsdl:documentation> 
                Copiar los ficheros / carpetas especificados a la carpeta de
                destino deseada. A continuación elimina los ficheros / carpetas
                de origen con una llamada a eliminar.
            </wsdl:documentation>
            <wsdl:input message="impl:cortar3Request" 
                        name="cortar3Request"/>
            <wsdl:output message="impl:cortar3Response" 
                         name="cortar3Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearArchivo">
                
            <wsdl:documentation> 
                Almacena un fichero recibido como argumento (DataHandler) en la
                carpeta especificada dentro de la localización del ODE
                identificado por identificador.
            </wsdl:documentation>
            <wsdl:input message="impl:crearArchivo4Request" 
                        name="crearArchivo4Request"/>
            <wsdl:output message="impl:crearArchivo4Response" 
                         name="crearArchivo4Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearCarpeta">
                
            <wsdl:documentation> 
                Crea una carpeta en la localización del ODE en que se está
                trabajando.
            </wsdl:documentation>
            <wsdl:input message="impl:crearCarpeta5Request" 
                        name="crearCarpeta5Request"/>
            <wsdl:output message="impl:crearCarpeta5Response" 
                         name="crearCarpeta5Response"/>
        </wsdl:operation>
        <wsdl:operation name="descomprimirArchivo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:descomprimirArchivo6Request" 
                        name="descomprimirArchivo6Request"/>
            <wsdl:output message="impl:descomprimirArchivo6Response" 
                         name="descomprimirArchivo6Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminar">
                
            <wsdl:documentation> 
                Elimina los ficheros / carpetas deseados.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminar7Request" 
                        name="eliminar7Request"/>
            <wsdl:output message="impl:eliminar7Response" 
                         name="eliminar7Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarBackup">
                
            <wsdl:documentation> 
                Elimina el fichero de backup del ODE en edición.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarBackup8Request" 
                        name="eliminarBackup8Request"/>
            <wsdl:output message="impl:eliminarBackup8Response" 
                         name="eliminarBackup8Response"/>
        </wsdl:operation>
        <wsdl:operation name="generarBackup">
                
            <wsdl:documentation> 
                Genera un backup en el directorio temporal del localizador. El
                backup es un archivo comprimido (ZIP) que contiene todos los
                archivos del ODE en el momento en que se ha generado el backup
                (imsmanifest.xml, esquemas, submanifiestos y recursos). Si
                previamente existe un backup, se llama a eliminarBackup para
                reemplazarlo.
            </wsdl:documentation>
            <wsdl:input message="impl:generarBackup9Request" 
                        name="generarBackup9Request"/>
            <wsdl:output message="impl:generarBackup9Response" 
                         name="generarBackup9Response"/>
        </wsdl:operation>
        <wsdl:operation name="listar">
                
            <wsdl:documentation> 
                Devuelve un listado de los contenidos de una carpeta.
            </wsdl:documentation>
            <wsdl:input message="impl:listar10Request" 
                        name="listar10Request"/>
            <wsdl:output message="impl:listar10Response" 
                         name="listar10Response"/>
        </wsdl:operation>
        <wsdl:operation name="recuperarArbol">
                
            <wsdl:documentation> 
                Devuelve un ArchivoVO representando la raiz de la localización
                del ODE. El objeto devuelto contiene la estructura en árbol de
                todos los archivos pertenecientes al ODE. Para ello, examina la
                raiz del ODE listando de forma recursiva cada carpeta y
                generando los ArchivoVO correspondientes.
            </wsdl:documentation>
            <wsdl:input message="impl:recuperarArbol11Request" 
                        name="recuperarArbol11Request"/>
            <wsdl:output message="impl:recuperarArbol11Response" 
                         name="recuperarArbol11Response"/>
        </wsdl:operation>
        <wsdl:operation name="renombrar">
                
            <wsdl:documentation> 
                Modifica el nombre del fichero o carpeta deseado.
            </wsdl:documentation>
            <wsdl:input message="impl:renombrar12Request" 
                        name="renombrar12Request"/>
            <wsdl:output message="impl:renombrar12Response" 
                         name="renombrar12Response"/>
        </wsdl:operation>
        <wsdl:operation name="restaurarBackup">
                
            <wsdl:documentation> 
                Descomprime el contenido del fichero de backup a la localización
                del ODE. Previamente borra cualquier fichero / carpeta que esté
                en dicha localización.
            </wsdl:documentation>
            <wsdl:input message="impl:restaurarBackup13Request" 
                        name="restaurarBackup13Request"/>
            <wsdl:output message="impl:restaurarBackup13Response" 
                         name="restaurarBackup13Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvGestorArchivosServiceSoapBinding" type="impl:SrvGestorArchivosService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaCuota">
            <wsdlsoap:operation soapAction="consultaCuota" style="document"/>
            <wsdl:input name="consultaCuota1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaCuota1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="copiar">
            <wsdlsoap:operation soapAction="copiar" style="document"/>
            <wsdl:input name="copiar2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="copiar2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="cortar">
            <wsdlsoap:operation soapAction="cortar" style="document"/>
            <wsdl:input name="cortar3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="cortar3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearArchivo">
            <wsdlsoap:operation soapAction="crearArchivo" style="document"/>
            <wsdl:input name="crearArchivo4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearArchivo4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearCarpeta">
            <wsdlsoap:operation soapAction="crearCarpeta" style="document"/>
            <wsdl:input name="crearCarpeta5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearCarpeta5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="descomprimirArchivo">
            <wsdlsoap:operation soapAction="descomprimirArchivo" style="document"/>
            <wsdl:input name="descomprimirArchivo6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="descomprimirArchivo6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminar">
            <wsdlsoap:operation soapAction="eliminar" style="document"/>
            <wsdl:input name="eliminar7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminar7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarBackup">
            <wsdlsoap:operation soapAction="eliminarBackup" style="document"/>
            <wsdl:input name="eliminarBackup8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarBackup8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="generarBackup">
            <wsdlsoap:operation soapAction="generarBackup" style="document"/>
            <wsdl:input name="generarBackup9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generarBackup9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listar">
            <wsdlsoap:operation soapAction="listar" style="document"/>
            <wsdl:input name="listar10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listar10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="recuperarArbol">
            <wsdlsoap:operation soapAction="recuperarArbol" style="document"/>
            <wsdl:input name="recuperarArbol11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="recuperarArbol11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="renombrar">
            <wsdlsoap:operation soapAction="renombrar" style="document"/>
            <wsdl:input name="renombrar12Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="renombrar12Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="restaurarBackup">
            <wsdlsoap:operation soapAction="restaurarBackup" style="document"/>
            <wsdl:input name="restaurarBackup13Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="restaurarBackup13Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvGestorArchivosServiceService">
        <wsdl:documentation> 
            Este servicio web exporta la funcionalidad necesaria para que el
            Gestor Avanzado puede crear, eliminar, copiar, cortar, pegar y
            modificar ficheros y carpetas y descomprimir archivos
            comprimidos.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvGestorArchivosServiceSoapBinding" name="SrvGestorArchivosService">
            <wsdlsoap:address location="http://localhost:8080/empaquetadorbasico/services/SrvGestorArchivosService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>