src/modules/agrega/soporte/webservices/src/main/wsdl/SrvGeneracionDinamicaService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvGeneracionDinamicaService" 
    targetNamespace="http://servicio.generacionDinamica.negocio.contenidos.pode.es"
    xmlns:impl="http://servicio.generacionDinamica.negocio.contenidos.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.generacionDinamica.negocio.contenidos.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="generaODEDiario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo se encarga de generar el ODE diario que se hace
                        publico. Genera un ODE para el dia actual y lo inserta en la
                        BBDD.
                        La generacion de un ODE como contenido de este tipo se divide en
                        dos fases:
                        - Obtencion del ODE candidato consultando al indice.
                        - Obtencion de la imagen que representa al ODE copiandola a un
                        directorio publico para el servidor.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="generaODEDiarioResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="obtenODEDiario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve el ODE generado el dia que se le pasa.
                        Consulta a la BD para obtener los datos necesarios del contenido
                        seleccionado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="fecha" type="xsd:dateTime" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Fecha que indica el el ODE generado diariamente en el que se
                                    esta interesado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenODEDiarioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenODEDiarioReturn" type="impl:ContenidoODEVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ContenidoODEVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Clase de objeto de valor que contiene los atributos de un ODE
                        como contenido generado dinamico.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador alfanumerico de un ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlImagen" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                URL de la imagen del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="generaODEDiario1Request">
        <wsdl:part element="impl:generaODEDiario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generaODEDiario1Response">
        <wsdl:part element="impl:generaODEDiarioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenODEDiario2Request">
        <wsdl:part element="impl:obtenODEDiario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenODEDiario2Response">
        <wsdl:part element="impl:obtenODEDiarioResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvGeneracionDinamicaService">
        <wsdl:operation name="generaODEDiario">
                
            <wsdl:documentation> 
                Este metodo se encarga de generar el ODE diario que se hace
                publico. Genera un ODE para el dia actual y lo inserta en la
                BBDD.
                La generacion de un ODE como contenido de este tipo se divide en
                dos fases:
                - Obtencion del ODE candidato consultando al indice.
                - Obtencion de la imagen que representa al ODE copiandola a un
                directorio publico para el servidor.
            </wsdl:documentation>
            <wsdl:input message="impl:generaODEDiario1Request" 
                        name="generaODEDiario1Request"/>
            <wsdl:output message="impl:generaODEDiario1Response" 
                         name="generaODEDiario1Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenODEDiario">
                
            <wsdl:documentation> 
                Este metodo devuelve el ODE generado el dia que se le pasa.
                Consulta a la BD para obtener los datos necesarios del contenido
                seleccionado.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenODEDiario2Request" 
                        name="obtenODEDiario2Request"/>
            <wsdl:output message="impl:obtenODEDiario2Response" 
                         name="obtenODEDiario2Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvGeneracionDinamicaServiceSoapBinding" type="impl:SrvGeneracionDinamicaService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="generaODEDiario">
            <wsdlsoap:operation soapAction="generaODEDiario" style="document"/>
            <wsdl:input name="generaODEDiario1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generaODEDiario1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenODEDiario">
            <wsdlsoap:operation soapAction="obtenODEDiario" style="document"/>
            <wsdl:input name="obtenODEDiario2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenODEDiario2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvGeneracionDinamicaServiceService">
        <wsdl:documentation> 
            Este servicio implementa la gestion de los contenidos dinamicos
            que se generan en la plataforma.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvGeneracionDinamicaServiceSoapBinding" name="SrvGeneracionDinamicaService">
            <wsdlsoap:address location="http://localhost:8080/contenidosportal/services/SrvGeneracionDinamicaService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>