src/modules/agrega/soporte/webservices/src/main/wsdl/SrvIndexadorService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvIndexadorService" 
    targetNamespace="http://indexado.servicios.negocio.indexador.pode.es"
    xmlns:impl="http://indexado.servicios.negocio.indexador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://indexado.servicios.negocio.indexador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="eliminarODE">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Eliminacion de ODEs de los indices.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idODE" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Array de identificadores alfanumericos de los ODEs que se
                                    quieren eliminar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarODEResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarODEReturn" type="impl:ArrayOfIndexadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="indexarODE">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="localizador" type="impl:ArrayOfIdODEVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="indexarODEResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="indexarODEReturn" type="impl:ArrayOfIndexadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="regenerarIndice">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Se regenera el indice con la lista de ODEs que se le pasa. Se
                        borra el indice del idioma indicado y se puebla con los ODEs
                        suministrados.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Codigo de idioma correspondiente al indice que se quiere
                                    regenerar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="odes" type="impl:ArrayOfIdODEVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Contenido de los ODEs que se quieren indexar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="regenerarIndiceResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="regenerarIndiceReturn" type="impl:ArrayOfIndexadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="regenerarIndices">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo regenera todos los indices del repositorio con los
                        ODEs que se le pasan en el momento. Toma como parametro un
                        identificador de tarea donde escribe el resultado de la
                        ejecucion. Cada ODE se introduce en el indice del idioma al que
                        pertenece.
                        Se devuelve un array con el exito o fracaso de la regeneracion
                        para cada ode.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idTarea" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la tarea.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="odes" type="impl:ArrayOfIdODEVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    ODEs que se utilizan para la regeneracion de los indices.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="regenerarIndicesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="regenerarIndicesReturn" type="impl:ArrayOfIndexadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="reindexarODE">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo reindexa un array de ODEs (los bora del indice y los
                        indexa) para todos los idiomas disponibles.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="localizador" type="impl:ArrayOfIdODEVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="reindexarODEResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="reindexarODEReturn" type="impl:ArrayOfIndexadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="EliminaODEException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdODEVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador alfanumerico del ODE (MEC).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="localizadorODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Localizador del ODE en disco.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valoracion" nillable="false" type="soapenc:float">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valoracion del ODE cuando se publica.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="secuencia" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Con secuencia o sin secuencia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="imgFile" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                URL a la imagen del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tamanio" nillable="false" type="soapenc:float">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tamanio del ODE en disco.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="catalogacionSecundaria" nillable="true" type="impl:ArrayOfLomESSecundarioVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="catalogacionPrimaria" nillable="true" type="impl:LomESPrimarioVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfIdODEVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:IdODEVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IndexacionTotalException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IndexadorVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="localizador" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="code" nillable="false" type="xsd:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mensaje" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfIndexadorVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:IndexadorVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IndexaODEException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LomESPrimarioVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase modela los datos relevantes de ser indexados en el
                        cuerpo de un LOM-ES primario de un ODE.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="recurso" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="procesosCognitivos" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Procesos cognitivos del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="palabrasClave" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelesEducativos" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Niveles educativos presentes en el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="licencia" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                La licencia a la que esta sujeta el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formatos" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Formatos presentes en el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="edades" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Edades de los usuarios a los que va dirigidos la accion lectiva
                                del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="destinatarios" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="curso" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contextos" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Los contextos presentes en el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="autor" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="arbolCurricular" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ambito" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacion" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nivel de Agregacion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tesauros" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="arbolCurricularVigente" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fuente" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fuentes sobre las que se relaciona el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="relacion" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Relacion del ODE con otros contenidos.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="publicador" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Publicador del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contribuidor" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Contribuidor al contenido del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="alcance" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Alcance del contenido del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="arbolCurricularLiteral" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata de los nombres de los nodos de las areas curriculares a
                                las que pertenece el ODE o en las que puede estar clasificado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripciones" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Variable para recuperar las descripciones del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contentProvider" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Content provider name(s)
                                LOM Ref:   2.3.2
                                Condition: The corresponding value for 2.3.1 is "content provider"
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="authorOrganisation" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Author Organisation(s)
                                LOM Ref:   2.3.2
                                Condition: The corresponding value for 2.3.1 is "author"
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="conditionsOfUse" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Description(s) of Restriction(s)
                                LOM Ref:   6.3
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="typicalLearningTime" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                The NDRB representation of the typical learning time for a resource:

                                NDRB duration bucket values:
                                  Less than 10 mins
                                  10-30 mins
                                  30 mins - 1 hour
                                  1-8 hours
                                  More than 8 hours

                                LOM Ref: 5.9
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="relationKind" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Relation kind(s)
                                LOM Ref: 7.1
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="relatedResourceTitle" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Related resource title(s)
                                LOM Ref: 7.2.2
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="relatedResourceIdentifier" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation>
                                Related resource identifier(s)
                                LOM Ref: 7.2.1.2
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="relatedResourceLink" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation>
                                Related resource link(s) --
                                TBD (for when the related resource selection interface is implemented.)
								This is nil at present.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="taxonPath" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation>
                                Taxon Path(s) --
								Elements of the array are Materialised taxon path strings (ie term values)
                                LOM Ref: 9.2
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="annotation" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation>
                                Notes / Annotation
                                LOM Ref: 8.3
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLomESSecundarioVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:LomESSecundarioVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LomESSecundarioVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase modela los datos relevantes de ser indexados en el
                        cuerpo de un LOM-ES secundario de un ODE.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="palabrasClave" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReindexadoException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReindexaODEException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="eliminarODE1Request">
        <wsdl:part element="impl:eliminarODE" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarODE1Response">
        <wsdl:part element="impl:eliminarODEResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="indexarODE2Request">
        <wsdl:part element="impl:indexarODE" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="indexarODE2Response">
        <wsdl:part element="impl:indexarODEResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="regenerarIndice3Request">
        <wsdl:part element="impl:regenerarIndice" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="regenerarIndice3Response">
        <wsdl:part element="impl:regenerarIndiceResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="regenerarIndices4Request">
        <wsdl:part element="impl:regenerarIndices" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="regenerarIndices4Response">
        <wsdl:part element="impl:regenerarIndicesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="reindexarODE5Request">
        <wsdl:part element="impl:reindexarODE" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="reindexarODE5Response">
        <wsdl:part element="impl:reindexarODEResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvIndexadorService">
        <wsdl:operation name="eliminarODE">
                
            <wsdl:documentation> 
                Eliminacion de ODEs de los indices.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarODE1Request" 
                        name="eliminarODE1Request"/>
            <wsdl:output message="impl:eliminarODE1Response" 
                         name="eliminarODE1Response"/>
        </wsdl:operation>
        <wsdl:operation name="indexarODE">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:indexarODE2Request" 
                        name="indexarODE2Request"/>
            <wsdl:output message="impl:indexarODE2Response" 
                         name="indexarODE2Response"/>
        </wsdl:operation>
        <wsdl:operation name="regenerarIndice">
                
            <wsdl:documentation> 
                Se regenera el indice con la lista de ODEs que se le pasa. Se
                borra el indice del idioma indicado y se puebla con los ODEs
                suministrados.
            </wsdl:documentation>
            <wsdl:input message="impl:regenerarIndice3Request" 
                        name="regenerarIndice3Request"/>
            <wsdl:output message="impl:regenerarIndice3Response" 
                         name="regenerarIndice3Response"/>
        </wsdl:operation>
        <wsdl:operation name="regenerarIndices">
                
            <wsdl:documentation> 
                Este metodo regenera todos los indices del repositorio con los
                ODEs que se le pasan en el momento. Toma como parametro un
                identificador de tarea donde escribe el resultado de la
                ejecucion. Cada ODE se introduce en el indice del idioma al que
                pertenece.
                Se devuelve un array con el exito o fracaso de la regeneracion
                para cada ode.
            </wsdl:documentation>
            <wsdl:input message="impl:regenerarIndices4Request" 
                        name="regenerarIndices4Request"/>
            <wsdl:output message="impl:regenerarIndices4Response" 
                         name="regenerarIndices4Response"/>
        </wsdl:operation>
        <wsdl:operation name="reindexarODE">
                
            <wsdl:documentation> 
                Este metodo reindexa un array de ODEs (los bora del indice y los
                indexa) para todos los idiomas disponibles.
            </wsdl:documentation>
            <wsdl:input message="impl:reindexarODE5Request" 
                        name="reindexarODE5Request"/>
            <wsdl:output message="impl:reindexarODE5Response" 
                         name="reindexarODE5Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvIndexadorServiceSoapBinding" type="impl:SrvIndexadorService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="eliminarODE">
            <wsdlsoap:operation soapAction="eliminarODE" style="document"/>
            <wsdl:input name="eliminarODE1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarODE1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="indexarODE">
            <wsdlsoap:operation soapAction="indexarODE" style="document"/>
            <wsdl:input name="indexarODE2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="indexarODE2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="regenerarIndice">
            <wsdlsoap:operation soapAction="regenerarIndice" style="document"/>
            <wsdl:input name="regenerarIndice3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="regenerarIndice3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="regenerarIndices">
            <wsdlsoap:operation soapAction="regenerarIndices" style="document"/>
            <wsdl:input name="regenerarIndices4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="regenerarIndices4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="reindexarODE">
            <wsdlsoap:operation soapAction="reindexarODE" style="document"/>
            <wsdl:input name="reindexarODE5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="reindexarODE5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvIndexadorServiceService">
        <wsdl:documentation> 
            Este servicio implementa todos los metodos necesarios para
            indexar informacion en los indices. Ademas de indexar, se puede
            gestionar el reindexado y la eliminacion de elementos.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvIndexadorServiceSoapBinding" name="SrvIndexadorService">
            <wsdlsoap:address location="http://localhost:8080/indexador/services/SrvIndexadorService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
