src/modules/agrega/soporte/webservices/src/main/wsdl/SrvLogService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvLogService" 
    targetNamespace="http://servicio.logs.negocio.contenidos.pode.es"
    xmlns:impl="http://servicio.logs.negocio.contenidos.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.logs.negocio.contenidos.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="eliminarFicheroLog">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ficheros" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarFicheroLogResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarFicheroLogReturn" type="impl:ValidaBajaLogVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarFicherosLog">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarFicherosLogResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarFicherosLogReturn" type="impl:ArrayOfFileVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="recuperarFicheroLog">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="fichero" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="recuperarFicheroLogResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="recuperarFicheroLogReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="FileVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="size" nillable="false" type="xsd:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFileVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:FileVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ValidaBajaLogVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="descripcionBaja" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="logsBorrados" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="eliminarFicheroLog1Request">
        <wsdl:part element="impl:eliminarFicheroLog" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarFicheroLog1Response">
        <wsdl:part element="impl:eliminarFicheroLogResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarFicherosLog2Request">
        <wsdl:part element="impl:listarFicherosLog" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarFicherosLog2Response">
        <wsdl:part element="impl:listarFicherosLogResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarFicheroLog3Request">
        <wsdl:part element="impl:recuperarFicheroLog" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarFicheroLog3Response">
        <wsdl:part element="impl:recuperarFicheroLogResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvLogService">
        <wsdl:operation name="eliminarFicheroLog">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarFicheroLog1Request" 
                        name="eliminarFicheroLog1Request"/>
            <wsdl:output message="impl:eliminarFicheroLog1Response" 
                         name="eliminarFicheroLog1Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarFicherosLog">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarFicherosLog2Request" 
                        name="listarFicherosLog2Request"/>
            <wsdl:output message="impl:listarFicherosLog2Response" 
                         name="listarFicherosLog2Response"/>
        </wsdl:operation>
        <wsdl:operation name="recuperarFicheroLog">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:recuperarFicheroLog3Request" 
                        name="recuperarFicheroLog3Request"/>
            <wsdl:output message="impl:recuperarFicheroLog3Response" 
                         name="recuperarFicheroLog3Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvLogServiceSoapBinding" type="impl:SrvLogService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="eliminarFicheroLog">
            <wsdlsoap:operation soapAction="eliminarFicheroLog" style="document"/>
            <wsdl:input name="eliminarFicheroLog1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarFicheroLog1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarFicherosLog">
            <wsdlsoap:operation soapAction="listarFicherosLog" style="document"/>
            <wsdl:input name="listarFicherosLog2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarFicherosLog2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="recuperarFicheroLog">
            <wsdlsoap:operation soapAction="recuperarFicheroLog" style="document"/>
            <wsdl:input name="recuperarFicheroLog3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="recuperarFicheroLog3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvLogServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvLogServiceSoapBinding" name="SrvLogService">
            <wsdlsoap:address location="http://localhost:8080/contenidosportal/services/SrvLogService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>