src/modules/agrega/soporte/webservices/src/main/wsdl/SrvMonitorizarService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvMonitorizarService" 
    targetNamespace="http://servicio.monitorizar.negocio.buscar.pode.es"
    xmlns:impl="http://servicio.monitorizar.negocio.buscar.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.monitorizar.negocio.buscar.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="obtenerEstadoNodos">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerEstadoNodosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerEstadoNodosReturn" type="impl:ArrayOfEstadoNodoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="EstadoNodoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nodo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estado" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreServicio" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcionServicio" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlWS" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfEstadoNodoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:EstadoNodoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="obtenerEstadoNodos1Request">
        <wsdl:part element="impl:obtenerEstadoNodos" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerEstadoNodos1Response">
        <wsdl:part element="impl:obtenerEstadoNodosResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvMonitorizarService">
        <wsdl:operation name="obtenerEstadoNodos">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerEstadoNodos1Request" 
                        name="obtenerEstadoNodos1Request"/>
            <wsdl:output message="impl:obtenerEstadoNodos1Response" 
                         name="obtenerEstadoNodos1Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvMonitorizarServiceSoapBinding" type="impl:SrvMonitorizarService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtenerEstadoNodos">
            <wsdlsoap:operation soapAction="obtenerEstadoNodos" style="document"/>
            <wsdl:input name="obtenerEstadoNodos1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerEstadoNodos1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvMonitorizarServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvMonitorizarServiceSoapBinding" name="SrvMonitorizarService">
            <wsdlsoap:address location="http://localhost:8080/buscar/services/SrvMonitorizarService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>