src/modules/agrega/soporte/webservices/src/main/wsdl/SrvOaiPmhService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvOaiPmhService" 
    targetNamespace="http://servicios.negocio.oaipmh.pode.es"
    xmlns:impl="http://servicios.negocio.oaipmh.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.oaipmh.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="estasActivo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="estasActivoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="estasActivoReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getRecord">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene información de un registro del repositorio
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametroLlamada" type="impl:ParametrosOaiPmhVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getRecordResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getRecordReturn" type="impl:ResultadoOAIRequest"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="identify">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Implementa el método Identify del protocolo OAI-PMH. Obtendrá
                        información general del repositorio
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="identifyResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="identifyReturn" type="impl:ResultadoOAIRequest"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listIdentifiers">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Implementa el método ListIdentifiers del protocolo OAI-PMH
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametroLlamada" type="impl:ParametrosOaiPmhVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="listIdentifiersResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listIdentifiersReturn" type="impl:ResultadoOAIRequest"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listMetadataFormat">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Implementa el método ListMetadataFormat. Obtiene los distintos
                        formatos de datos que pueden existir en la plataforma
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametrosLlamada" type="impl:ParametrosOaiPmhVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="listMetadataFormatResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listMetadataFormatReturn" type="impl:ResultadoOAIRequest"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listRecords">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Implementa el método ListRecords de OAI-PMH. Obtiene todos los
                        registros almacenados en la plataforma
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametrosLlamada" type="impl:ParametrosOaiPmhVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="listRecordsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listRecordsReturn" type="impl:ResultadoOAIRequest"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listSets">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Implementa el método ListSet. Obtiene un listado con todos los
                        conjuntos que existen en la plataforma. Por ahora no se
                        devolverá ningún conjunto. La salida al usuario será "This
                        repository does not support sets".
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listSetsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listSetsReturn" type="impl:ResultadoOAIRequest"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="DescripcionOaiIdentifierVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Clase de objeto de valor que contiene la descripcion de como se
                        genera el identificador OAI del repositorio.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="esquema" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Esquema del identificador OAI.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="delimitador" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Delimitador del identificador OAI (:)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ejemploIdentificador" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Ejemplo del identificador OAI.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificadorRepositorio" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del repositorio (agrega.es)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdentifyVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object con el resultado de la llamada del método Identify.
                        Se puede inlcuir un campo descripción, pero para nuestro
                        repositorio no se va a implementar. Para su implementacion
                        consultar:
                        http://www.openarchives.org/OAI/2.0/guidelines.htm
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombreRepositorio" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del repositorio
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlRepositorio" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url base del repositorio
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="versionProtocolo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Versión del protocolo oai-pmh
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaInicioRepositorio" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de inicio del repositorio
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="politicaBorrado" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Política de borrado que sigue el repositorio, puede tener los
                                siguientes valores: no, transient, persistent
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="temporalidad" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Formato de fechas utilizadas para filtrar las búsquedas en el
                                repositorio
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="emailAdmin" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Email del administrador del repositorio. ¿En nuestro caso será
                                el mismo que el correo de un administrador de la aplicación?
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcionOaiIdentifier" nillable="false" type="impl:DescripcionOaiIdentifierVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripcion del identificador OAI. Contiene tres
                                características:
                                Esquema: oai
                                Identificador del repositorio: agrega.es
                                Delimitador:":"
                                Ejemplo del identificador
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListMetadataFormatVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object con todos los posibles valores de metadatos que
                        devuelve el repositorio
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombreMetadato" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del metadato
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esquema" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url del esquema (xsd) del metadato de la respuesta. En nuestro
                                caso se devolverá en formato dublin core
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="espacioNombres" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url con el espacio de nombres de los metadatos en los que se
                                devolverá el contenido del repositorio
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfListMetadataFormatVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ListMetadataFormatVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametrosOaiPmhVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object de la capa de servicio con los parámetros de la
                        petición oai-pmh. Este objeto tiene la mayoría de los atributos
                        del VO ParametrosRequestVO. Entre estos dos objetos se hará un
                        mapeo de dozer
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="identificador" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del registro dentro del repositorio
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="prefijoMetadato" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo de metadato en el que se quiere que se devuelva la
                                respuesta a la petición. En nuestro caso será dublin core
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaDesde" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de inicio desde la que se quiere obtener la información de
                                los registros
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaHasta" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha fin hasta la que se quiere obtener la información del
                                repositorio
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificadorConjunto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del conjunto sobre el que se quiere obtener la
                                información
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codigoPaginacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador de la página que se quiere obtener
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReanudacionTokenVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este objeto de valor simboliza un resumption token implementado
                        por el protocolo OAI-PMH
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="fechaExpiracion" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de expiracion del token de reanudacion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificador" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del token.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="cursor" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Cursor que indica el valor por el que comienza el resultado
                                respecto del total de resultados.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tamanio" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tamanio total de la consulta.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultadoHeaderVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Clase de objeto de valor que contiene la informacion de un
                        header de un registro dentro del repositorio.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="identificador" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del repositorio OAI-PMH con la sintaxis: scheme
                                ":" namespace-identifier ":" local-identifier.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificadorConjunto" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Array con los identificadores de los conjuntos en los que se
                                encuentra el registro
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codigoPaginacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador de la siguiente página del listado de
                                identificadores.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfResultadoHeaderVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ResultadoHeaderVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultadoOAIRequest">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="errorCode" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identifyVO" nillable="true" type="impl:IdentifyVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="listIdentifiers" nillable="true" type="impl:ArrayOfResultadoHeaderVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="listMetadataFormat" nillable="true" type="impl:ArrayOfListMetadataFormatVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="listSets" nillable="true" type="impl:ArrayOfSetVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="listRecords" nillable="true" type="impl:ArrayOfResultadoRecordVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="getRecord" nillable="true" type="impl:ResultadoRecordVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="verb" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo de llamada que se realiza al protocolo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="errorDescripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripción del error que se produce durante la validación de la
                                llamada al protocolo oai-pmh
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="reanudacionToken" nillable="true" type="impl:ReanudacionTokenVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valor del token de reanudacion en el caso de necesitarlo la
                                respuesta.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultadoRecordVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Clase de objeto de valor que almacena las caracteristicas
                        extraibles de cada registro del repositorio. Esta directamente
                        relacionado con el formato Dublin Core y los valores almacenados
                        en el indice de la plataforma.
                        En este VO no estamos recogiendo la siguiente información:
                        creator, contributor, subject, source y descripcion
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Título del ode
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha publicación del recurso dentro del repositorio.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma del registro.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipo" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo del registro: texto, video,....
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="autores" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Autores del recurso dentro del repositorio.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ambito" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Ambito del registro.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripcion del recurso.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="derechos" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Derechos del registro dentro del repositorio.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificador" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del recurso dentro del repositorio.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formatos" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fornatos de los que esta compuesto el recurso.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tema" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tema del registro (palabras clave del ODE).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="relacion" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="publicador" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fuente" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contribuidor" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idRepositorio" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del repositorio con la sintaxis: scheme ":"
                                namespace-identifier ":" local-identifier.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfResultadoRecordVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ResultadoRecordVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SetVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        VO con la información de un conjunto que pertenece en la
                        plataforma. Por el momento en nuestro repositorio no se va a
                        implementar ningún conjunto, se mantiene el VO por si en un
                        futuro se implementara.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="identificador" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del conjunto
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del conjunto
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfSetVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:SetVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="estasActivo1Request">
        <wsdl:part element="impl:estasActivo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estasActivo1Response">
        <wsdl:part element="impl:estasActivoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getRecord2Request">
        <wsdl:part element="impl:getRecord" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getRecord2Response">
        <wsdl:part element="impl:getRecordResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="identify3Request">
        <wsdl:part element="impl:identify" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="identify3Response">
        <wsdl:part element="impl:identifyResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listIdentifiers4Request">
        <wsdl:part element="impl:listIdentifiers" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listIdentifiers4Response">
        <wsdl:part element="impl:listIdentifiersResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listMetadataFormat5Request">
        <wsdl:part element="impl:listMetadataFormat" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listMetadataFormat5Response">
        <wsdl:part element="impl:listMetadataFormatResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listRecords6Request">
        <wsdl:part element="impl:listRecords" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listRecords6Response">
        <wsdl:part element="impl:listRecordsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listSets7Request">
        <wsdl:part element="impl:listSets" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listSets7Response">
        <wsdl:part element="impl:listSetsResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvOaiPmhService">
        <wsdl:operation name="estasActivo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:estasActivo1Request" 
                        name="estasActivo1Request"/>
            <wsdl:output message="impl:estasActivo1Response" 
                         name="estasActivo1Response"/>
        </wsdl:operation>
        <wsdl:operation name="getRecord">
                
            <wsdl:documentation> 
                Obtiene información de un registro del repositorio
            </wsdl:documentation>
            <wsdl:input message="impl:getRecord2Request" 
                        name="getRecord2Request"/>
            <wsdl:output message="impl:getRecord2Response" 
                         name="getRecord2Response"/>
        </wsdl:operation>
        <wsdl:operation name="identify">
                
            <wsdl:documentation> 
                Implementa el método Identify del protocolo OAI-PMH. Obtendrá
                información general del repositorio
            </wsdl:documentation>
            <wsdl:input message="impl:identify3Request" 
                        name="identify3Request"/>
            <wsdl:output message="impl:identify3Response" 
                         name="identify3Response"/>
        </wsdl:operation>
        <wsdl:operation name="listIdentifiers">
                
            <wsdl:documentation> 
                Implementa el método ListIdentifiers del protocolo OAI-PMH
            </wsdl:documentation>
            <wsdl:input message="impl:listIdentifiers4Request" 
                        name="listIdentifiers4Request"/>
            <wsdl:output message="impl:listIdentifiers4Response" 
                         name="listIdentifiers4Response"/>
        </wsdl:operation>
        <wsdl:operation name="listMetadataFormat">
                
            <wsdl:documentation> 
                Implementa el método ListMetadataFormat. Obtiene los distintos
                formatos de datos que pueden existir en la plataforma
            </wsdl:documentation>
            <wsdl:input message="impl:listMetadataFormat5Request" 
                        name="listMetadataFormat5Request"/>
            <wsdl:output message="impl:listMetadataFormat5Response" 
                         name="listMetadataFormat5Response"/>
        </wsdl:operation>
        <wsdl:operation name="listRecords">
                
            <wsdl:documentation> 
                Implementa el método ListRecords de OAI-PMH. Obtiene todos los
                registros almacenados en la plataforma
            </wsdl:documentation>
            <wsdl:input message="impl:listRecords6Request" 
                        name="listRecords6Request"/>
            <wsdl:output message="impl:listRecords6Response" 
                         name="listRecords6Response"/>
        </wsdl:operation>
        <wsdl:operation name="listSets">
                
            <wsdl:documentation> 
                Implementa el método ListSet. Obtiene un listado con todos los
                conjuntos que existen en la plataforma. Por ahora no se
                devolverá ningún conjunto. La salida al usuario será "This
                repository does not support sets".
            </wsdl:documentation>
            <wsdl:input message="impl:listSets7Request" 
                        name="listSets7Request"/>
            <wsdl:output message="impl:listSets7Response" 
                         name="listSets7Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvOaiPmhServiceSoapBinding" type="impl:SrvOaiPmhService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="estasActivo">
            <wsdlsoap:operation soapAction="estasActivo" style="document"/>
            <wsdl:input name="estasActivo1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="estasActivo1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getRecord">
            <wsdlsoap:operation soapAction="getRecord" style="document"/>
            <wsdl:input name="getRecord2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getRecord2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="identify">
            <wsdlsoap:operation soapAction="identify" style="document"/>
            <wsdl:input name="identify3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="identify3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listIdentifiers">
            <wsdlsoap:operation soapAction="listIdentifiers" style="document"/>
            <wsdl:input name="listIdentifiers4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listIdentifiers4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listMetadataFormat">
            <wsdlsoap:operation soapAction="listMetadataFormat" style="document"/>
            <wsdl:input name="listMetadataFormat5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listMetadataFormat5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listRecords">
            <wsdlsoap:operation soapAction="listRecords" style="document"/>
            <wsdl:input name="listRecords6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listRecords6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listSets">
            <wsdlsoap:operation soapAction="listSets" style="document"/>
            <wsdl:input name="listSets7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listSets7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvOaiPmhServiceService">
        <wsdl:documentation> 
            Servicio que implementa el servicio OAI. Implementará todos los
            métodos que ofrece el protocolo oai-pmh
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvOaiPmhServiceSoapBinding" name="SrvOaiPmhService">
            <wsdlsoap:address location="http://localhost:8080/oaipmh/services/SrvOaiPmhService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>