src/modules/agrega/soporte/webservices/src/main/wsdl/SrvSQIService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvSQIService" 
    targetNamespace="http://SQI.servicios.negocio.dri.pode.es"
    xmlns:impl="http://SQI.servicios.negocio.dri.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://SQI.servicios.negocio.dri.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="asynchronousQuery">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo permite realizar ejecuciones de queries en modo
                        asincrono, de manera que el API devuelve los resultados de la
                        query cuando termine de ejecutar la busqueda.
                        Este metodo esta en sintonia con setSourceLocation, el cual se
                        tiene que ejecutar antes para suministar la localizacion donde
                        se van a devolver los resutlados de la query.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="targetSessionID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que se va a utilizar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="queryStatement" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Sentencia a ejecutar en modo asincrono.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="queryID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la query que se va a ejecutar. Este
                                    identifiacador es un valor suministrado por el cliente del API
                                    que lo utiliza para identificar su consulta.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="asynchronousQueryResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="estasActivo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="estasActivoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="estasActivoReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getTotalResultsCount">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve el numero total de resultados disponibles
                        para una query.
                        Recibe como parametro el identificador de la sesion sobre la que
                        se realiza la operacion y la query de la que se quiere saber
                        cuantos resultados dispobibles hay.
                        Si la query ya se ha ejecutado, intentamos averiguar dicha
                        informacion sin necesidad de ejecutarla.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="targetSessionID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion sobre la que se realiza la operacion.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="queryStatement" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    La query sobre la que se quiere saber el numero de resutlados
                                    dispobibles.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getTotalResultsCountResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getTotalResultsCountReturn" type="soapenc:int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="setMaxDuration">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo permite establecer un timeout para las consultas
                        asincronas.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="targetSessionID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que se va a utilizar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="maxDuration" type="soapenc:int" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Maxima duracion de una consulta. El valor se interpreta como
                                    milisegundos.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setMaxDurationResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="setMaxQueryResults">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo define el maximo numero de resultados que una query
                        puede producir.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="targetSessionID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que se va a utilizar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="maxQueryResults" type="soapenc:int" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Cifra maxima de resultados permitidos por query.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setMaxQueryResultsResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="setQueryLanguage">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo permite al invocador controlar la sintaxis a
                        utilizar en la sentencia de consulta mediante la identificacion
                        del lenguaje de consulta.
                        En nuestro caso, estaremos limitados a una coleccion de
                        lenguajes.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="targetSessionID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que se va a utilizar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="queryLanguageID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del lenguaje a utilizar en las queries que se
                                    ejecuten en esta sesion.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setQueryLanguageResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="setResultsFormat">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo permite especificar el formato del result set que se
                        devuelve como resulado de la ejecucion de una query. Este
                        parametro se define como una URI al esquema de como se quieren
                        los resulados o como un valor predefinido.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="targetSessionID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que se va a utilizar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="resultsFormat" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    URI o valor predefinido que define un tipo de formato de
                                    generacion de resulados de una query.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setResultsFormatResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="setResultsSetSize">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo define el numero maximo de resultados que se van a
                        devolver en un result set.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="targetSessionID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que se va a utilizar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="resultsSetSize" type="soapenc:int" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Maxima cantidad de resultados a devolver en una sola consulta.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setResultsSetSizeResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="setSourceLocation">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo recoge la localizacion del usuario del API al que
                        debemos devolver los resultados de una query ejecutada
                        asincronamente.
                        Este metodo se tiene que ejecutar por parte del cliente del api
                        antes de la ejecucion del la query de forma asincrona.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="targetSessionID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que se va a utilizar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="sourceLocation" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Localizacion donde debemos contestar con los resultados
                                    obtenidos por la ejecucion de una query asincrona.
                                    Se trata de una URL.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setSourceLocationResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="synchronousQuery">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo realiza la query que se le pasa sobre la sesion que
                        indica. Recoge los resulados que genera y los devuelve teniendo
                        en cuenta el numero maximo de resultados para una query, el
                        numero de resultados de un result set y el indice del resultado
                        a partir del cual se esta interesado.
                        Se devuelve el resultado de la consulta.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="targetSessionID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que se va a utilizar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="queryStatement" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Sentencia que se va a ejecutar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="startResult" type="soapenc:int" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Numero que indica el registro de comienzo del result set
                                    devuelto.
                                    Esta cifra existe en combinacion con el numero de resultados
                                    devueltos en un result set y el numero maximo de resultados por
                                    query.
                                    Una cifra correcta se encuentra entre 1 y el maximo numero de
                                    resultados por query.
                                    Para una consulta dada, se podrian recoger 5 resulados (numero
                                    de resultados devueltos en un result set) empezando por el
                                    decimo (con un startResult de 10) de una consulta que dio un
                                    maximo de resultados de 300.
                                    Ver documento:
                                    ftp://ftp.cenorm.be/PUBLIC/CWAs/e-Europe/WS-LT/CWA15454-00-2005-Nov.pdf
                                    pagina 19-20
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="synchronousQueryResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="synchronousQueryReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="NoQuerySubmittedException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NoSourceLocationException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NoSuchSessionException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NoValidLocationException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NoValidMaxDurationException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NoValidMaxQueryResultsException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NoValidQueryStatementException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NoValidResultsSetSizeException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NoValidStartResultException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="QueryLanguageNotSupportedException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="QueryModeNotSupportedException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultsFormatNotSupportedException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="asynchronousQuery1Request">
        <wsdl:part element="impl:asynchronousQuery" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="asynchronousQuery1Response">
        <wsdl:part element="impl:asynchronousQueryResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estasActivo2Request">
        <wsdl:part element="impl:estasActivo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estasActivo2Response">
        <wsdl:part element="impl:estasActivoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getTotalResultsCount3Request">
        <wsdl:part element="impl:getTotalResultsCount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getTotalResultsCount3Response">
        <wsdl:part element="impl:getTotalResultsCountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setMaxDuration4Request">
        <wsdl:part element="impl:setMaxDuration" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setMaxDuration4Response">
        <wsdl:part element="impl:setMaxDurationResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setMaxQueryResults5Request">
        <wsdl:part element="impl:setMaxQueryResults" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setMaxQueryResults5Response">
        <wsdl:part element="impl:setMaxQueryResultsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setQueryLanguage6Request">
        <wsdl:part element="impl:setQueryLanguage" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setQueryLanguage6Response">
        <wsdl:part element="impl:setQueryLanguageResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setResultsFormat7Request">
        <wsdl:part element="impl:setResultsFormat" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setResultsFormat7Response">
        <wsdl:part element="impl:setResultsFormatResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setResultsSetSize8Request">
        <wsdl:part element="impl:setResultsSetSize" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setResultsSetSize8Response">
        <wsdl:part element="impl:setResultsSetSizeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setSourceLocation9Request">
        <wsdl:part element="impl:setSourceLocation" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setSourceLocation9Response">
        <wsdl:part element="impl:setSourceLocationResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="synchronousQuery10Request">
        <wsdl:part element="impl:synchronousQuery" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="synchronousQuery10Response">
        <wsdl:part element="impl:synchronousQueryResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvSQIService">
        <wsdl:operation name="asynchronousQuery">
                
            <wsdl:documentation> 
                Este metodo permite realizar ejecuciones de queries en modo
                asincrono, de manera que el API devuelve los resultados de la
                query cuando termine de ejecutar la busqueda.
                Este metodo esta en sintonia con setSourceLocation, el cual se
                tiene que ejecutar antes para suministar la localizacion donde
                se van a devolver los resutlados de la query.
            </wsdl:documentation>
            <wsdl:input message="impl:asynchronousQuery1Request" 
                        name="asynchronousQuery1Request"/>
            <wsdl:output message="impl:asynchronousQuery1Response" 
                         name="asynchronousQuery1Response"/>
        </wsdl:operation>
        <wsdl:operation name="estasActivo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:estasActivo2Request" 
                        name="estasActivo2Request"/>
            <wsdl:output message="impl:estasActivo2Response" 
                         name="estasActivo2Response"/>
        </wsdl:operation>
        <wsdl:operation name="getTotalResultsCount">
                
            <wsdl:documentation> 
                Este metodo devuelve el numero total de resultados disponibles
                para una query.
                Recibe como parametro el identificador de la sesion sobre la que
                se realiza la operacion y la query de la que se quiere saber
                cuantos resultados dispobibles hay.
                Si la query ya se ha ejecutado, intentamos averiguar dicha
                informacion sin necesidad de ejecutarla.
            </wsdl:documentation>
            <wsdl:input message="impl:getTotalResultsCount3Request" 
                        name="getTotalResultsCount3Request"/>
            <wsdl:output message="impl:getTotalResultsCount3Response" 
                         name="getTotalResultsCount3Response"/>
        </wsdl:operation>
        <wsdl:operation name="setMaxDuration">
                
            <wsdl:documentation> 
                Este metodo permite establecer un timeout para las consultas
                asincronas.
            </wsdl:documentation>
            <wsdl:input message="impl:setMaxDuration4Request" 
                        name="setMaxDuration4Request"/>
            <wsdl:output message="impl:setMaxDuration4Response" 
                         name="setMaxDuration4Response"/>
        </wsdl:operation>
        <wsdl:operation name="setMaxQueryResults">
                
            <wsdl:documentation> 
                Este metodo define el maximo numero de resultados que una query
                puede producir.
            </wsdl:documentation>
            <wsdl:input message="impl:setMaxQueryResults5Request" 
                        name="setMaxQueryResults5Request"/>
            <wsdl:output message="impl:setMaxQueryResults5Response" 
                         name="setMaxQueryResults5Response"/>
        </wsdl:operation>
        <wsdl:operation name="setQueryLanguage">
                
            <wsdl:documentation> 
                Este metodo permite al invocador controlar la sintaxis a
                utilizar en la sentencia de consulta mediante la identificacion
                del lenguaje de consulta.
                En nuestro caso, estaremos limitados a una coleccion de
                lenguajes.
            </wsdl:documentation>
            <wsdl:input message="impl:setQueryLanguage6Request" 
                        name="setQueryLanguage6Request"/>
            <wsdl:output message="impl:setQueryLanguage6Response" 
                         name="setQueryLanguage6Response"/>
        </wsdl:operation>
        <wsdl:operation name="setResultsFormat">
                
            <wsdl:documentation> 
                Este metodo permite especificar el formato del result set que se
                devuelve como resulado de la ejecucion de una query. Este
                parametro se define como una URI al esquema de como se quieren
                los resulados o como un valor predefinido.
            </wsdl:documentation>
            <wsdl:input message="impl:setResultsFormat7Request" 
                        name="setResultsFormat7Request"/>
            <wsdl:output message="impl:setResultsFormat7Response" 
                         name="setResultsFormat7Response"/>
        </wsdl:operation>
        <wsdl:operation name="setResultsSetSize">
                
            <wsdl:documentation> 
                Este metodo define el numero maximo de resultados que se van a
                devolver en un result set.
            </wsdl:documentation>
            <wsdl:input message="impl:setResultsSetSize8Request" 
                        name="setResultsSetSize8Request"/>
            <wsdl:output message="impl:setResultsSetSize8Response" 
                         name="setResultsSetSize8Response"/>
        </wsdl:operation>
        <wsdl:operation name="setSourceLocation">
                
            <wsdl:documentation> 
                Este metodo recoge la localizacion del usuario del API al que
                debemos devolver los resultados de una query ejecutada
                asincronamente.
                Este metodo se tiene que ejecutar por parte del cliente del api
                antes de la ejecucion del la query de forma asincrona.
            </wsdl:documentation>
            <wsdl:input message="impl:setSourceLocation9Request" 
                        name="setSourceLocation9Request"/>
            <wsdl:output message="impl:setSourceLocation9Response" 
                         name="setSourceLocation9Response"/>
        </wsdl:operation>
        <wsdl:operation name="synchronousQuery">
                
            <wsdl:documentation> 
                Este metodo realiza la query que se le pasa sobre la sesion que
                indica. Recoge los resulados que genera y los devuelve teniendo
                en cuenta el numero maximo de resultados para una query, el
                numero de resultados de un result set y el indice del resultado
                a partir del cual se esta interesado.
                Se devuelve el resultado de la consulta.
            </wsdl:documentation>
            <wsdl:input message="impl:synchronousQuery10Request" 
                        name="synchronousQuery10Request"/>
            <wsdl:output message="impl:synchronousQuery10Response" 
                         name="synchronousQuery10Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvSQIServiceSoapBinding" type="impl:SrvSQIService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="asynchronousQuery">
            <wsdlsoap:operation soapAction="asynchronousQuery" style="document"/>
            <wsdl:input name="asynchronousQuery1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="asynchronousQuery1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="estasActivo">
            <wsdlsoap:operation soapAction="estasActivo" style="document"/>
            <wsdl:input name="estasActivo2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="estasActivo2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getTotalResultsCount">
            <wsdlsoap:operation soapAction="getTotalResultsCount" style="document"/>
            <wsdl:input name="getTotalResultsCount3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getTotalResultsCount3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="setMaxDuration">
            <wsdlsoap:operation soapAction="setMaxDuration" style="document"/>
            <wsdl:input name="setMaxDuration4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setMaxDuration4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="setMaxQueryResults">
            <wsdlsoap:operation soapAction="setMaxQueryResults" style="document"/>
            <wsdl:input name="setMaxQueryResults5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setMaxQueryResults5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="setQueryLanguage">
            <wsdlsoap:operation soapAction="setQueryLanguage" style="document"/>
            <wsdl:input name="setQueryLanguage6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setQueryLanguage6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="setResultsFormat">
            <wsdlsoap:operation soapAction="setResultsFormat" style="document"/>
            <wsdl:input name="setResultsFormat7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setResultsFormat7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="setResultsSetSize">
            <wsdlsoap:operation soapAction="setResultsSetSize" style="document"/>
            <wsdl:input name="setResultsSetSize8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setResultsSetSize8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="setSourceLocation">
            <wsdlsoap:operation soapAction="setSourceLocation" style="document"/>
            <wsdl:input name="setSourceLocation9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setSourceLocation9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="synchronousQuery">
            <wsdlsoap:operation soapAction="synchronousQuery" style="document"/>
            <wsdl:input name="synchronousQuery10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="synchronousQuery10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvSQIServiceService">
        <wsdl:documentation> 
            Este servicio (Web Service) implementa la interfaz SQI que tiene
            que soportar el DRI. Esta interfaz esta definida como una
            coleccion de metodos los cuales tienen que cunplir cierta
            funcionalidad que esta definida en el documento:
            ftp://ftp.cenorm.be/PUBLIC/CWAs/e-Europe/WS-LT/CWA15454-00-2005-Nov.pdf
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvSQIServiceSoapBinding" name="SrvSQIService">
            <wsdlsoap:address location="http://localhost:8080/dri/services/SrvSQIService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>