src/modules/agrega/soporte/webservices/src/main/wsdl/SrvSesionesService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvSesionesService" 
    targetNamespace="http://Sesion.servicios.negocio.dri.pode.es"
    xmlns:impl="http://Sesion.servicios.negocio.dri.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://Sesion.servicios.negocio.dri.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="createAnonymousSession">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo crea una sesion sin usuario definido o con usuario
                        anonimo.
                        Devuelve el identificador de lla sesion creada.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="createAnonymousSessionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="createAnonymousSessionReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="createSession">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo crea una nueva sesion asociada al usuario.
                        Devuelve el identificador de la sesion creada.
                        Chequea contra el autenticador la identidad del usuario que
                        intenta crear una conexion.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="userID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Usuaro que crea la sesion.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="password" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Clave del usuario que crea la sesion.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="createSessionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="createSessionReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="destroySession">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo borra una sesion del sistema.
                        Toma como parametro el identificador de la sesion que se quiere
                        eliminar.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="sessionID" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que se quiere eliminar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="destroySessionResponse">       
                <xsd:complexType/>     
            </xsd:element>


            <xsd:complexType name="NoExisteSesionException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Excepcion que captura los momentos en los que se intenta acceder
                        a una sesion que no existe.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WrongCredentialsException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Excepcion al autenticar el usuario contra el sistema. Usuario
                        y/o clave invalida.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="createAnonymousSession1Request">
        <wsdl:part element="impl:createAnonymousSession" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createAnonymousSession1Response">
        <wsdl:part element="impl:createAnonymousSessionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createSession2Request">
        <wsdl:part element="impl:createSession" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createSession2Response">
        <wsdl:part element="impl:createSessionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="destroySession3Request">
        <wsdl:part element="impl:destroySession" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="destroySession3Response">
        <wsdl:part element="impl:destroySessionResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvSesionesService">
        <wsdl:operation name="createAnonymousSession">
                
            <wsdl:documentation> 
                Este metodo crea una sesion sin usuario definido o con usuario
                anonimo.
                Devuelve el identificador de lla sesion creada.
            </wsdl:documentation>
            <wsdl:input message="impl:createAnonymousSession1Request" 
                        name="createAnonymousSession1Request"/>
            <wsdl:output message="impl:createAnonymousSession1Response" 
                         name="createAnonymousSession1Response"/>
        </wsdl:operation>
        <wsdl:operation name="createSession">
                
            <wsdl:documentation> 
                Este metodo crea una nueva sesion asociada al usuario.
                Devuelve el identificador de la sesion creada.
                Chequea contra el autenticador la identidad del usuario que
                intenta crear una conexion.
            </wsdl:documentation>
            <wsdl:input message="impl:createSession2Request" 
                        name="createSession2Request"/>
            <wsdl:output message="impl:createSession2Response" 
                         name="createSession2Response"/>
        </wsdl:operation>
        <wsdl:operation name="destroySession">
                
            <wsdl:documentation> 
                Este metodo borra una sesion del sistema.
                Toma como parametro el identificador de la sesion que se quiere
                eliminar.
            </wsdl:documentation>
            <wsdl:input message="impl:destroySession3Request" 
                        name="destroySession3Request"/>
            <wsdl:output message="impl:destroySession3Response" 
                         name="destroySession3Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvSesionesServiceSoapBinding" type="impl:SrvSesionesService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createAnonymousSession">
            <wsdlsoap:operation soapAction="createAnonymousSession" style="document"/>
            <wsdl:input name="createAnonymousSession1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createAnonymousSession1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="createSession">
            <wsdlsoap:operation soapAction="createSession" style="document"/>
            <wsdl:input name="createSession2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createSession2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="destroySession">
            <wsdlsoap:operation soapAction="destroySession" style="document"/>
            <wsdl:input name="destroySession3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="destroySession3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvSesionesServiceService">
        <wsdl:documentation> 
            Este servicio implementa la administracion de las sesiones que
            hay que mantener en el DRI para dar soporte a la funcionalidad
            de SQI.
            Se trata de un servicio local.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvSesionesServiceSoapBinding" name="SrvSesionesService">
            <wsdlsoap:address location="http://localhost:8080/dri/services/SrvSesionesService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>