src/modules/agrega/soporte/webservices/src/main/wsdl/SrvTaggingServer.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvTaggingServer" 
    targetNamespace="http://servicios.negocio.tagging.pode.es"
    xmlns:impl="http://servicios.negocio.tagging.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.tagging.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="eliminarTags">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="tagsABorrar" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarTagsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarTagsReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarTagsDeUsuario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="tagsABorrar" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idUsuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarTagsDeUsuarioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarTagsDeUsuarioReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="introducirTags">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="titulo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idiomaCat" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tags" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idUsuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="introducirTagsResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="modificarTag">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="oldTag" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="newTag" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarTagResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarTagReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="modificarTagDeUsuario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="oldTag" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="newTag" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idUsuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarTagDeUsuarioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarTagDeUsuarioReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerOdesDeTag">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="tag" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerOdesDeTagResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerOdesDeTagReturn" type="impl:ArrayOfTaggingVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerOdesDeTagYUsuario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="tag" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idUsuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerOdesDeTagYUsuarioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerOdesDeTagYUsuarioReturn" type="impl:ArrayOfTaggingVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTagsDeOde">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTagsDeOdeResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTagsDeOdeReturn" type="impl:ArrayOfxsd_string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTagsDeUsuario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idUsuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTagsDeUsuarioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTagsDeUsuarioReturn" type="impl:ArrayOfTagVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTodosTags">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerTodosTagsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTodosTagsReturn" type="impl:ArrayOfTagVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="TaggingVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idOde" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaCat" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tag" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idUsuario" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTaggingVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TaggingVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TagVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numOdes" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTagVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TagVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="eliminarTags1Request">
        <wsdl:part element="impl:eliminarTags" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTags1Response">
        <wsdl:part element="impl:eliminarTagsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTagsDeUsuario2Request">
        <wsdl:part element="impl:eliminarTagsDeUsuario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTagsDeUsuario2Response">
        <wsdl:part element="impl:eliminarTagsDeUsuarioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="introducirTags3Request">
        <wsdl:part element="impl:introducirTags" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="introducirTags3Response">
        <wsdl:part element="impl:introducirTagsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarTag4Request">
        <wsdl:part element="impl:modificarTag" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarTag4Response">
        <wsdl:part element="impl:modificarTagResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarTagDeUsuario5Request">
        <wsdl:part element="impl:modificarTagDeUsuario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarTagDeUsuario5Response">
        <wsdl:part element="impl:modificarTagDeUsuarioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerOdesDeTag6Request">
        <wsdl:part element="impl:obtenerOdesDeTag" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerOdesDeTag6Response">
        <wsdl:part element="impl:obtenerOdesDeTagResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerOdesDeTagYUsuario7Request">
        <wsdl:part element="impl:obtenerOdesDeTagYUsuario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerOdesDeTagYUsuario7Response">
        <wsdl:part element="impl:obtenerOdesDeTagYUsuarioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTagsDeOde8Request">
        <wsdl:part element="impl:obtenerTagsDeOde" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTagsDeOde8Response">
        <wsdl:part element="impl:obtenerTagsDeOdeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTagsDeUsuario9Request">
        <wsdl:part element="impl:obtenerTagsDeUsuario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTagsDeUsuario9Response">
        <wsdl:part element="impl:obtenerTagsDeUsuarioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTodosTags10Request">
        <wsdl:part element="impl:obtenerTodosTags" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTodosTags10Response">
        <wsdl:part element="impl:obtenerTodosTagsResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvTaggingServer">
        <wsdl:operation name="eliminarTags">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarTags1Request" 
                        name="eliminarTags1Request"/>
            <wsdl:output message="impl:eliminarTags1Response" 
                         name="eliminarTags1Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarTagsDeUsuario">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarTagsDeUsuario2Request" 
                        name="eliminarTagsDeUsuario2Request"/>
            <wsdl:output message="impl:eliminarTagsDeUsuario2Response" 
                         name="eliminarTagsDeUsuario2Response"/>
        </wsdl:operation>
        <wsdl:operation name="introducirTags">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:introducirTags3Request" 
                        name="introducirTags3Request"/>
            <wsdl:output message="impl:introducirTags3Response" 
                         name="introducirTags3Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarTag">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarTag4Request" 
                        name="modificarTag4Request"/>
            <wsdl:output message="impl:modificarTag4Response" 
                         name="modificarTag4Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarTagDeUsuario">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarTagDeUsuario5Request" 
                        name="modificarTagDeUsuario5Request"/>
            <wsdl:output message="impl:modificarTagDeUsuario5Response" 
                         name="modificarTagDeUsuario5Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerOdesDeTag">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerOdesDeTag6Request" 
                        name="obtenerOdesDeTag6Request"/>
            <wsdl:output message="impl:obtenerOdesDeTag6Response" 
                         name="obtenerOdesDeTag6Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerOdesDeTagYUsuario">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerOdesDeTagYUsuario7Request" 
                        name="obtenerOdesDeTagYUsuario7Request"/>
            <wsdl:output message="impl:obtenerOdesDeTagYUsuario7Response" 
                         name="obtenerOdesDeTagYUsuario7Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTagsDeOde">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTagsDeOde8Request" 
                        name="obtenerTagsDeOde8Request"/>
            <wsdl:output message="impl:obtenerTagsDeOde8Response" 
                         name="obtenerTagsDeOde8Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTagsDeUsuario">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTagsDeUsuario9Request" 
                        name="obtenerTagsDeUsuario9Request"/>
            <wsdl:output message="impl:obtenerTagsDeUsuario9Response" 
                         name="obtenerTagsDeUsuario9Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTodosTags">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTodosTags10Request" 
                        name="obtenerTodosTags10Request"/>
            <wsdl:output message="impl:obtenerTodosTags10Response" 
                         name="obtenerTodosTags10Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvTaggingServerSoapBinding" type="impl:SrvTaggingServer">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="eliminarTags">
            <wsdlsoap:operation soapAction="eliminarTags" style="document"/>
            <wsdl:input name="eliminarTags1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarTags1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarTagsDeUsuario">
            <wsdlsoap:operation soapAction="eliminarTagsDeUsuario" style="document"/>
            <wsdl:input name="eliminarTagsDeUsuario2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarTagsDeUsuario2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="introducirTags">
            <wsdlsoap:operation soapAction="introducirTags" style="document"/>
            <wsdl:input name="introducirTags3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="introducirTags3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarTag">
            <wsdlsoap:operation soapAction="modificarTag" style="document"/>
            <wsdl:input name="modificarTag4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarTag4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarTagDeUsuario">
            <wsdlsoap:operation soapAction="modificarTagDeUsuario" style="document"/>
            <wsdl:input name="modificarTagDeUsuario5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarTagDeUsuario5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerOdesDeTag">
            <wsdlsoap:operation soapAction="obtenerOdesDeTag" style="document"/>
            <wsdl:input name="obtenerOdesDeTag6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerOdesDeTag6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerOdesDeTagYUsuario">
            <wsdlsoap:operation soapAction="obtenerOdesDeTagYUsuario" style="document"/>
            <wsdl:input name="obtenerOdesDeTagYUsuario7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerOdesDeTagYUsuario7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTagsDeOde">
            <wsdlsoap:operation soapAction="obtenerTagsDeOde" style="document"/>
            <wsdl:input name="obtenerTagsDeOde8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTagsDeOde8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTagsDeUsuario">
            <wsdlsoap:operation soapAction="obtenerTagsDeUsuario" style="document"/>
            <wsdl:input name="obtenerTagsDeUsuario9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTagsDeUsuario9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTodosTags">
            <wsdlsoap:operation soapAction="obtenerTodosTags" style="document"/>
            <wsdl:input name="obtenerTodosTags10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTodosTags10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvTaggingServerService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvTaggingServerSoapBinding" name="SrvTaggingServer">
            <wsdlsoap:address location="http://localhost:8080/valoracion/services/SrvTaggingServer"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>