src/modules/agrega/soporte/webservices/src/main/wsdl/SrvValidadorVDEXService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvValidadorVDEXService" 
    targetNamespace="http://servicio.negocio.validador.pode.es"
    xmlns:impl="http://servicio.negocio.validador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.validador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="obtenerValidacionTaxonomia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="rutaVdex" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerValidacionTaxonomiaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerValidacionTaxonomiaReturn" type="impl:ValidaVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerValidacionTesauro">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="rutaVdex" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerValidacionTesauroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerValidacionTesauroReturn" type="impl:ValidaVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerValidacionVdex">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="rutaVdex" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerValidacionVdexResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerValidacionVdexReturn" type="impl:ValidaVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ValidaVdexVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        tipo de datos que devuelven los metodos del servicio
                        SrvValidadorVDEXService.
                        contiene un Boolean llamado valido que indica si el Tesauro o la
                        Taxonomia ha pasado la validación.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="valido" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                indica si el Tesauro o Taxonomia es válido
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoVdex" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="obtenerValidacionTaxonomia1Request">
        <wsdl:part element="impl:obtenerValidacionTaxonomia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerValidacionTaxonomia1Response">
        <wsdl:part element="impl:obtenerValidacionTaxonomiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerValidacionTesauro2Request">
        <wsdl:part element="impl:obtenerValidacionTesauro" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerValidacionTesauro2Response">
        <wsdl:part element="impl:obtenerValidacionTesauroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerValidacionVdex3Request">
        <wsdl:part element="impl:obtenerValidacionVdex" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerValidacionVdex3Response">
        <wsdl:part element="impl:obtenerValidacionVdexResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvValidadorVDEXService">
        <wsdl:operation name="obtenerValidacionTaxonomia">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerValidacionTaxonomia1Request" 
                        name="obtenerValidacionTaxonomia1Request"/>
            <wsdl:output message="impl:obtenerValidacionTaxonomia1Response" 
                         name="obtenerValidacionTaxonomia1Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerValidacionTesauro">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerValidacionTesauro2Request" 
                        name="obtenerValidacionTesauro2Request"/>
            <wsdl:output message="impl:obtenerValidacionTesauro2Response" 
                         name="obtenerValidacionTesauro2Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerValidacionVdex">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerValidacionVdex3Request" 
                        name="obtenerValidacionVdex3Request"/>
            <wsdl:output message="impl:obtenerValidacionVdex3Response" 
                         name="obtenerValidacionVdex3Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvValidadorVDEXServiceSoapBinding" type="impl:SrvValidadorVDEXService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtenerValidacionTaxonomia">
            <wsdlsoap:operation soapAction="obtenerValidacionTaxonomia" style="document"/>
            <wsdl:input name="obtenerValidacionTaxonomia1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerValidacionTaxonomia1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerValidacionTesauro">
            <wsdlsoap:operation soapAction="obtenerValidacionTesauro" style="document"/>
            <wsdl:input name="obtenerValidacionTesauro2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerValidacionTesauro2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerValidacionVdex">
            <wsdlsoap:operation soapAction="obtenerValidacionVdex" style="document"/>
            <wsdl:input name="obtenerValidacionVdex3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerValidacionVdex3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvValidadorVDEXServiceService">
        <wsdl:documentation> 
            El servicio contiene metodos para las siguientes tareas:
            A) obtenerValidacionTesauro:
            recibe como parámetro la ruta al xml que se quiere validar. 
            realiza la validacion contra esquemas requerida y devuelve un VO
            ValidaVdexVO con el resultado de la validacion.
            valida contra el esquema imsvdex_v1p0_thesaurus.xsd
            B) obtenerValidacionTaxonomia::
            recibe como parámetro la ruta al xml que se quiere validar. 
            realiza la validacion contra esquemas requerida y devuelve un VO
            ValidaVdexVO con el resultado de la validacion.
            valida contra el esquema imsvdex_v1p0_hierarchical.xsd
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvValidadorVDEXServiceSoapBinding" name="SrvValidadorVDEXService">
            <wsdlsoap:address location="http://localhost:8080/validador/services/SrvValidadorVDEXService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>