src/modules/agrega/soporte/webservices/src/main/wsdl/SrvValoracionService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvValoracionService" 
    targetNamespace="http://servicios.negocio.valoracion.pode.es"
    xmlns:impl="http://servicios.negocio.valoracion.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.valoracion.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="consultarValoracion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo permite consultar la valoracion para un contenido
                        digital concreto del que se indica el identificador.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idODE" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del contenido digital.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="consultarValoracionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="consultarValoracionReturn" type="soapenc:float"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarComentarios">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo elimina los comentarios correspondientes a los
                        identificadores que le pasan.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="impl:ArrayOfsoapenc_long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de identificadores con los comentarios que se quieren
                                    eliminar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarComentariosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarComentariosReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarTodasValoraciones">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método que elimina todas las valoraciones realizadas al ode con
                        identificador idODE. Devuelve un código del resultado de la
                        acción.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idODE" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ode del que se quieren eliminar las
                                    valoraciones.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarTodasValoracionesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarTodasValoracionesReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarTodosComentarios">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método que elimina todos los comentarios relacionados con el ode
                        con identificador idODE. Devuelve un código con el resultado de
                        la acción.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idODE" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ode del que se quieren eliminar todos los
                                    comentarios.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarTodosComentariosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarTodosComentariosReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="introducirComentario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo introduce un comentario asociado al contenido
                        digital identificado por el identificador que le pasan.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idODE" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del contenido digital.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="comentario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Comentario asociado al contenido digital.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idiomaODE" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma del ODE
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Persona que ha introducido el comentario.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="introducirComentarioResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="introducirValoracion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este método introduce un valoración correspondiente al ODE.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="valoracion" type="soapenc:float" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Valoración asociada al ODE.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idODE" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    identificador alfanumérico del ode.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="autor" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Autor de la persona que ha realizado la valoracion.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idiomaODE" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma del ode.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="introducirValoracionResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="obtenerComentarios">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve la lista de comentarios asociados al
                        contenido digital identificado por el identificador que le
                        pasan.
                        Los devuelve ordenados por fecha de insercion, de mas antiguo a
                        mas reciente.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idODE" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del contenido digital.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerComentariosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerComentariosReturn" type="impl:ArrayOfComentarioVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ComentarioVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase implementa un posible mapeo de una tupla de la tabla
                        Comentario.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="comentario" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Texto del comentario.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha en la que se realizo el comentario.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del ODE al que se asocia el comentario.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del comentario en la BD.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="usuario" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Persona que ha introducido el comentario.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfComentarioVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ComentarioVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfsoapenc_long">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="soapenc:long" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="consultarValoracion1Request">
        <wsdl:part element="impl:consultarValoracion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultarValoracion1Response">
        <wsdl:part element="impl:consultarValoracionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarComentarios2Request">
        <wsdl:part element="impl:eliminarComentarios" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarComentarios2Response">
        <wsdl:part element="impl:eliminarComentariosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTodasValoraciones3Request">
        <wsdl:part element="impl:eliminarTodasValoraciones" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTodasValoraciones3Response">
        <wsdl:part element="impl:eliminarTodasValoracionesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTodosComentarios4Request">
        <wsdl:part element="impl:eliminarTodosComentarios" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTodosComentarios4Response">
        <wsdl:part element="impl:eliminarTodosComentariosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="introducirComentario5Request">
        <wsdl:part element="impl:introducirComentario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="introducirComentario5Response">
        <wsdl:part element="impl:introducirComentarioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="introducirValoracion6Request">
        <wsdl:part element="impl:introducirValoracion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="introducirValoracion6Response">
        <wsdl:part element="impl:introducirValoracionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerComentarios7Request">
        <wsdl:part element="impl:obtenerComentarios" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerComentarios7Response">
        <wsdl:part element="impl:obtenerComentariosResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvValoracionService">
        <wsdl:operation name="consultarValoracion">
                
            <wsdl:documentation> 
                Este metodo permite consultar la valoracion para un contenido
                digital concreto del que se indica el identificador.
            </wsdl:documentation>
            <wsdl:input message="impl:consultarValoracion1Request" 
                        name="consultarValoracion1Request"/>
            <wsdl:output message="impl:consultarValoracion1Response" 
                         name="consultarValoracion1Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarComentarios">
                
            <wsdl:documentation> 
                Este metodo elimina los comentarios correspondientes a los
                identificadores que le pasan.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarComentarios2Request" 
                        name="eliminarComentarios2Request"/>
            <wsdl:output message="impl:eliminarComentarios2Response" 
                         name="eliminarComentarios2Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarTodasValoraciones">
                
            <wsdl:documentation> 
                Método que elimina todas las valoraciones realizadas al ode con
                identificador idODE. Devuelve un código del resultado de la
                acción.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarTodasValoraciones3Request" 
                        name="eliminarTodasValoraciones3Request"/>
            <wsdl:output message="impl:eliminarTodasValoraciones3Response" 
                         name="eliminarTodasValoraciones3Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarTodosComentarios">
                
            <wsdl:documentation> 
                Método que elimina todos los comentarios relacionados con el ode
                con identificador idODE. Devuelve un código con el resultado de
                la acción.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarTodosComentarios4Request" 
                        name="eliminarTodosComentarios4Request"/>
            <wsdl:output message="impl:eliminarTodosComentarios4Response" 
                         name="eliminarTodosComentarios4Response"/>
        </wsdl:operation>
        <wsdl:operation name="introducirComentario">
                
            <wsdl:documentation> 
                Este metodo introduce un comentario asociado al contenido
                digital identificado por el identificador que le pasan.
            </wsdl:documentation>
            <wsdl:input message="impl:introducirComentario5Request" 
                        name="introducirComentario5Request"/>
            <wsdl:output message="impl:introducirComentario5Response" 
                         name="introducirComentario5Response"/>
        </wsdl:operation>
        <wsdl:operation name="introducirValoracion">
                
            <wsdl:documentation> 
                Este método introduce un valoración correspondiente al ODE.
            </wsdl:documentation>
            <wsdl:input message="impl:introducirValoracion6Request" 
                        name="introducirValoracion6Request"/>
            <wsdl:output message="impl:introducirValoracion6Response" 
                         name="introducirValoracion6Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerComentarios">
                
            <wsdl:documentation> 
                Este metodo devuelve la lista de comentarios asociados al
                contenido digital identificado por el identificador que le
                pasan.
                Los devuelve ordenados por fecha de insercion, de mas antiguo a
                mas reciente.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerComentarios7Request" 
                        name="obtenerComentarios7Request"/>
            <wsdl:output message="impl:obtenerComentarios7Response" 
                         name="obtenerComentarios7Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvValoracionServiceSoapBinding" type="impl:SrvValoracionService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultarValoracion">
            <wsdlsoap:operation soapAction="consultarValoracion" style="document"/>
            <wsdl:input name="consultarValoracion1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultarValoracion1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarComentarios">
            <wsdlsoap:operation soapAction="eliminarComentarios" style="document"/>
            <wsdl:input name="eliminarComentarios2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarComentarios2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarTodasValoraciones">
            <wsdlsoap:operation soapAction="eliminarTodasValoraciones" style="document"/>
            <wsdl:input name="eliminarTodasValoraciones3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarTodasValoraciones3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarTodosComentarios">
            <wsdlsoap:operation soapAction="eliminarTodosComentarios" style="document"/>
            <wsdl:input name="eliminarTodosComentarios4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarTodosComentarios4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="introducirComentario">
            <wsdlsoap:operation soapAction="introducirComentario" style="document"/>
            <wsdl:input name="introducirComentario5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="introducirComentario5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="introducirValoracion">
            <wsdlsoap:operation soapAction="introducirValoracion" style="document"/>
            <wsdl:input name="introducirValoracion6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="introducirValoracion6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerComentarios">
            <wsdlsoap:operation soapAction="obtenerComentarios" style="document"/>
            <wsdl:input name="obtenerComentarios7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerComentarios7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvValoracionServiceService">
        <wsdl:documentation> 
            Clase que implementa el servicio de valoracion. Esta clase
            permite gestionar la valoracion de los contenidos digitales de
            la plataforma, asi como los comentarios introducidos por los
            usuarios de los ODEs del repositorio.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvValoracionServiceSoapBinding" name="SrvValoracionService">
            <wsdlsoap:address location="http://localhost:8080/valoracion/services/SrvValoracionService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>