src/modules/agrega/soporte/webservices/src/main/wsdl/SrvVocabulariosControladosService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvVocabulariosControladosService" 
    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:impl="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="crearTraduccionAIdioma">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        El metodo traduceAIdioma busca para un identificador su valor en
                        el idioma solicitado, accediendo para ello al xml de
                        vocabularios controlados parseado en la hashmap en el idioma
                        requerido en el parametro.
                        Se obtiene como parametro de salida un array de TerminoVO. Cada
                        uno de los TerminoVO contiene:
                        - idTermino: identificador del termino para el cual se desea
                        recoger su valor en el idioma especificado.
                        - nomTermino: atributo que se rellena en el interior del metodo
                        una vez que se ha encontrado el identificador indicado en el
                        fichero xml en el idioma especificado.
                        - idiomaTermino: idioma en el que se ha recogido el valor del
                        termino.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="l_id" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de identificadores de los terminos de los cuales se desea
                                    obtener su valor en el idioma especificado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma en el cual se desean recoger los terminos especificador
                                    por la lista de identificadores.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearTraduccionAIdiomaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearTraduccionAIdiomaReturn" type="impl:ArrayOfTerminoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="crearTraduccionAIngles">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        El metodo crearTraduccionAIngles busca para un identificador
                        dado su valor en ingles, accediendo para ello al xml de
                        vocabularios controlados en ingles parseado en la hashmap.
                        Este metodo es necesario para almacenar los terminos de los
                        vocabularios controlados en ingles en el xml final, ya que es
                        necesario que se encuentren en este idioma para consolidar un
                        LOM-ES valido.
                        Como parametro de  salida, el metodo devuelve un array de
                        TerminoYPadreVO, cada uno de los cuales esta compuesto por:
                        - idVocabulario: indicando el identificador del vocabulario al
                        que pertenece el termino a buscar.
                        - nomTermino: atributo que se rellena en el interior del metodo
                        una vez que se ha encontrado el identificador indicado en el
                        fichero xml en ingles.
                        - idiomaTermino: por defecto, debera ser siempre ingles.
                        - idTermino: identificador del termino para el cual se desea
                        recoger su valor en ingles.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="l_id" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de identificadores de los terminos de los cuales se desea
                                    obtener su valor en ingles.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearTraduccionAInglesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearTraduccionAInglesReturn" type="impl:ArrayOfTerminoYPadreVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCombos">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        El metodo obtenerCombos es el encargado de rellenar los combos
                        correspondientes a los vocabularios controlados en la
                        herramienta de catalogacion.
                        Los vocabularios controlados se encuentran en ficheros xml
                        especificados mediante VDEX, cada uno de los cuales se expresa
                        en un idioma diferente.
                        El metodo espera como parametros de entrada los identificadores
                        de los vocabularios que se desean cargar y el idioma en el que
                        el usuario esta realizando la catalogacion.
                        Como parametro de  salida, el metodo devuelve un array de
                        VocabularioVO. Cada uno de estos contiene:
                        - idVocabulario: identificador que se le pasa como parametro en
                        el array de identificadores y por el que se busca en el fichero
                        xml
                        - nomVocabulario: es el nombre del vocabulario que se
                        corresponde con el parametro del identificador. Inicialmente es
                        null, y se rellena en el metodo.
                        - idioma: idioma en el que se desea recoger el vocabulario.
                        Los ficheros xml que contienen los vocabularios controlados
                        estaran parseados en una hashmap (se cargan en el constructor
                        del servicio), de forma que estaran accesibles para la
                        aplicacion en cualquier momento sin necesidad de parsearlos cada
                        vez.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="l_id" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Los identificadores de los vocabularios que se desean cargar en
                                    los combos. Los identificadores seran strings del tipo 1.1,
                                    2.1.3, 3...
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma en el que el usuario esta realizando la catalogacion.
                                    Indica el fichero xml donde recoger los terminos del
                                    vocabulario.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerCombosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCombosReturn" type="impl:ArrayOfVocabularioVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerIdTermino">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        El metodo obtenerIdTermino se utiliza para obtener los
                        identificadores de los terminos recogidos en el catalogador. Es
                        necesario para realizar la traduccion a ingles de los terminos
                        recogidos mediante el catalogador, de forma que el fichero xml
                        formado sea valido con respecto a LOM-ES.
                        El metodo devuelve un array de TerminoYPadreVO que contienen:
                        - idVocabulario: indicando el identificador del vocabulario al
                        que pertenece el termino a buscar.
                        - nomTermino: valor del termino recogido en el idioma en el que
                        se encuentre catalogando el usuario
                        - idiomaTermino: idioma en el que se encuentra escrito
                        nomTermino.
                        - idTermino: atributo que se rellenara en el metodo y que
                        contendra el identificador del termino.
                        como parametro de entrada tenemos un VO de tipo TerminoYPadreVO,
                        que vendra relleno con
                        - idVocabulario: el identificador del combo (previamente buscado
                        en el catalogador en su 		                          fichero de
                        properties para buscar desde el nombre el id que le corresponde)
                        -nomTermino: es el nombre que hemos seleccionado del combo
                        -idiomaTermino: es el idioma en que queremos devolverlo
                        -idTermino: es el identificador que debemos buscar en la hashmap
                        con los datos que tenemos y devolver el mismo TerminoYPadreVO,
                        con el idTermino relleno
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="terminoypadre" type="impl:ArrayOfTerminoYPadreVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de TerminoYPadreVO que contienen:
                                    - idVocabulario: el identificador del vocabulario (previamente
                                    buscado en el catalogador en su fichero de properties para
                                    buscar desde el nombre el id que le corresponde)
                                    - nomTermino: es el valor seleccionado por el usuario en el
                                    combo del catalogador
                                    - idiomaTermino: idioma en el que se encuentra escrito
                                    nomTermino
                                    - idTermino: es el identificador que se debe buscar en la
                                    hashmap con los datos a partir del idVocabulario y nomTermino.
                                    Su valor debe ser null.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerIdTerminoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerIdTerminoReturn" type="impl:ArrayOfTerminoYPadreVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ArrayOfTerminoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TerminoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TerminoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Termino de un vocabulario controlado de LOM-ES. Se compone de:
                        idTermino, nomTermino e idiomaTermino.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idTermino" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del termino perteneciente a un vocabulario
                                controlado de LOM-ES.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nomTermino" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valor de un termino de un vocabulario controlado de LOM-ES
                                traducido al idioma indicado en el atributo idiomtaTermino.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaTermino" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma en el que se encuentra traducido el termino recogido en
                                el atributo nomTermino.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTerminoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TerminoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TerminoYPadreVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        ValueObject que representa un termino de un vocabulario
                        controlado de LOM-ES. Consta de los atributos idVocabulario,
                        nomTermino, idiomaTermino e idTermino.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idVocabulario" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador de uno de los vocabularios controlados dentro del
                                fichero xml expresado en vdex que contiene todos los
                                vocabularios de LOM-ES. Se corresponde con el identificador dado
                                en la especificacion LOM-ES para dicho vocabulario.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nomTermino" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valor de un termino de un vocabulario controlado de LOM-ES
                                traducido al idioma indicado en el atributo idiomtaTermino.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaTermino" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma en el que se encuentra traducido el termino recogido en
                                el atributo nomTermino.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idTermino" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del termino perteneciente a un vocabulario
                                controlado de LOM-ES.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTerminoYPadreVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TerminoYPadreVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="VocabularioVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        ValueObject que representa un vocabulario controlado de LOM-ES.
                        Esta compuesto de uno o mas objetos del tipo TerminoVO y consta
                        de los atributos idVocabulario, nomVocabulario e idioma.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idVocabulario" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador de uno de los vocabularios controlados dentro del
                                fichero xml expresado en vdex que contiene todos los
                                vocabularios de LOM-ES. Se corresponde con el identificador dado
                                en la especificacion LOM-ES para dicho vocabulario.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nomVocabulario" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Es el nombre del vocabulario controlado de LOM-ES representado
                                por este ValueObject.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma en el que se encuentran los terminos asociados al
                                vocabulario controlado representado por este ValueObject.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="terminos" nillable="false" type="impl:ArrayOfTerminoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfVocabularioVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:VocabularioVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="crearTraduccionAIdioma1Request">
        <wsdl:part element="impl:crearTraduccionAIdioma" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearTraduccionAIdioma1Response">
        <wsdl:part element="impl:crearTraduccionAIdiomaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearTraduccionAIngles2Request">
        <wsdl:part element="impl:crearTraduccionAIngles" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearTraduccionAIngles2Response">
        <wsdl:part element="impl:crearTraduccionAInglesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCombos3Request">
        <wsdl:part element="impl:obtenerCombos" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCombos3Response">
        <wsdl:part element="impl:obtenerCombosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerIdTermino4Request">
        <wsdl:part element="impl:obtenerIdTermino" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerIdTermino4Response">
        <wsdl:part element="impl:obtenerIdTerminoResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvVocabulariosControladosService">
        <wsdl:operation name="crearTraduccionAIdioma">
                
            <wsdl:documentation> 
                El metodo traduceAIdioma busca para un identificador su valor en
                el idioma solicitado, accediendo para ello al xml de
                vocabularios controlados parseado en la hashmap en el idioma
                requerido en el parametro.
                Se obtiene como parametro de salida un array de TerminoVO. Cada
                uno de los TerminoVO contiene:
                - idTermino: identificador del termino para el cual se desea
                recoger su valor en el idioma especificado.
                - nomTermino: atributo que se rellena en el interior del metodo
                una vez que se ha encontrado el identificador indicado en el
                fichero xml en el idioma especificado.
                - idiomaTermino: idioma en el que se ha recogido el valor del
                termino.
            </wsdl:documentation>
            <wsdl:input message="impl:crearTraduccionAIdioma1Request" 
                        name="crearTraduccionAIdioma1Request"/>
            <wsdl:output message="impl:crearTraduccionAIdioma1Response" 
                         name="crearTraduccionAIdioma1Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearTraduccionAIngles">
                
            <wsdl:documentation> 
                El metodo crearTraduccionAIngles busca para un identificador
                dado su valor en ingles, accediendo para ello al xml de
                vocabularios controlados en ingles parseado en la hashmap.
                Este metodo es necesario para almacenar los terminos de los
                vocabularios controlados en ingles en el xml final, ya que es
                necesario que se encuentren en este idioma para consolidar un
                LOM-ES valido.
                Como parametro de  salida, el metodo devuelve un array de
                TerminoYPadreVO, cada uno de los cuales esta compuesto por:
                - idVocabulario: indicando el identificador del vocabulario al
                que pertenece el termino a buscar.
                - nomTermino: atributo que se rellena en el interior del metodo
                una vez que se ha encontrado el identificador indicado en el
                fichero xml en ingles.
                - idiomaTermino: por defecto, debera ser siempre ingles.
                - idTermino: identificador del termino para el cual se desea
                recoger su valor en ingles.
            </wsdl:documentation>
            <wsdl:input message="impl:crearTraduccionAIngles2Request" 
                        name="crearTraduccionAIngles2Request"/>
            <wsdl:output message="impl:crearTraduccionAIngles2Response" 
                         name="crearTraduccionAIngles2Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCombos">
                
            <wsdl:documentation> 
                El metodo obtenerCombos es el encargado de rellenar los combos
                correspondientes a los vocabularios controlados en la
                herramienta de catalogacion.
                Los vocabularios controlados se encuentran en ficheros xml
                especificados mediante VDEX, cada uno de los cuales se expresa
                en un idioma diferente.
                El metodo espera como parametros de entrada los identificadores
                de los vocabularios que se desean cargar y el idioma en el que
                el usuario esta realizando la catalogacion.
                Como parametro de  salida, el metodo devuelve un array de
                VocabularioVO. Cada uno de estos contiene:
                - idVocabulario: identificador que se le pasa como parametro en
                el array de identificadores y por el que se busca en el fichero
                xml
                - nomVocabulario: es el nombre del vocabulario que se
                corresponde con el parametro del identificador. Inicialmente es
                null, y se rellena en el metodo.
                - idioma: idioma en el que se desea recoger el vocabulario.
                Los ficheros xml que contienen los vocabularios controlados
                estaran parseados en una hashmap (se cargan en el constructor
                del servicio), de forma que estaran accesibles para la
                aplicacion en cualquier momento sin necesidad de parsearlos cada
                vez.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCombos3Request" 
                        name="obtenerCombos3Request"/>
            <wsdl:output message="impl:obtenerCombos3Response" 
                         name="obtenerCombos3Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerIdTermino">
                
            <wsdl:documentation> 
                El metodo obtenerIdTermino se utiliza para obtener los
                identificadores de los terminos recogidos en el catalogador. Es
                necesario para realizar la traduccion a ingles de los terminos
                recogidos mediante el catalogador, de forma que el fichero xml
                formado sea valido con respecto a LOM-ES.
                El metodo devuelve un array de TerminoYPadreVO que contienen:
                - idVocabulario: indicando el identificador del vocabulario al
                que pertenece el termino a buscar.
                - nomTermino: valor del termino recogido en el idioma en el que
                se encuentre catalogando el usuario
                - idiomaTermino: idioma en el que se encuentra escrito
                nomTermino.
                - idTermino: atributo que se rellenara en el metodo y que
                contendra el identificador del termino.
                como parametro de entrada tenemos un VO de tipo TerminoYPadreVO,
                que vendra relleno con
                - idVocabulario: el identificador del combo (previamente buscado
                en el catalogador en su 		                          fichero de
                properties para buscar desde el nombre el id que le corresponde)
                -nomTermino: es el nombre que hemos seleccionado del combo
                -idiomaTermino: es el idioma en que queremos devolverlo
                -idTermino: es el identificador que debemos buscar en la hashmap
                con los datos que tenemos y devolver el mismo TerminoYPadreVO,
                con el idTermino relleno
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerIdTermino4Request" 
                        name="obtenerIdTermino4Request"/>
            <wsdl:output message="impl:obtenerIdTermino4Response" 
                         name="obtenerIdTermino4Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvVocabulariosControladosServiceSoapBinding" type="impl:SrvVocabulariosControladosService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="crearTraduccionAIdioma">
            <wsdlsoap:operation soapAction="crearTraduccionAIdioma" style="document"/>
            <wsdl:input name="crearTraduccionAIdioma1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearTraduccionAIdioma1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearTraduccionAIngles">
            <wsdlsoap:operation soapAction="crearTraduccionAIngles" style="document"/>
            <wsdl:input name="crearTraduccionAIngles2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearTraduccionAIngles2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCombos">
            <wsdlsoap:operation soapAction="obtenerCombos" style="document"/>
            <wsdl:input name="obtenerCombos3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCombos3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerIdTermino">
            <wsdlsoap:operation soapAction="obtenerIdTermino" style="document"/>
            <wsdl:input name="obtenerIdTermino4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerIdTermino4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvVocabulariosControladosServiceService">
        <wsdl:documentation> 
            El servicio de vocabularios controlados es el encargado de
            gestionar los terminos restringidos por LOM-ES, realizando las
            traducciones oportunas para conseguir la validez de los
            esquemas, asi como para mostrar los vocabularios en el idioma
            indicado por el usuario.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvVocabulariosControladosServiceSoapBinding" name="SrvVocabulariosControladosService">
            <wsdlsoap:address location="http://localhost:8080/fuentestaxonomicas/services/SrvVocabulariosControladosService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>