src/modules/agrega/buscar/src/main/resources/es/pode/buscar/negocio/nodosSQI/servicio/SrvGestionSqiService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvGestionSqiService" 
    targetNamespace="http://servicio.nodosSQI.negocio.buscar.pode.es"
    xmlns:impl="http://servicio.nodosSQI.negocio.buscar.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.nodosSQI.negocio.buscar.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="altaNodoSQI">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para dar de alta nodos de tipo SQI. Devuelve el id del
                        nodoSQI que hemos creado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nodoSQI" type="impl:NodoSQIVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="altaNodoSQIResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="altaNodoSQIReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="bajaNodosSQI">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para dar de baja los nodos de tipo SQI
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfsoapenc_long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    El array de identificadores de los nodosSQI que queremos
                                    eliminar
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="bajaNodosSQIResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="consultaNodosSQI">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para consultar los nodos de tipo SQI
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfsoapenc_long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="consultaNodosSQIResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="consultaNodosSQIReturn" type="impl:ArrayOfNodoSQIVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarNodosSQI">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para listar los nodos de tipo SQI
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarNodosSQIResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarNodosSQIReturn" type="impl:ArrayOfNodoDescripcionSQIVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="modificarNodoSQI">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo para modificar nodos de tipo SQI. Devuelve el id del
                        nodoSQI que hemos modificado
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nodo" type="impl:NodoSQIVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarNodoSQIResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarNodoSQIReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerNodosSQI">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve todos los nodos SQI que estan dados de alta
                        en la plataforma.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerNodosSQIResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerNodosSQIReturn" type="impl:ArrayOfNodoSQIVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="NodoDescripcionSQIVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Describe un nodo de tipo SQI
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="descripcionNodo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                La descripcion o "nombre" del nodo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El identificador del nodo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreNodo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El nombre del nodo de tipo SQI
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfNodoDescripcionSQIVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:NodoDescripcionSQIVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NodoSQIVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Objeto de valor que contiene toda la informacion que describe un
                        nodo de tipo SQI
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="urlServicio" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                La URL del servicio SQI
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gestorSesion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Es la URL del gestor de sesiones
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lenguajeConsulta" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Sera el lenguaje de consulta que se vaya a utilizar en el
                                interfaz SQI
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lenguajeRespuesta" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Es el lenguaje de respuesta que devuelve una consulta SQI
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcionNodo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Es la descripcion del nodo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="usuario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El nombre del usuario
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="clave" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                La clave del usuario
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El identificador del nodo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificadorSesion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El identificador de la sesion
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreNodo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El nombre del nodo de tipo SQI
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfNodoSQIVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:NodoSQIVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfsoapenc_long">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="soapenc:long" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="altaNodoSQI1Request">
        <wsdl:part element="impl:altaNodoSQI" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="altaNodoSQI1Response">
        <wsdl:part element="impl:altaNodoSQIResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="bajaNodosSQI2Request">
        <wsdl:part element="impl:bajaNodosSQI" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="bajaNodosSQI2Response">
        <wsdl:part element="impl:bajaNodosSQIResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaNodosSQI3Request">
        <wsdl:part element="impl:consultaNodosSQI" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="consultaNodosSQI3Response">
        <wsdl:part element="impl:consultaNodosSQIResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarNodosSQI4Request">
        <wsdl:part element="impl:listarNodosSQI" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarNodosSQI4Response">
        <wsdl:part element="impl:listarNodosSQIResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarNodoSQI5Request">
        <wsdl:part element="impl:modificarNodoSQI" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarNodoSQI5Response">
        <wsdl:part element="impl:modificarNodoSQIResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNodosSQI6Request">
        <wsdl:part element="impl:obtenerNodosSQI" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNodosSQI6Response">
        <wsdl:part element="impl:obtenerNodosSQIResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvGestionSqiService">
        <wsdl:operation name="altaNodoSQI">
                
            <wsdl:documentation> 
                Metodo para dar de alta nodos de tipo SQI. Devuelve el id del
                nodoSQI que hemos creado.
            </wsdl:documentation>
            <wsdl:input message="impl:altaNodoSQI1Request" 
                        name="altaNodoSQI1Request"/>
            <wsdl:output message="impl:altaNodoSQI1Response" 
                         name="altaNodoSQI1Response"/>
        </wsdl:operation>
        <wsdl:operation name="bajaNodosSQI">
                
            <wsdl:documentation> 
                Metodo para dar de baja los nodos de tipo SQI
            </wsdl:documentation>
            <wsdl:input message="impl:bajaNodosSQI2Request" 
                        name="bajaNodosSQI2Request"/>
            <wsdl:output message="impl:bajaNodosSQI2Response" 
                         name="bajaNodosSQI2Response"/>
        </wsdl:operation>
        <wsdl:operation name="consultaNodosSQI">
                
            <wsdl:documentation> 
                Metodo para consultar los nodos de tipo SQI
            </wsdl:documentation>
            <wsdl:input message="impl:consultaNodosSQI3Request" 
                        name="consultaNodosSQI3Request"/>
            <wsdl:output message="impl:consultaNodosSQI3Response" 
                         name="consultaNodosSQI3Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarNodosSQI">
                
            <wsdl:documentation> 
                Metodo para listar los nodos de tipo SQI
            </wsdl:documentation>
            <wsdl:input message="impl:listarNodosSQI4Request" 
                        name="listarNodosSQI4Request"/>
            <wsdl:output message="impl:listarNodosSQI4Response" 
                         name="listarNodosSQI4Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarNodoSQI">
                
            <wsdl:documentation> 
                Metodo para modificar nodos de tipo SQI. Devuelve el id del
                nodoSQI que hemos modificado
            </wsdl:documentation>
            <wsdl:input message="impl:modificarNodoSQI5Request" 
                        name="modificarNodoSQI5Request"/>
            <wsdl:output message="impl:modificarNodoSQI5Response" 
                         name="modificarNodoSQI5Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerNodosSQI">
                
            <wsdl:documentation> 
                Este metodo devuelve todos los nodos SQI que estan dados de alta
                en la plataforma.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerNodosSQI6Request" 
                        name="obtenerNodosSQI6Request"/>
            <wsdl:output message="impl:obtenerNodosSQI6Response" 
                         name="obtenerNodosSQI6Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvGestionSqiServiceSoapBinding" type="impl:SrvGestionSqiService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="altaNodoSQI">
            <wsdlsoap:operation soapAction="altaNodoSQI" style="document"/>
            <wsdl:input name="altaNodoSQI1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="altaNodoSQI1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="bajaNodosSQI">
            <wsdlsoap:operation soapAction="bajaNodosSQI" style="document"/>
            <wsdl:input name="bajaNodosSQI2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="bajaNodosSQI2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="consultaNodosSQI">
            <wsdlsoap:operation soapAction="consultaNodosSQI" style="document"/>
            <wsdl:input name="consultaNodosSQI3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaNodosSQI3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarNodosSQI">
            <wsdlsoap:operation soapAction="listarNodosSQI" style="document"/>
            <wsdl:input name="listarNodosSQI4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarNodosSQI4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarNodoSQI">
            <wsdlsoap:operation soapAction="modificarNodoSQI" style="document"/>
            <wsdl:input name="modificarNodoSQI5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarNodoSQI5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerNodosSQI">
            <wsdlsoap:operation soapAction="obtenerNodosSQI" style="document"/>
            <wsdl:input name="obtenerNodosSQI6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerNodosSQI6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvGestionSqiServiceService">
        <wsdl:documentation> 
            El servicio para la gestion de los nodos SQI
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvGestionSqiServiceSoapBinding" name="SrvGestionSqiService">
            <wsdlsoap:address location="http://localhost:8080/buscar/services/SrvGestionSqiService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>