src/modules/agrega/entregar/src/main/resources/es/pode/entregar/negocio/servicios/SrvEntregarService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvEntregarService" 
    targetNamespace="http://servicios.negocio.entregar.pode.es"
    xmlns:impl="http://servicios.negocio.entregar.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.entregar.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="cargarObjManifest">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo obtenerObjManifest
                        El Empaquetador, llamara a este metodo del servicio para guardar
                        el manifest en memoria;
                        El método cogerá el objeto serializado lo deserializará obtendrá
                        un manifest y lo metará en memoria (HashMap)
                        Devolvera un string que sera el identificador
                        este identificador estara formado con el id del manifest
                        (manifest.getIdentifier()) y el prefijo EMP
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="fichManifest" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Objeto Manifest serializado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="cargarObjManifestResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="cargarObjManifestReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="estoyActivo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        este método se usa para saber si un servicio está levantado o
                        no.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="estoyActivoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="estoyActivoReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="generarPaquetePIF">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo recibe un identificador de un ODE.
                        Devuelve el paquete PIF con todos los elementos que contiene el
                        ODE y el resultado de la validación todo ello en un
                        PaquetePifVO.
                        Para entregar el paquete, el metodo tiene que localizar la
                        informacion referente al ODE en disco (invocar al localizador),
                        despues tiene que validar la informacion (invocar al validador)
                        para despues generar el paquete.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE del que se requiere el paquete.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="generarPaquetePIFResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="generarPaquetePIFReturn" type="impl:PaquetePifDriVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="generarPaquetePIFTipoPIF">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo se comporta como el homonimo de la clase pero
                        permite configurar el formato del fichero PIF que se devuelve
                        entre la coleccion de formatos que se soportan por la clase
                        TiposPIF.
                        Toma como parametro de entrada el identificador del ODE y el
                        tipo de fichero PIF que desea a la salida de entre los posibles
                        por la clase TipoPIF.
                        Devuelve el ODE el formato PIF con el tipo escogido y el
                        resultado de la validación todo ello en un PaquetePifVO.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="tipoPifVO" type="impl:TipoPifVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="generarPaquetePIFTipoPIFResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="generarPaquetePIFTipoPIFReturn" type="impl:PaquetePifVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="localizacionPaquetePIF">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="localizacionPaquetePIFResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="localizacionPaquetePIFReturn" type="impl:LocalizadorAdlVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerOrganizaciones">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        metodo obtenerOrganizaciones
                        dependiendo del valor del prefijo del identificador, tendremos
                        que hacer:
                        1.- si el valor es EMPAQUETADOR, tendremos que buscar el
                        manifest en la HashMap que tendremos cargada en memoria, la
                        trataremos y devolveremos el array de tipo OrganizacionVO[]
                        2.- si el valor es BUSCADOR, tendremos que recuperar el
                        manifest. Para ello, llamaremos al metodo consultaLocalizador
                        con el id y en uno de los atributos del LocalizadorVO (ruta)
                        obtendremos la ruta donde estara nuestro fichero manifest.xml;
                        una vez tengamos el fichero, se parseara con la libreria
                        (generada por Castor) y trataremos los datos devolviendo un
                        array OrganizacionVO[]
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="argObtenerOrganizaciones" type="impl:ArgObtOrganizacionesVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerOrganizacionesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerOrganizacionesReturn" type="impl:ManifestVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTiposPIF">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve un array de Strings con todos los tipos de
                        formatos PIF que maneja el modulo de Entregar. Los propios
                        Strings son identificadores para ulteriores llamadas de peticion
                        de conversion de formato de ODEs.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerTiposPIFResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTiposPIFReturn" type="impl:ArrayOfxsd_string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ArgObtOrganizacionesVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="identificador" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="usuario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaTitulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CargarManifestExcepcion">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CBValidoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="esValidoManifest" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resultadoValidacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rutaManifest" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ControlModeVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="choice" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="choiceExit" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="flow" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="forwardOnly" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GeneraPIFException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GeneraPIFTipoPIFException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfItemVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ItemVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ItemVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idItem" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idItem_ref" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hrefRec" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="clicable" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="secuenciaItem" nillable="true" type="impl:SecuenciaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idPadre" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idOrg" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="visible" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="recurso" nillable="false" type="impl:RecursoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="itemHijos" nillable="true" type="impl:ArrayOfItemVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LocalizadorAdlVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="path" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="url" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificador" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idUsuario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ManifestVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="organizaciones" nillable="false" type="impl:ArrayOfOrganizacionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Array de organizaciones
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="localizacionURL" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Contiene la localizacion del ODE, para su posterior
                                representacion visual
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ObtenerOrganizacionesException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganizacionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idOrg" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tituloOrg" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="secuenciaOrg" nillable="true" type="impl:SecuenciaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="clicable" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idPadre" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="items" nillable="false" type="impl:ArrayOfItemVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfOrganizacionVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:OrganizacionVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PaquetePifDriVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="resultadoValidacion" nillable="false" type="impl:CBValidoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="paquetePIF" nillable="false" type="apachesoap:DataHandler">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PaquetePifVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="resultadoValidacion" nillable="false" type="impl:CBValidoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="href" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RecursoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idRec" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hrefRec" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SecuenciaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="controlMode" nillable="true" type="impl:ControlModeVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TipoPifVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idODE" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del ODE a exportar
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoPif" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                indica el tipo de formato que se quiere exportar. los posibles
                                valores posibles son:
                                SCORM_2004
                                SCORM_2004_SIN_SUBMANIFIESTO
                                SCORM_12
                                IMS_CP
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="cargarObjManifest1Request">
        <wsdl:part element="impl:cargarObjManifest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cargarObjManifest1Response">
        <wsdl:part element="impl:cargarObjManifestResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estoyActivo2Request">
        <wsdl:part element="impl:estoyActivo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estoyActivo2Response">
        <wsdl:part element="impl:estoyActivoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarPaquetePIF3Request">
        <wsdl:part element="impl:generarPaquetePIF" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarPaquetePIF3Response">
        <wsdl:part element="impl:generarPaquetePIFResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarPaquetePIFTipoPIF4Request">
        <wsdl:part element="impl:generarPaquetePIFTipoPIF" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarPaquetePIFTipoPIF4Response">
        <wsdl:part element="impl:generarPaquetePIFTipoPIFResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="localizacionPaquetePIF5Request">
        <wsdl:part element="impl:localizacionPaquetePIF" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="localizacionPaquetePIF5Response">
        <wsdl:part element="impl:localizacionPaquetePIFResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerOrganizaciones6Request">
        <wsdl:part element="impl:obtenerOrganizaciones" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerOrganizaciones6Response">
        <wsdl:part element="impl:obtenerOrganizacionesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTiposPIF7Request">
        <wsdl:part element="impl:obtenerTiposPIF" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTiposPIF7Response">
        <wsdl:part element="impl:obtenerTiposPIFResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvEntregarService">
        <wsdl:operation name="cargarObjManifest">
                
            <wsdl:documentation> 
                Metodo obtenerObjManifest
                El Empaquetador, llamara a este metodo del servicio para guardar
                el manifest en memoria;
                El método cogerá el objeto serializado lo deserializará obtendrá
                un manifest y lo metará en memoria (HashMap)
                Devolvera un string que sera el identificador
                este identificador estara formado con el id del manifest
                (manifest.getIdentifier()) y el prefijo EMP
            </wsdl:documentation>
            <wsdl:input message="impl:cargarObjManifest1Request" 
                        name="cargarObjManifest1Request"/>
            <wsdl:output message="impl:cargarObjManifest1Response" 
                         name="cargarObjManifest1Response"/>
        </wsdl:operation>
        <wsdl:operation name="estoyActivo">
                
            <wsdl:documentation> 
                este método se usa para saber si un servicio está levantado o
                no.
            </wsdl:documentation>
            <wsdl:input message="impl:estoyActivo2Request" 
                        name="estoyActivo2Request"/>
            <wsdl:output message="impl:estoyActivo2Response" 
                         name="estoyActivo2Response"/>
        </wsdl:operation>
        <wsdl:operation name="generarPaquetePIF">
                
            <wsdl:documentation> 
                Este metodo recibe un identificador de un ODE.
                Devuelve el paquete PIF con todos los elementos que contiene el
                ODE y el resultado de la validación todo ello en un
                PaquetePifVO.
                Para entregar el paquete, el metodo tiene que localizar la
                informacion referente al ODE en disco (invocar al localizador),
                despues tiene que validar la informacion (invocar al validador)
                para despues generar el paquete.
            </wsdl:documentation>
            <wsdl:input message="impl:generarPaquetePIF3Request" 
                        name="generarPaquetePIF3Request"/>
            <wsdl:output message="impl:generarPaquetePIF3Response" 
                         name="generarPaquetePIF3Response"/>
        </wsdl:operation>
        <wsdl:operation name="generarPaquetePIFTipoPIF">
                
            <wsdl:documentation> 
                Este metodo se comporta como el homonimo de la clase pero
                permite configurar el formato del fichero PIF que se devuelve
                entre la coleccion de formatos que se soportan por la clase
                TiposPIF.
                Toma como parametro de entrada el identificador del ODE y el
                tipo de fichero PIF que desea a la salida de entre los posibles
                por la clase TipoPIF.
                Devuelve el ODE el formato PIF con el tipo escogido y el
                resultado de la validación todo ello en un PaquetePifVO.
            </wsdl:documentation>
            <wsdl:input message="impl:generarPaquetePIFTipoPIF4Request" 
                        name="generarPaquetePIFTipoPIF4Request"/>
            <wsdl:output message="impl:generarPaquetePIFTipoPIF4Response" 
                         name="generarPaquetePIFTipoPIF4Response"/>
        </wsdl:operation>
        <wsdl:operation name="localizacionPaquetePIF">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:localizacionPaquetePIF5Request" 
                        name="localizacionPaquetePIF5Request"/>
            <wsdl:output message="impl:localizacionPaquetePIF5Response" 
                         name="localizacionPaquetePIF5Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerOrganizaciones">
                
            <wsdl:documentation> 
                metodo obtenerOrganizaciones
                dependiendo del valor del prefijo del identificador, tendremos
                que hacer:
                1.- si el valor es EMPAQUETADOR, tendremos que buscar el
                manifest en la HashMap que tendremos cargada en memoria, la
                trataremos y devolveremos el array de tipo OrganizacionVO[]
                2.- si el valor es BUSCADOR, tendremos que recuperar el
                manifest. Para ello, llamaremos al metodo consultaLocalizador
                con el id y en uno de los atributos del LocalizadorVO (ruta)
                obtendremos la ruta donde estara nuestro fichero manifest.xml;
                una vez tengamos el fichero, se parseara con la libreria
                (generada por Castor) y trataremos los datos devolviendo un
                array OrganizacionVO[]
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerOrganizaciones6Request" 
                        name="obtenerOrganizaciones6Request"/>
            <wsdl:output message="impl:obtenerOrganizaciones6Response" 
                         name="obtenerOrganizaciones6Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTiposPIF">
                
            <wsdl:documentation> 
                Este metodo devuelve un array de Strings con todos los tipos de
                formatos PIF que maneja el modulo de Entregar. Los propios
                Strings son identificadores para ulteriores llamadas de peticion
                de conversion de formato de ODEs.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTiposPIF7Request" 
                        name="obtenerTiposPIF7Request"/>
            <wsdl:output message="impl:obtenerTiposPIF7Response" 
                         name="obtenerTiposPIF7Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvEntregarServiceSoapBinding" type="impl:SrvEntregarService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="cargarObjManifest">
            <wsdlsoap:operation soapAction="cargarObjManifest" style="document"/>
            <wsdl:input name="cargarObjManifest1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="cargarObjManifest1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="estoyActivo">
            <wsdlsoap:operation soapAction="estoyActivo" style="document"/>
            <wsdl:input name="estoyActivo2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="estoyActivo2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="generarPaquetePIF">
            <wsdlsoap:operation soapAction="generarPaquetePIF" style="document"/>
            <wsdl:input name="generarPaquetePIF3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generarPaquetePIF3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="generarPaquetePIFTipoPIF">
            <wsdlsoap:operation soapAction="generarPaquetePIFTipoPIF" style="document"/>
            <wsdl:input name="generarPaquetePIFTipoPIF4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generarPaquetePIFTipoPIF4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="localizacionPaquetePIF">
            <wsdlsoap:operation soapAction="localizacionPaquetePIF" style="document"/>
            <wsdl:input name="localizacionPaquetePIF5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="localizacionPaquetePIF5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerOrganizaciones">
            <wsdlsoap:operation soapAction="obtenerOrganizaciones" style="document"/>
            <wsdl:input name="obtenerOrganizaciones6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerOrganizaciones6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTiposPIF">
            <wsdlsoap:operation soapAction="obtenerTiposPIF" style="document"/>
            <wsdl:input name="obtenerTiposPIF7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTiposPIF7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvEntregarServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvEntregarServiceSoapBinding" name="SrvEntregarService">
            <wsdlsoap:address location="http://localhost:8080/entregar/services/SrvEntregarService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>