src/modules/agrega/fuentestaxonomicas/src/main/resources/es/pode/fuentestaxonomicas/negocio/servicio/SrvTesaurosServices.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvTesaurosServices" 
    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:impl="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="chequearExistenciaIdioma">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="chequearExistenciaIdiomaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="chequearExistenciaIdiomaReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerJerarquia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerJerarquiaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerJerarquiaReturn" type="impl:ArrayOfJerarquiaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerPrimerNivelTesauro">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerPrimerNivelTesauroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerPrimerNivelTesauroReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminos">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="texto" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosReturn" type="impl:ArrayOfJerarquiaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionadosPorId">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionadosPorIdResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosRelacionadosPorIdReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionadosPorTexto">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="textoTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionadosPorTextoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosRelacionadosPorTextoReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionAsociativa">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionAsociativaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosRelacionAsociativaReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionJerarquica">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionJerarquicaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosRelacionJerarquicaReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTextosDeIds">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTextosDeIdsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTextosDeIdsReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerVocabName">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerVocabNameResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerVocabNameReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerVocabNames">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nomTesauros" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerVocabNamesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerVocabNamesReturn" type="impl:ArrayOfxsd_string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="JerarquiaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="jerarquia" nillable="false" type="impl:ArrayOfTaxonVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfJerarquiaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:JerarquiaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TaxonVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Representa un taxon particular dentro de una taxonomia. Esta
                        compuesto por un identificador, un valor y un campo para
                        identificar si el taxon es hoja dentro de la taxonomia.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del taxon dentro de la taxonomia a la que
                                pertenece.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valorTax" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valor del taxon en la taxonomia a la que pertenece.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esHoja" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Flag que indica si el taxon tiene descendientes en la taxonomia
                                a la que pertenece.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vocabName" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoRelacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTaxonVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TaxonVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="chequearExistenciaIdioma1Request">
        <wsdl:part element="impl:chequearExistenciaIdioma" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="chequearExistenciaIdioma1Response">
        <wsdl:part element="impl:chequearExistenciaIdiomaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerJerarquia2Request">
        <wsdl:part element="impl:obtenerJerarquia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerJerarquia2Response">
        <wsdl:part element="impl:obtenerJerarquiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerPrimerNivelTesauro3Request">
        <wsdl:part element="impl:obtenerPrimerNivelTesauro" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerPrimerNivelTesauro3Response">
        <wsdl:part element="impl:obtenerPrimerNivelTesauroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminos4Request">
        <wsdl:part element="impl:obtenerTerminos" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminos4Response">
        <wsdl:part element="impl:obtenerTerminosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionadosPorId5Request">
        <wsdl:part element="impl:obtenerTerminosRelacionadosPorId" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionadosPorId5Response">
        <wsdl:part element="impl:obtenerTerminosRelacionadosPorIdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionadosPorTexto6Request">
        <wsdl:part element="impl:obtenerTerminosRelacionadosPorTexto" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionadosPorTexto6Response">
        <wsdl:part element="impl:obtenerTerminosRelacionadosPorTextoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionAsociativa7Request">
        <wsdl:part element="impl:obtenerTerminosRelacionAsociativa" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionAsociativa7Response">
        <wsdl:part element="impl:obtenerTerminosRelacionAsociativaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionJerarquica8Request">
        <wsdl:part element="impl:obtenerTerminosRelacionJerarquica" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionJerarquica8Response">
        <wsdl:part element="impl:obtenerTerminosRelacionJerarquicaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTextosDeIds9Request">
        <wsdl:part element="impl:obtenerTextosDeIds" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTextosDeIds9Response">
        <wsdl:part element="impl:obtenerTextosDeIdsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabName10Request">
        <wsdl:part element="impl:obtenerVocabName" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabName10Response">
        <wsdl:part element="impl:obtenerVocabNameResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabNames11Request">
        <wsdl:part element="impl:obtenerVocabNames" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabNames11Response">
        <wsdl:part element="impl:obtenerVocabNamesResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvTesaurosServices">
        <wsdl:operation name="chequearExistenciaIdioma">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:chequearExistenciaIdioma1Request" 
                        name="chequearExistenciaIdioma1Request"/>
            <wsdl:output message="impl:chequearExistenciaIdioma1Response" 
                         name="chequearExistenciaIdioma1Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerJerarquia">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerJerarquia2Request" 
                        name="obtenerJerarquia2Request"/>
            <wsdl:output message="impl:obtenerJerarquia2Response" 
                         name="obtenerJerarquia2Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerPrimerNivelTesauro">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerPrimerNivelTesauro3Request" 
                        name="obtenerPrimerNivelTesauro3Request"/>
            <wsdl:output message="impl:obtenerPrimerNivelTesauro3Response" 
                         name="obtenerPrimerNivelTesauro3Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminos">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminos4Request" 
                        name="obtenerTerminos4Request"/>
            <wsdl:output message="impl:obtenerTerminos4Response" 
                         name="obtenerTerminos4Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminosRelacionadosPorId">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminosRelacionadosPorId5Request" 
                        name="obtenerTerminosRelacionadosPorId5Request"/>
            <wsdl:output message="impl:obtenerTerminosRelacionadosPorId5Response" 
                         name="obtenerTerminosRelacionadosPorId5Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminosRelacionadosPorTexto">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminosRelacionadosPorTexto6Request" 
                        name="obtenerTerminosRelacionadosPorTexto6Request"/>
            <wsdl:output message="impl:obtenerTerminosRelacionadosPorTexto6Response" 
                         name="obtenerTerminosRelacionadosPorTexto6Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminosRelacionAsociativa">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminosRelacionAsociativa7Request" 
                        name="obtenerTerminosRelacionAsociativa7Request"/>
            <wsdl:output message="impl:obtenerTerminosRelacionAsociativa7Response" 
                         name="obtenerTerminosRelacionAsociativa7Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminosRelacionJerarquica">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminosRelacionJerarquica8Request" 
                        name="obtenerTerminosRelacionJerarquica8Request"/>
            <wsdl:output message="impl:obtenerTerminosRelacionJerarquica8Response" 
                         name="obtenerTerminosRelacionJerarquica8Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTextosDeIds">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTextosDeIds9Request" 
                        name="obtenerTextosDeIds9Request"/>
            <wsdl:output message="impl:obtenerTextosDeIds9Response" 
                         name="obtenerTextosDeIds9Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerVocabName">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerVocabName10Request" 
                        name="obtenerVocabName10Request"/>
            <wsdl:output message="impl:obtenerVocabName10Response" 
                         name="obtenerVocabName10Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerVocabNames">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerVocabNames11Request" 
                        name="obtenerVocabNames11Request"/>
            <wsdl:output message="impl:obtenerVocabNames11Response" 
                         name="obtenerVocabNames11Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvTesaurosServicesSoapBinding" type="impl:SrvTesaurosServices">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="chequearExistenciaIdioma">
            <wsdlsoap:operation soapAction="chequearExistenciaIdioma" style="document"/>
            <wsdl:input name="chequearExistenciaIdioma1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="chequearExistenciaIdioma1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerJerarquia">
            <wsdlsoap:operation soapAction="obtenerJerarquia" style="document"/>
            <wsdl:input name="obtenerJerarquia2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerJerarquia2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerPrimerNivelTesauro">
            <wsdlsoap:operation soapAction="obtenerPrimerNivelTesauro" style="document"/>
            <wsdl:input name="obtenerPrimerNivelTesauro3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerPrimerNivelTesauro3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminos">
            <wsdlsoap:operation soapAction="obtenerTerminos" style="document"/>
            <wsdl:input name="obtenerTerminos4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminos4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminosRelacionadosPorId">
            <wsdlsoap:operation soapAction="obtenerTerminosRelacionadosPorId" style="document"/>
            <wsdl:input name="obtenerTerminosRelacionadosPorId5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminosRelacionadosPorId5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminosRelacionadosPorTexto">
            <wsdlsoap:operation soapAction="obtenerTerminosRelacionadosPorTexto" style="document"/>
            <wsdl:input name="obtenerTerminosRelacionadosPorTexto6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminosRelacionadosPorTexto6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminosRelacionAsociativa">
            <wsdlsoap:operation soapAction="obtenerTerminosRelacionAsociativa" style="document"/>
            <wsdl:input name="obtenerTerminosRelacionAsociativa7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminosRelacionAsociativa7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminosRelacionJerarquica">
            <wsdlsoap:operation soapAction="obtenerTerminosRelacionJerarquica" style="document"/>
            <wsdl:input name="obtenerTerminosRelacionJerarquica8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminosRelacionJerarquica8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTextosDeIds">
            <wsdlsoap:operation soapAction="obtenerTextosDeIds" style="document"/>
            <wsdl:input name="obtenerTextosDeIds9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTextosDeIds9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerVocabName">
            <wsdlsoap:operation soapAction="obtenerVocabName" style="document"/>
            <wsdl:input name="obtenerVocabName10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerVocabName10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerVocabNames">
            <wsdlsoap:operation soapAction="obtenerVocabNames" style="document"/>
            <wsdl:input name="obtenerVocabNames11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerVocabNames11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvTesaurosServicesService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvTesaurosServicesSoapBinding" name="SrvTesaurosServices">
            <wsdlsoap:address location="http://localhost:8080/fuentestaxonomicas/services/SrvTesaurosServices"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>