src/modules/agrega/buscar/src/main/resources/es/pode/buscar/negocio/administrar/servicio/SrvNodoService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvNodoService" 
    targetNamespace="http://servicio.administrar.negocio.buscar.pode.es"
    xmlns:impl="http://servicio.administrar.negocio.buscar.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.administrar.negocio.buscar.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="crearNodo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nodo" type="impl:NodoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearNodoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearNodoReturn" type="soapenc:int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarNodo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfsoapenc_long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarNodoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarNodoReturn" type="impl:ValidaBajaNodoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="estaDadoAlta">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="url" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="urlWS" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="estaDadoAltaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="estaDadoAltaReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="existeNombreNodo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombreNodo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="existeNombreNodoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="existeNombreNodoReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarNodos">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarNodosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarNodosReturn" type="impl:ArrayOfNodoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="modificarNodo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nodo" type="impl:NodoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarNodoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarNodoReturn" type="soapenc:int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCCAA">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerCCAAResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCCAAReturn" type="impl:CcaaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCCAAs">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerCCAAsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCCAAsReturn" type="impl:ArrayOfCcaaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerNodo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerNodoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerNodoReturn" type="impl:NodoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerServicio">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerServicioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerServicioReturn" type="impl:ServicioVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerServicios">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerServiciosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerServiciosReturn" type="impl:ArrayOfServicioVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="CcaaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="codigo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCcaaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:CcaaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NodoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nodo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="url" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaAlta" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="puerto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlWS" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idNodo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del nodo que se va a publicar en la plataforma
                                Agrega.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ccaa" nillable="true" type="impl:CcaaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="servicio" nillable="true" type="impl:ArrayOfServicioVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfNodoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:NodoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfServicioVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ServicioVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ServicioVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="url" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ValidaBajaNodoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nodosBorrados" nillable="false" type="impl:ArrayOfNodoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcionBaja" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfsoapenc_long">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="soapenc:long" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="crearNodo1Request">
        <wsdl:part element="impl:crearNodo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearNodo1Response">
        <wsdl:part element="impl:crearNodoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarNodo2Request">
        <wsdl:part element="impl:eliminarNodo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarNodo2Response">
        <wsdl:part element="impl:eliminarNodoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estaDadoAlta3Request">
        <wsdl:part element="impl:estaDadoAlta" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estaDadoAlta3Response">
        <wsdl:part element="impl:estaDadoAltaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="existeNombreNodo4Request">
        <wsdl:part element="impl:existeNombreNodo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="existeNombreNodo4Response">
        <wsdl:part element="impl:existeNombreNodoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarNodos5Request">
        <wsdl:part element="impl:listarNodos" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarNodos5Response">
        <wsdl:part element="impl:listarNodosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarNodo6Request">
        <wsdl:part element="impl:modificarNodo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarNodo6Response">
        <wsdl:part element="impl:modificarNodoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCCAA7Request">
        <wsdl:part element="impl:obtenerCCAA" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCCAA7Response">
        <wsdl:part element="impl:obtenerCCAAResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCCAAs8Request">
        <wsdl:part element="impl:obtenerCCAAs" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCCAAs8Response">
        <wsdl:part element="impl:obtenerCCAAsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNodo9Request">
        <wsdl:part element="impl:obtenerNodo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNodo9Response">
        <wsdl:part element="impl:obtenerNodoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerServicio10Request">
        <wsdl:part element="impl:obtenerServicio" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerServicio10Response">
        <wsdl:part element="impl:obtenerServicioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerServicios11Request">
        <wsdl:part element="impl:obtenerServicios" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerServicios11Response">
        <wsdl:part element="impl:obtenerServiciosResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvNodoService">
        <wsdl:operation name="crearNodo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:crearNodo1Request" 
                        name="crearNodo1Request"/>
            <wsdl:output message="impl:crearNodo1Response" 
                         name="crearNodo1Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarNodo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarNodo2Request" 
                        name="eliminarNodo2Request"/>
            <wsdl:output message="impl:eliminarNodo2Response" 
                         name="eliminarNodo2Response"/>
        </wsdl:operation>
        <wsdl:operation name="estaDadoAlta">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:estaDadoAlta3Request" 
                        name="estaDadoAlta3Request"/>
            <wsdl:output message="impl:estaDadoAlta3Response" 
                         name="estaDadoAlta3Response"/>
        </wsdl:operation>
        <wsdl:operation name="existeNombreNodo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:existeNombreNodo4Request" 
                        name="existeNombreNodo4Request"/>
            <wsdl:output message="impl:existeNombreNodo4Response" 
                         name="existeNombreNodo4Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarNodos">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarNodos5Request" 
                        name="listarNodos5Request"/>
            <wsdl:output message="impl:listarNodos5Response" 
                         name="listarNodos5Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarNodo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarNodo6Request" 
                        name="modificarNodo6Request"/>
            <wsdl:output message="impl:modificarNodo6Response" 
                         name="modificarNodo6Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCCAA">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCCAA7Request" 
                        name="obtenerCCAA7Request"/>
            <wsdl:output message="impl:obtenerCCAA7Response" 
                         name="obtenerCCAA7Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCCAAs">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCCAAs8Request" 
                        name="obtenerCCAAs8Request"/>
            <wsdl:output message="impl:obtenerCCAAs8Response" 
                         name="obtenerCCAAs8Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerNodo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerNodo9Request" 
                        name="obtenerNodo9Request"/>
            <wsdl:output message="impl:obtenerNodo9Response" 
                         name="obtenerNodo9Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerServicio">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerServicio10Request" 
                        name="obtenerServicio10Request"/>
            <wsdl:output message="impl:obtenerServicio10Response" 
                         name="obtenerServicio10Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerServicios">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerServicios11Request" 
                        name="obtenerServicios11Request"/>
            <wsdl:output message="impl:obtenerServicios11Response" 
                         name="obtenerServicios11Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvNodoServiceSoapBinding" type="impl:SrvNodoService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="crearNodo">
            <wsdlsoap:operation soapAction="crearNodo" style="document"/>
            <wsdl:input name="crearNodo1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearNodo1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarNodo">
            <wsdlsoap:operation soapAction="eliminarNodo" style="document"/>
            <wsdl:input name="eliminarNodo2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarNodo2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="estaDadoAlta">
            <wsdlsoap:operation soapAction="estaDadoAlta" style="document"/>
            <wsdl:input name="estaDadoAlta3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="estaDadoAlta3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="existeNombreNodo">
            <wsdlsoap:operation soapAction="existeNombreNodo" style="document"/>
            <wsdl:input name="existeNombreNodo4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="existeNombreNodo4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarNodos">
            <wsdlsoap:operation soapAction="listarNodos" style="document"/>
            <wsdl:input name="listarNodos5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarNodos5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarNodo">
            <wsdlsoap:operation soapAction="modificarNodo" style="document"/>
            <wsdl:input name="modificarNodo6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarNodo6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCCAA">
            <wsdlsoap:operation soapAction="obtenerCCAA" style="document"/>
            <wsdl:input name="obtenerCCAA7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCCAA7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCCAAs">
            <wsdlsoap:operation soapAction="obtenerCCAAs" style="document"/>
            <wsdl:input name="obtenerCCAAs8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCCAAs8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerNodo">
            <wsdlsoap:operation soapAction="obtenerNodo" style="document"/>
            <wsdl:input name="obtenerNodo9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerNodo9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerServicio">
            <wsdlsoap:operation soapAction="obtenerServicio" style="document"/>
            <wsdl:input name="obtenerServicio10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerServicio10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerServicios">
            <wsdlsoap:operation soapAction="obtenerServicios" style="document"/>
            <wsdl:input name="obtenerServicios11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerServicios11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvNodoServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvNodoServiceSoapBinding" name="SrvNodoService">
            <wsdlsoap:address location="http://localhost:8080/buscar/services/SrvNodoService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>